{# Copyright (C) 2014-2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2014-2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

# Postfix Transport maps for Virtual Mailman
# To update the transport map, run:
#     postmap /etc/mailman/postfix_transport

{% for domain in ([ mailman__site_domain ] + mailman__virtual_domains) %}
{{ "%-30s mailman:" | format(domain) }}
{% endfor %}

