#!{{ ansible_python['executable'] }}

# {{ ansible_managed }}

from __future__ import print_function
from json import dumps
import subprocess
import os


def cmd_exists(cmd):
    return any(
        os.access(os.path.join(path, cmd), os.X_OK)
        for path in os.environ["PATH"].split(os.pathsep)
    )


output = {'configured': True,
          'installed': cmd_exists('wp')}

try:
    wpcli_version_stdout = subprocess.check_output(
            ["wp", "--allow-root", "cli", "version"]
            ).decode('utf-8').strip().split()[1]
    output['version'] = wpcli_version_stdout

except Exception:
    pass

print(dumps(output, sort_keys=True, indent=4))
