{# Copyright (C) 2013 Ansgar Burchardt <ansgar@debian.org>
 # Copyright (C) 2015-2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-2.0-only
 #}
# {{ ansible_managed }}

[Unit]
Description=Deferred execution scheduler
Documentation=man:atd(8)

[Service]
EnvironmentFile=-/etc/default/atd
ExecStart=/usr/sbin/atd -f -l $BATCH_LOAD -b $BATCH_INTERVAL
IgnoreSIGPIPE=false

[Install]
WantedBy=multi-user.target

