# This file is managed by Ansible, all changes will be lost

[core]
	autocrlf	= input

[user]
	name		= {{ gitlab_email_name | default('GitLab') }}
	email		= {{ gitlab_email_from | default('git@' + gitlab_domain[0]) }}


