{# Copyright (C) 2014-2019 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2019 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
{% if item.0.forward is defined and item.0.forward %}
{{ ", ".join(item.0.forward) }}{% endif %}
