#!/bin/sh

# This file is managed by Ansible, all changes will be lost

if [ -x /usr/sbin/autopostgresqlbackup-{{ postgresql_version }}-{{ item.name | default('default') }} ]; then
        /usr/sbin/autopostgresqlbackup-{{ postgresql_version }}-{{ item.name | default('default') }}
fi
