# {{ ansible_managed }}

{% if ferm__enabled | bool and ferm__forward|bool %}
{%   if 'ip' in ferm__domains %}
# Enable IPv4 forwarding
net.ipv4.ip_forward = 1

{%   endif %}
{%  if 'ip6' in ferm__domains %}
# Enable IPv6 forwarding
net.ipv6.conf.default.forwarding = 1
net.ipv6.conf.all.forwarding = 1

# Enable IPv6 autoconfiguration (SLAAC)
net.ipv6.conf.default.accept_ra = 1
net.ipv6.conf.all.accept_ra = 1
{%   endif %}
{% else %}
# ferm support is disabled
{% endif %}
