{# Copyright (C) 2015-2020 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# DebOps system-wide configuration

{% if controller__install_systemwide|bool %}
[paths]
data-home = {{ controller__data_path }}

{% endif %}
