dn: cn=config
changetype: modify
replace: olcTLSCertificateFile
olcTLSCertificateFile: {{ slapd_pki_path + "/" + slapd_pki_realm + "/" + slapd_pki_crt }}
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ slapd_pki_path + "/" + slapd_pki_realm + "/" + slapd_pki_key }}

