dn: cn=config
changetype: modify
add: olcTLSCertificateFile
  olcTLSCertificateFile: {{ slapd_pki_path + "/" + slapd_pki_realm + "/" + slapd_pki_crt }}
-
add: olcTLSCertificateKeyFile
  olcTLSCertificateKeyFile: {{ slapd_pki_path + "/" + slapd_pki_realm + "/" + slapd_pki_key }}
-
add: olcTLSCACertificateFile
  olcTLSCACertificateFile: {{ slapd_pki_path + "/" + slapd_pki_realm + "/" + slapd_pki_ca  }}
-
add: olcTLSDHParamFile
  olcTLSDHParamFile: {{ slapd_dhparam_file }}
