dn: cn=config
changetype: modify
add: olcTLSCertificateFile
olcTLSCertificateFile: {{ slapd_pki_path + "/" + slapd_pki_realm + "/" + slapd_pki_crt }}
-
add: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ slapd_pki_path + "/" + slapd_pki_realm + "/" + slapd_pki_key }}

