{# Copyright (C) 2020 CipherMail B.V. <https://www.ciphermail.com/>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}
{%  for key in dhcpd__keys %}

{%      if key.comment|d() %}
# {{ key.comment }}
{%      endif %}
key {{ key.name }} {
{%      if key.options|d() %}
    # Custom key options
    {{ key.options|indent(4) }}
{%      endif %}

    algorithm {{ key.algorithm }};
    secret {{ key.secret }};
}
{%  endfor %}
