#!{{ ansible_python['executable'] }}
# -*- coding: utf-8 -*-

# Copyright (C) 2022 Maciej Delmanowski <drybjed@gmail.com>
# Copyright (C) 2022 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-or-later

# {{ ansible_managed }}

from __future__ import print_function
from json import dumps
from sys import exit
import subprocess
import signal
import os


def cmd_exists(cmd):
    return any(
        os.access(os.path.join(path, cmd), os.X_OK)
        for path in os.environ["PATH"].split(os.pathsep)
    )


output = {'installed': cmd_exists('keepalived')}

try:
    with open(os.devnull, 'w') as devnull:
        keepalived_stdout = subprocess.check_output(
            ["/usr/sbin/keepalived --version"],
            shell=True, stderr=subprocess.STDOUT).decode('utf-8')

except subprocess.CalledProcessError:
    pass

if keepalived_stdout:
    for line in keepalived_stdout.split('\n'):
        if line.startswith('Keepalived '):
            output['version'] = line.split()[1].lstrip('v')

print(dumps(output, sort_keys=True, indent=4))
