#!/bin/sh

# This script is managed remotely, all changes will be lost

{% if item.file is defined and item.file %}
source="{{ '../authorities/' + item.authority + '/' + item.file }}"
destination="{{ '../realms/' + item.realm + '/' + item.file }}"

test -f ${source} && ( \
  test -f ${destination} || cp -vf ${source} ${destination}
) || true
{% elif item.readlink is defined and item.readlink %}
{% if ansible_system == "Linux" %}
source="$(readlink -f {{ '../authorities/' + item.authority + '/' + item.readlink }})"
{% else %}
source=$(perl -e 'use Cwd ; print Cwd::abs_path("{{ '../authorities/' + item.authority + '/' + item.readlink }}")')
{% endif %}
destination="{{ '../realms/' + item.realm }}/$(basename ${source})"

test -f ${source} && ( \
  test -f ${destination} || cp -vf ${source} ${destination}
) || true
{% elif item.filter is defined and item.filter %}
source="{{ '../authorities/' + item.authority + '/' + item.filter }}"
destination="{{ '../realms/' + item.realm }}"

for file in ${source} ; do
  test -f ${file} && ( \
    base=$(basename ${file})
    test -f ${destination}/${base} || cp -vf ${file} ${destination}
  ) || true
done
{% endif %}

