# {{ ansible_managed }}

[client]

default-character-set   = utf8

{% if not mariadb__register_version.stdout|d(False) %}
{% if mariadb__register_tunnel is undefined or mariadb__register_tunnel.rc|d() != 0 %}
host                    = {{ mariadb__server }}
{% else %}
host                    = 127.0.0.1
{% endif %}
port                    = {{ mariadb__port }}

{% endif %}
{% if mariadb__client_options|d(False) %}
{% for key, value in mariadb__client_options.iteritems() %}
{{ key }}{% if value is not none %} = {{ value }}{% endif %}
{% endfor %}

{% endif %}
