{% if apt_cache_host is defined and apt_cache_host %}
# Access to TFTP
{% if apt_cache_allow is defined and apt_cache_allow %}
{% for address in apt_cache_allow %}
in.tftpd: {{ address }}
{% endfor %}
{% if apt_cache_allow_custom is defined and apt_cache_allow_custom %}
{% for address in apt_cache_allow_custom %}
in.tftpd: {{ address }}
{% endfor %}
{% endif %}
{% else %}
in.tftpd: ALL
{% endif %}
{% endif %}

