{# Copyright (C) 2014-2021 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
Key-Type: {{ reprepro__gpg_key_type }}
Subkey-Type: {{ reprepro__gpg_key_type }}
Key-Length: {{ reprepro__gpg_key_length }}
Subkey-Length: {{ reprepro__gpg_key_length }}
Name-Real: {{ reprepro__gpg_name }}
Name-Email: {{ reprepro__gpg_email }}
Expire-Date: {{ reprepro__gpg_expire_days }}
%no-ask-passphrase
%no-protection
%commit
