#!{{ ansible_python['executable'] }}

# {{ ansible_managed }}

from __future__ import print_function
from json import dumps

output = {'installed': True}

print(dumps(output, sort_keys=True, indent=4))
