# {{ ansible_managed }}

# ---- General options ----

{% if dnsmasq__bogus_priv|bool %}
# Don't forward reverse DNS queries for private IP addresses to upstream DNS servers.
bogus-priv
{% endif %}

# Enable connection tracking support.
conntrack

{% if dnsmasq__router|bool %}
# Enable IPv6 Router Advertisements.
enable-ra
{% endif %}

{% if dnsmasq__tftp_ipxe|bool %}
# Enable chain-loading of iPXE boot loader.
dhcp-match = set:ipxe,175
dhcp-boot = tag:!ipxe,undionly.kpxe
dhcp-boot = {{ dnsmasq__tftp_boot | d('menu.ipxe') }}
{% endif %}

# ---- Network interfaces ----

{% if dnsmasq__bind_interfaces|bool %}
# Bind only to specified interfaces (this will be set for example by libvirt
# package, so we need to just go with it).
{%   if ansible_distribution_release in [ 'wheezy' ] %}
bind-interfaces
{%   else %}
bind-dynamic
{%   endif %}
{% endif %}

# Bind to loopback interface for local DNS queries.
interface = lo
no-dhcp-interface = lo

{% if dnsmasq__public_dns|bool %}
{%   if (dnsmasq__ipv4_gateway|d() and
       hostvars[inventory_hostname]["ansible_" + dnsmasq__ipv4_gateway].ipv4|d()) %}
# Bind to local IPv4 gateway for remote DNS queries.
interface = {{ dnsmasq__ipv4_gateway }}
no-dhcp-interface = {{ dnsmasq__ipv4_gateway }}
{%   endif %}
{%   if (dnsmasq__ipv6_gateway|d() and
         dnsmasq__ipv6_gateway != dnsmasq__ipv4_gateway and
         hostvars[inventory_hostname]["ansible_" + dnsmasq__ipv6_gateway].ipv6|d()) %}
# Bind to local IPv6 gateway for remote DNS queries.
interface = {{ dnsmasq__ipv6_gateway }}
no-dhcp-interface = {{ dnsmasq__ipv6_gateway }}
{%   endif %}
{% endif %}

{% if dnsmasq__upstream_interfaces|d() %}
{%   for interface in dnsmasq__upstream_interfaces %}
{%     if ((dnsmasq__ipv4_gateway is defined and interface != dnsmasq__ipv4_gateway) and
           (dnsmasq__ipv6_gateway is defined and interface != dnsmasq__ipv6_gateway) and
           hostvars[inventory_hostname]["ansible_" + interface]|d() and
           ((hostvars[inventory_hostname]["ansible_" + interface].ipv4|d() or
            (hostvars[inventory_hostname]["ansible_" + interface].ipv6|d())))) %}
# Don't respond to DHCP or TFTP queries on this interface.
interface = {{ interface }}
no-dhcp-interface = {{ interface }}
{%     endif %}
{%   endfor %}
{% endif %}

# ---- DNS options ----

no-hosts
{% if dnsmasq__etc_hosts is string %}
addn-hosts = {{ dnsmasq__etc_hosts | quote }}
{% else %}
{%   for etc_hosts_file in dnsmasq__etc_hosts %}
addn-hosts = {{ etc_hosts_file | quote }}
{%   endfor %}
{% endif %}

# Return answers for DNS queries depending on the originating network interface.
localise-queries

# Don't forward hostname queries to remote DNS servers.
domain-needed

# Add domain to hostnames in hosts file.
expand-hosts

{% if dnsmasq__stop_dns_rebind|bool %}
# Reject private IP addresses from upstream nameservers
stop-dns-rebind
{% endif %}

# Allow rebinding of localhost IP address (for RBL support).
rebind-localhost-ok

{% if (dnsmasq__ipv4_gateway|d() and
       hostvars[inventory_hostname]["ansible_" + dnsmasq__ipv4_gateway]|d() and
       hostvars[inventory_hostname]["ansible_" + dnsmasq__ipv4_gateway].ipv4|d() and
       (not hostvars[inventory_hostname]["ansible_" + dnsmasq__ipv4_gateway].ipv4.address | ipaddr('public'))) %}
# Allow rebinding of private IP addresses on server domain (for other servers
# behind local NAT).
rebind-domain-ok = {{ ansible_domain }}
{% endif %}

# Domain used by the DHCP server.
domain = {{ dnsmasq__domain }}

{{ dnsmasq__dns_not_forward_managed }}

{% if dnsmasq__domain_mx|d() %}
# Point mails on main domain to a specific host.
mx-host = {{ dnsmasq__domain }},{{ dnsmasq__domain_mx }},10

# Each host by default maintains its own mail.
selfmx
{% endif %}

{% set dnsmasq__tpl_local_record = [] %}
{% if hostvars[inventory_hostname]["ansible_" + dnsmasq__ipv4_gateway]|d() and
      hostvars[inventory_hostname]["ansible_" + dnsmasq__ipv4_gateway].ipv4|d() %}
{%   set dnsmasq__tpl_local_record = dnsmasq__tpl_local_record + [ hostvars[inventory_hostname]["ansible_" + dnsmasq__ipv4_gateway].ipv4.address ] %}
{% endif %}
{% if hostvars[inventory_hostname]["ansible_" + dnsmasq__ipv6_gateway]|d() and
      hostvars[inventory_hostname]["ansible_" + dnsmasq__ipv6_gateway].ipv6|d() %}
{%   for element in hostvars[inventory_hostname]["ansible_" + dnsmasq__ipv6_gateway].ipv6 | map(attribute='address') | list %}
{%     if not element | ipv6('link-local') %}
{%       set _ = dnsmasq__tpl_local_record.append(element) %}
{%     endif %}
{%   endfor %}
{% endif %}
{% if dnsmasq__tpl_local_record %}
# DNS records of local server.
{% for element in dnsmasq__tpl_local_record %}
host-record = {{ ansible_fqdn }},{{ ansible_hostname }},{{ element }}
{% endfor %}
{% endif %}

{% if dnsmasq__cname is defined and dnsmasq__cname %}
# CNAME records.
{%   for host, list in dnsmasq__cname.iteritems() %}
{%     if list is string %}
cname = {{ list + '.' + dnsmasq__domain }},{{ host + '.' + dnsmasq__domain }}
{%     else %}
{%       for element in list %}
cname = {{ element + '.' + dnsmasq__domain }},{{ host + '.' + dnsmasq__domain }}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}

{% if dnsmasq__nameservers|d() %}
# Use the nameservers in this file instead of the system upstream nameservers.
resolv-file = /etc/resolvconf/upstream.conf
{% endif %}

{% if dnsmasq__dns_not_forward_reserved|d() %}
{{ dnsmasq__dns_not_forward_reserved }}
{% endif %}

{% if dnsmasq__dns_not_forward_private|d() %}
{{ dnsmasq__dns_not_forward_private }}
{% endif %}

{% if dnsmasq__options|d() %}
# ---- Global custom options ----

{{ dnsmasq__options }}
{% endif %}

{% if dnsmasq__group_options|d() %}
# ---- Group custom options ----

{{ dnsmasq__group_options }}
{% endif %}

{% if dnsmasq__host_options|d() %}
# ---- Host custom options ----

{{ dnsmasq__host_options }}
{% endif %}
