# {{ ansible_managed }}

# System-wide LXC configuration, see lxc.system.conf(5)

# Default path to LXC containers
lxc.lxcpath = {{ lxc_root_path }}

{% if (ansible_distribution == 'Debian' and
       ansible_distribution_release != 'wheezy') %}
# Use all cgroup controllers in the containers
lxc.cgroup.use = @all
{% endif %}
