# This file is managed by Ansible, all changes will be lost


# Current postfix capabilities: {{ ", ".join(postfix) }}

{% set postfix_tpl_maincf_parts = [
  'basic_options',
  'sasl_auth',
  'smtp_client',
  'archive',
  'tls',
  'postscreen_main',
  'smtpd_restrictions',
  'local_maincf' ] %}
{% for part in postfix_tpl_maincf_parts %}

# Start {{ part }}
{% include part + '.j2' %} {# here is a tactical comment
to make sure we have a whitespace following the inclusion
to avoid https://github.com/debops/ansible-postfix/issues/80 #}
{% endfor %}
