{% if (ansible_local is defined and ansible_local) and
      (ansible_local.postfix is defined and ansible_local.postfix) and
      (ansible_local.postfix.maincf is defined and ansible_local.postfix.maincf) %}

# Configuration set via Ansible role dependencies
{% for key, value in ansible_local.postfix.maincf.iteritems() %}
{{ key }} ={% if value is defined and value %} {{ value + '\n' }}{% else %}{% if (ansible_local is defined and ansible_local) and (ansible_local.postfix is defined and ansible_local.postfix) and (ansible_local.postfix.lists is defined and ansible_local.postfix.lists) and (key in ansible_local.postfix.lists.keys()) %}{% if (ansible_local.postfix.lists[key] is defined and ansible_local.postfix.lists[key]) %} {{ ansible_local.postfix.lists[key] | join(', ') }}
{% else %}{{ '\n' }}{% endif %}{% endif %}{% endif %}
{% endfor %}
{% endif %}
{% if postfix_local_maincf is defined and postfix_local_maincf %}
# Local configuration
{{ postfix_local_maincf }}
{% endif %}

