{% if ('!postscreen' not in postfix and ('postscreen' in postfix or 'mx' in postfix)) %}
# postscreen configuration (http://rob0.nodns4.us/postscreen.html)
postscreen_blacklist_action     = {{ postfix_postscreen_blacklist_action | default('drop') }}
postscreen_greet_action         = {{ postfix_postscreen_greet_action | default('enforce') }}
postscreen_dnsbl_action         = {{ postfix_postscreen_dnsbl_action | default('enforce') }}

postscreen_access_list =
{% if postfix_postscreen_access_list is defined and postfix_postscreen_access_list %}
{{ ",\n".join(postfix_postscreen_access_list) | indent(6,true) }}
{% else %}
{% set postfix_tpl_postscreen_access_list = [   'permit_mynetworks',
                                                'cidr:${config_directory}/tables/postscreen_access.cidr',
                                                ] %}
{{ ",\n".join(postfix_tpl_postscreen_access_list) | indent(6,true) }}
{% endif %}

postscreen_dnsbl_sites =
{% set postfix_tpl_postscreen_dnsbl_sites = [] %}
{% if 'dnsbl' in postfix or 'dnswl' in postfix %}
{% if 'dnsbl' in postfix and (postfix_postscreen_dnsbl_sites is defined and postfix_postscreen_dnsbl_sites) %}
{% set postfix_tpl_postscreen_dnsbl_sites = postfix_tpl_postscreen_dnsbl_sites + postfix_postscreen_dnsbl_sites %}
{% endif %}
{% if ('dnsbl' in postfix or 'dnswl' in postfix) and (postfix_postscreen_dnswl_sites is defined and postfix_postscreen_dnswl_sites) %}
{% set postfix_tpl_postscreen_dnsbl_sites = postfix_tpl_postscreen_dnsbl_sites + postfix_postscreen_dnswl_sites %}
{% endif %}
{% if ('dnsbl' in postfix or 'dnswl' in postfix) and postfix_tpl_postscreen_dnsbl_sites %}
{{ ",\n".join(postfix_tpl_postscreen_dnsbl_sites) | indent(6,true) }}
{% else %}
      # 'dnsbl' or 'dnswl' capability enabled, no DNS black/whitelists configured
{% endif %}

postscreen_dnsbl_reply_map =
{% if postfix_postscreen_dnsbl_reply_map is defined and postfix_postscreen_dnsbl_reply_map %}
{{ ",\n".join(postfix_postscreen_dnsbl_reply_map) | indent(6,true) }}
{% else %}
{% set postfix_tpl_postscreen_dnsbl_reply_map = ['pcre:$config_directory/tables/postscreen_dnsbl_reply_map.pcre'] %}
{{ ",\n".join(postfix_tpl_postscreen_dnsbl_reply_map) | indent(6,true) }}
{% endif %}

postscreen_dnsbl_threshold      = {{ postfix_postscreen_dnsbl_threshold | default('3') }}
{% else %}
      # required postfix capability: +dnsbl|+dnswl
{% endif %}

postscreen_whitelist_interfaces = static:all

# postscreen greylisting actions
postscreen_pipelining_enable    = {{ postfix_postscreen_pipelining_enable | default('yes') }}
postscreen_pipelining_action    = {{ postfix_postscreen_pipelining_action | default('enforce') }}

postscreen_non_smtp_command_enable = {{ postfix_postscreen_non_smtp_command_enable | default('yes') }}
postscreen_non_smtp_command_action = {{ postfix_postscreen_non_smtp_command_action | default('drop') }}

postscreen_bare_newline_enable  = {{ postfix_postscreen_bare_newline_enable | default('yes') }}
postscreen_bare_newline_action  = {{ postfix_postscreen_bare_newline_action | default('ignore') }}
{% else %}
# postscreen disabled, required capabilities: +mx|+postscreen
{% endif %}


