{% if 'auth' in postfix %}

# SASL authentication
smtpd_sasl_type                 = {{ postfix_smtpd_sasl_type | default('cyrus') }}
smtpd_sasl_path                 = {{ postfix_smtpd_sasl_path[postfix_smtpd_sasl_type] }}

smtpd_sasl_auth_enable          = yes
broken_sasl_auth_clients        = yes
smtpd_sasl_security_options     = noanonymous
{% endif %}


