smtpd_client_restrictions =
{% if postfix_smtpd_client_restrictions is defined and postfix_smtpd_client_restrictions %}
{{ ",\n".join(postfix_smtpd_client_restrictions) | indent(6,true) }}
{% else %}
{% set postfix_tpl_smtpd_client_restrictions = ['permit_mynetworks'] %}
{% if 'auth' in postfix and 'deprecated' in postfix %}
{% set postfix_tpl_smtpd_client_restrictions = postfix_tpl_smtpd_client_restrictions + ['permit_sasl_authenticated'] %}
{% endif %}
{% if 'null' in postfix or ('network' in postfix and 'mx' not in postfix) %}
{% set postfix_tpl_smtpd_client_restrictions = postfix_tpl_smtpd_client_restrictions + ['reject'] %}
{% endif %}
{% if postfix_tpl_smtpd_client_restrictions %}
{{ ",\n".join(postfix_tpl_smtpd_client_restrictions) | indent(6,true) }}
{% endif %}
{% endif %}

smtpd_helo_restrictions =
{% if postfix_smtpd_helo_restrictions is defined and postfix_smtpd_helo_restrictions %}
{{ ",\n".join(postfix_smtpd_helo_restrictions) | indent(6,true) }}
{% else %}
{% set postfix_tpl_smtpd_helo_restrictions = [] %}
{% if 'mx' in postfix %}
{% set postfix_tpl_smtpd_helo_restrictions = postfix_tpl_smtpd_helo_restrictions + ['reject_invalid_helo_hostname','reject_unknown_helo_hostname','reject_non_fqdn_helo_hostname'] %}
{% endif %}
{% if postfix_tpl_smtpd_helo_restrictions %}
{{ ",\n".join(postfix_tpl_smtpd_helo_restrictions) | indent(6,true) }}
{% endif %}
{% endif %}

smtpd_sender_restrictions =
{% if postfix_smtpd_sender_restrictions is defined and postfix_smtpd_sender_restrictions %}
{{ ",\n".join(postfix_smtpd_sender_restrictions) | indent(6,true) }}
{% else %}
{% set postfix_tpl_smtpd_sender_restrictions = [] %}
{% if 'mx' in postfix %}
{% set postfix_tpl_smtpd_sender_restrictions = postfix_tpl_smtpd_sender_restrictions + ['reject_unknown_sender_domain','reject_non_fqdn_sender'] %}
{% endif %}
{% if postfix_tpl_smtpd_sender_restrictions %}
{{ ",\n".join(postfix_tpl_smtpd_sender_restrictions) | indent(6,true) }}
{% endif %}
{% endif %}

# Planned for Postfix 2.10
#smtpd_relay_restrictions =
{% if postfix_smtpd_relay_restrictions is defined and postfix_smtpd_relay_restrictions %}
#{{ ",\n#".join(postfix_smtpd_relay_restrictions) | indent(6,true) }}
{% else %}
{% set postfix_tpl_smtpd_relay_restrictions = [] %}
{% if 'mx' in postfix %}
{% set postfix_tpl_smtpd_relay_restrictions = postfix_tpl_smtpd_relay_restrictions + ['reject_non_fqdn_recipient', 'reject_unknown_recipient_domain', 'permit_mynetworks'] %}
{% endif %}
{% if not postfix_tpl_smtpd_relay_restrictions %}
{% set postfix_tpl_smtpd_relay_restrictions = postfix_tpl_smtpd_relay_restrictions + ['permit_mynetworks'] %}
{% endif %}
{% if 'submission' in postfix %}
{% set postfix_tpl_smtpd_relay_restrictions = postfix_tpl_smtpd_relay_restrictions + ['permit_sasl_authenticated', 'reject_unauth_destination'] %}
{% endif %}
{% if 'reject_unauth_destination' not in postfix_tpl_smtpd_relay_restrictions %}
{% set postfix_tpl_smtpd_relay_restrictions = postfix_tpl_smtpd_relay_restrictions + ['reject_unauth_destination'] %}
{% endif %}
{% if postfix_tpl_smtpd_relay_restrictions %}
#{{ ",\n#".join(postfix_tpl_smtpd_relay_restrictions) | indent(6,true) }}
{% endif %}
{% endif %}

smtpd_recipient_restrictions =
{% if postfix_smtpd_recipient_restrictions is defined and postfix_smtpd_recipient_restrictions %}
{{ ",\n".join(postfix_smtpd_recipient_restrictions) | indent(6,true) }}
{% else %}
{% set postfix_tpl_smtpd_recipient_restrictions = [] %}
{% if 'mx' in postfix %}
{% set postfix_tpl_smtpd_recipient_restrictions = postfix_tpl_smtpd_recipient_restrictions + ['reject_non_fqdn_recipient', 'reject_unknown_recipient_domain', 'permit_mynetworks'] %}
{% endif %}
{% if not postfix_tpl_smtpd_recipient_restrictions %}
{% set postfix_tpl_smtpd_recipient_restrictions = postfix_tpl_smtpd_recipient_restrictions + ['permit_mynetworks'] %}
{% endif %}
{% if 'submission' in postfix %}
{% set postfix_tpl_smtpd_recipient_restrictions = postfix_tpl_smtpd_recipient_restrictions + ['permit_sasl_authenticated', 'reject_unauth_destination'] %}
{% endif %}
{% if 'reject_unauth_destination' not in postfix_tpl_smtpd_recipient_restrictions %}
{% set postfix_tpl_smtpd_recipient_restrictions = postfix_tpl_smtpd_recipient_restrictions + ['reject_unauth_destination'] %}
{% endif %}
{% if 'reject_unauth_destination' in postfix_tpl_smtpd_recipient_restrictions and 'mx' in postfix %}
{% set postfix_tpl_smtpd_recipient_restrictions = postfix_tpl_smtpd_recipient_restrictions + ['check_sender_access hash:${config_directory}/hash_tables/sender_mydomains_access','check_sender_mx_access cidr:${config_directory}/tables/mx_access.cidr', 'check_helo_mx_access cidr:${config_directory}/tables/mx_access.cidr'] %}
{% endif %}
{% if postfix_tpl_smtpd_recipient_restrictions %}
{{ ",\n".join(postfix_tpl_smtpd_recipient_restrictions) | indent(6,true) }}
{% endif %}
{% endif %}

smtpd_data_restrictions =
{% if postfix_smtpd_data_restrictions is defined and postfix_smtpd_data_restrictions %}
{{ ",\n".join(postfix_smtpd_data_restrictions) | indent(6,true) }}
{% else %}
{% set postfix_tpl_smtpd_data_restrictions = [] %}
{% if 'mx' in postfix %}
{% set postfix_tpl_smtpd_data_restrictions = postfix_tpl_smtpd_data_restrictions + ['reject_unauth_pipelining','reject_multi_recipient_bounce'] %}
{% endif %}
{% if postfix_tpl_smtpd_data_restrictions %}{{ ",\n".join(postfix_tpl_smtpd_data_restrictions) | indent(6,true) }}{% endif %}
{% endif %}


