# TLS parameters
{% if postfix_pki is defined and postfix_pki | bool %}
{% set postfix_tpl_tls_cert_file         = postfix_pki_path + "/" + postfix_pki_realm + "/" + postfix_pki_crt %}
{% set postfix_tpl_tls_key_file          = postfix_pki_path + "/" + postfix_pki_realm + "/" + postfix_pki_key %}
{% set postfix_tpl_smtpd_tls_dh512_param_file  = postfix_smtpd_tls_dh512_param_file %}
{% set postfix_tpl_smtpd_tls_dh1024_param_file = postfix_smtpd_tls_dh1024_param_file %}
smtpd_tls_cert_file             = {{ postfix_tpl_tls_cert_file }}
smtpd_tls_key_file              = {{ postfix_tpl_tls_key_file }}
{% if postfix_tpl_smtpd_tls_dh1024_param_file %}
smtpd_tls_dh1024_param_file     = {{ postfix_tpl_smtpd_tls_dh1024_param_file }}
{% endif %}
{% if postfix_tpl_smtpd_tls_dh512_param_file %}
smtpd_tls_dh512_param_file      = {{ postfix_tpl_smtpd_tls_dh512_param_file }}
{% endif %}

{% endif %}
tls_high_cipherlist             = !aNULL:ALL:!EXPORT:!LOW:!MEDIUM:!DES:!3DES:!MD5:!RC4:@STRENGTH
tls_medium_cipherlist           = !aNULL:ALL:!EXPORT:!LOW:!DES:!3DES:!MD5:!RC4:@STRENGTH
tls_low_cipherlist              = !aNULL:ALL:!EXPORT:!DES:!3DES:!MD5:!RC4:@STRENGTH

smtpd_tls_auth_only             = yes
smtpd_tls_received_header       = yes
smtpd_tls_security_level        = {{ postfix_smtpd_tls_security_level | default('may') }}
smtpd_tls_ciphers               = {{ postfix_smtpd_tls_ciphers | default('medium') }}
smtpd_tls_exclude_ciphers       = aNULL, DES, 3DES, MD5, DES+MD5, RC4
smtpd_tls_protocols             = !SSLv2, !SSLv3, TLSv1, TLSv1.1, TLSv1.2

smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

smtp_tls_note_starttls_offer    = yes
smtp_tls_security_level         = {{ postfix_smtp_tls_security_level | default('may') }}
smtp_tls_ciphers                = {{ postfix_smtp_tls_ciphers | default('high') }}
smtp_tls_exclude_ciphers        = aNULL, DES, 3DES, MD5, DES+MD5, RC4
smtp_tls_protocols              = !SSLv2, !SSLv3, TLSv1, TLSv1.1, TLSv1.2
smtp_tls_CApath                 = /etc/ssl/certs


