#!{{ ansible_python['executable'] }}

# {{ ansible_managed }}

from __future__ import print_function
from json import dumps, loads
from sys import exit
import os


def cmd_exists(cmd):
    return any(
        os.access(os.path.join(path, cmd), os.X_OK)
        for path in os.environ["PATH"].split(os.pathsep)
    )


output = loads('''{{
    {"configured": True,
     "flavor": nscd__flavor
    } | to_nice_json }}''')

output['installed'] = cmd_exists('nscd')

print(dumps(output, sort_keys=True, indent=4))
