# {{ ansible_managed }}

user {{ nginx_user }};

worker_priority {{ nginx_worker_priority }};
worker_processes {{ nginx_worker_processes }};
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

pid /var/run/nginx.pid;

events {
	worker_connections {{ nginx_worker_connections }};
}

http {
	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	server_tokens {{ nginx_server_tokens }};

	server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};
	server_names_hash_max_size {{ nginx_server_names_hash_max_size }};

	ssl_session_cache shared:SSL:10m;
	ssl_session_timeout 5m;

	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout {{ nginx_keepalive_timeout }};
	types_hash_max_size 2048;

	# Logging
	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	gzip on;
	gzip_disable "msie6";

	# Virtual Hosts Configs
	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;
}

# vim:ft=nginx


