# {{ ansible_managed }}

[Unit]
Description=Advanced key-value store - Sentinel
After=network.target
Documentation=http://redis.io/documentation, man:redis-sentinel(1)

[Service]
Type=oneshot
ExecStart=/bin/true
ExecReload=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Alias=sentinel.service
