{# Copyright (C) 2021 Émile <emile@globenet.org>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
/*
  {{ ansible_managed }}

  This file must be valid JSON. But comments are allowed
*/
{
    "production": {
        "domain": "{{ hedgedoc__domain }}",
        "loglevel": "warn",
        "cookiePolicy": "lax",
        "db": {
            "username": "{{ hedgedoc__database_user }}",
            "password": "{{ hedgedoc__database_password }}",
            "database": "{{ hedgedoc__database_name }}",
            "host": "{{ hedgedoc__database_server }}",
            "port": "3306",
            "dialect": "mysql"
        }
    }
}
