{
    "production": {
        "domain": "{{ hedgedoc__domain }}",
        "loglevel": "warn",
        "cookiePolicy": "lax",
        "db": {
            "username": "{{ hedgedoc__database_user }}",
            "password": "{{ hedgedoc__database_password }}",
            "database": "{{ hedgedoc__database_name }}",
            "host": "{{ hedgedoc__database_server }}",
            "port": "3306",
            "dialect": "mysql"
        }
    }
}
