{# Copyright (C) 2021 Émile <emile@globenet.org>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

gitdir: {{ hedgedoc__src_dir + '/' + hedgedoc__repository }}
