// Copyright (C) 2021 Émile <emile@globenet.org>
// Copyright (C) 2021 DebOps <https://debops.org/>
// SPDX-License-Identifier: GPL-3.0-only

// {{ ansible_managed }}

var path = require('path');

module.exports = {
    'config':          path.resolve('config.json'),
    'migrations-path': path.resolve('lib', 'migrations'),
    'models-path':     path.resolve('lib', 'models'),
    'url':             '{{ hedgedoc__database_config }}'
}

