{% set item = item.0 %}
# {{ ansible_managed }}

[client]

{% if mariadb_server != "localhost" %}
host                    = {{ item.server | d(mariadb_server) }}
port                    = {{ item.server_port | d(mariadb_port) }}
{% else %}
# host                    = {{ item.server | d(mariadb_server) }}
# port                    = {{ item.server_port | d(mariadb_port) }}
{% endif %}
user                    = {{ item.user | d(item.name) }}
password                = "{{ item.password | default(lookup('password', secret + '/mariadb/' + mariadb_delegate_to | d('undefined') + '/credentials/' + item.user | d(item.name) + '/password ' + 'length=' + mariadb_password_length)) }}"
{% if item.database|d(False) %}
database                = {{ item.database }}
{% endif %}
{% if item.options|d(False) %}
{{ item.options }}
{% endif %}

