# {{ ansible_managed }}

{% if ansible_distribution == 'Debian' %}
deb http://{{ apt_debian_http_mirror }}/debian {{ ansible_lsb['codename'] }} main contrib non-free
deb http://security.debian.org/ {{ ansible_lsb['codename'] }}/updates main contrib non-free
{% if ansible_lsb['codename'] != 'jessie' %}{# not yet available #}
deb http://{{ apt_debian_http_mirror }}/debian {{ ansible_lsb['codename'] }}-updates main contrib non-free
{% endif %}
{% if ansible_lsb['codename'] == 'wheezy' %}
deb http://{{ apt_debian_http_mirror }}/debian {{ ansible_lsb['codename'] }}-backports main contrib non-free
{% endif %}
{% endif %}

