{# Copyright (C) 2018 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2018 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
{% for host in play_hosts %}
  - 'icinga/dependent_config/{{ host }}'
{% endfor %}
