#!{{ ansible_python['executable'] }}
# -*- coding: utf-8 -*-

# Copyright (C) 2019-2023 Robin Schneider <ypid@riseup.net>
# Copyright (C) 2019-2023 DebOps https://debops.org/
# SPDX-License-Identifier: GPL-3.0-only

# {{ ansible_managed }}

from __future__ import print_function
from json import dumps
import os


def cmd_exists(cmd):
    return any(
        os.access(os.path.join(path, cmd), os.X_OK)
        for path in os.environ["PATH"].split(os.pathsep)
    )


output = {'installed': cmd_exists('borgbackup'),
          'borgmatic_installed': cmd_exists('borgmatic')}

print(dumps(output, sort_keys=True, indent=4))
