{# Copyright (C) 2015-2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

# DebOps system-wide configuration

{% if debops__install_systemwide|bool %}
[paths]
data-home = {{ debops__data_path }}

{% endif %}
