# This file is managed by Ansible, all changes will be lost
# Enable apt-cacher-ng proxy (-t filter -A INPUT)

{% if (apt is defined and apt) and apt != True %}
protocol tcp dport acng {
{% if apt_acng_allow is defined and apt_acng_allow %}
	@def $ITEMS = ( @ipfilter( ({{ apt_acng_allow | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
{% else %}
	ACCEPT;
{% endif %}
}
{% endif %}

