# This file is managed by Ansible, all changes will be lost

{% if dnsmasq_public_dns is defined and dnsmasq_public_dns %}
# Accept incoming DNS requests on all networks
protocol (tcp udp) dport domain ACCEPT;
{% else %}
# Public DNS server is disabled
{% endif %}

