# This file is managed by Ansible, all changes will be lost

{% if dnsmasq_public_dns is defined and not dnsmasq_public_dns %}
# Accept incoming DNS requests on internal network
interface {{ item.interface }} protocol (tcp udp) dport domain ACCEPT;

{% else %}
# Public DNS server is enabled, dnsmasq accepts connections on all interfaces

{% endif %}

{% if item.interface not in dnsmasq_no_dhcp_interfaces %}
{% if dnsmasq_dhcpv4 is defined and dnsmasq_dhcpv4 %}
# Accept incoming DHCPv4 requests on internal network
@if @eq ($DOMAIN, ip) interface {{ item.interface }} protocol udp dport bootps ACCEPT;

{% else %}
# DHCPv4 server is disabled

{% endif %}
{% if dnsmasq_dhcpv6 is defined and dnsmasq_dhcpv6 %}
# Accept incoming DHCPv6 requests on internal network
@if @eq ($DOMAIN, ip6) interface {{ item.interface }} protocol (tcp udp) saddr fe80::/16 daddr ff02::1:2 dport (dhcpv6-client dhcpv6-server) ACCEPT;

{% else %}
# DHCPv6 server is disabled

{% endif %}
{% endif %}

{% if dnsmasq_tftp is defined and dnsmasq_tftp %}
# Accept connections to TFTP server on internal network
interface {{ item.interface }} protocol udp dport tftp ACCEPT;

{% else %}
# TFTP server is disabled

{% endif %}
