# {{ ansible_managed }}
{#
 # The dovecot_ferm() macro will generate a ferm input filter section
 # for a network service. The arguments must be a service name and
 # (service) and a dictionary of inet_listener properties (properties).
 #}
{% macro dovecot_ferm(service, properties) %}
# dovecot_ferm(service={{ service }}, properties={{ properties }})
{% if properties %}
{% if 'port' in properties %}{% set ferm_service = properties['port'] %}{% endif %}
{% if 'allow' in properties %}{% set ferm_allow = properties['allow'] %}{% endif %}
{% endif %}
{% if not ferm_allow is defined %}{% set ferm_allow = [] %}{% endif %}
{% if ferm_allow != False %}
protocol tcp dport {{ ferm_service|default(service) }} {
{% if ferm_allow %}
	@def $ITEMS = ( @ipfilter( ({{ ferm_allow | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
{% else %}
    ACCEPT;
{% endif %}
}
{% endif %}
{% endmacro %}

{% if 'imap' in dovecot_protocols %}
{% for service in dovecot_imap_listeners|default([]) %}
{% if dovecot_imap_config_map is defined and dovecot_imap_config_map %}
{% set dovecot_tpl_imap_svc_props = ([ dovecot_imap_config_map ] | map(attribute='login-service') | list | map(attribute='inet_listener') | list | map(attribute=service) | list)[0] %}
# service_props={{ dovecot_tpl_imap_svc_props|default({}) }}
{% endif %}
{{ dovecot_ferm(service, dovecot_tpl_imap_svc_props|default({})) }}
{% endfor %}
{% endif %}
{% if 'pop3' in dovecot_protocols %}
{% for service in dovecot_pop3_listeners|default([]) %}
{% if dovecot_pop3_config_map is defined and dovecot_pop3_config_map %}
{% set dovecot_tpl_pop3_svc_props = ([ dovecot_pop3_config_map ] | map(attribute='login-service') | list | map(attribute='inet_listener') | list | map(attribute=service) | list)[0] %}
# service_props={{ dovecot_tpl_pop3_svc_props|default({}) }}
{% endif %}
{{ dovecot_ferm(service, dovecot_tpl_pop3_svc_props|default({})) }}
{% endfor %}
{% endif %}
{% if 'managesieve' in dovecot_protocols %}
{% for service in dovecot_managesieve_listeners|default([]) %}
{% if dovecot_managesieve_config_map is defined and dovecot_managesieve_config_map %}
{% set dovecot_tpl_sieve_svc_props = ([ dovecot_managesieve_config_map ] | map(attribute='login-service') | list | map(attribute='inet_listener') | list | map(attribute=service) | list)[0] %}
# service_props={{ dovecot_tpl_sieve_svc_props|default({}) }}
{% endif %}
{#{{ dovecot_ferm(service | replace('managesieve', 'sieve'), dovecot_tpl_sieve_svc_props|default({})) }}#}
{{ dovecot_ferm(service, dovecot_tpl_sieve_svc_props|default({})) }}
{% endfor %}
{% endif %}
