# {{ ansible_managed }}

{% if dovecot_allow_imap is defined and 'imap' in dovecot_protocols %}
protocol tcp dport imap {
{% if dovecot_allow_imap is defined and dovecot_allow_imap %}
	@def $ITEMS = ( @ipfilter( ({{ dovecot_allow_imap | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
{% elif dovecot_allow_imap is defined and not dovecot_allow_imap %}
	ACCEPT;
{% endif %}
}
{% endif %}

{% if dovecot_allow_imaps is defined and 'imaps' in dovecot_protocols %}
protocol tcp dport imaps {
{% if dovecot_allow_imaps is defined and dovecot_allow_imaps %}
	@def $ITEMS = ( @ipfilter( ({{ dovecot_allow_imaps | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
{% elif dovecot_allow_imaps is defined and not dovecot_allow_imaps %}
	ACCEPT;
{% endif %}
}
{% endif %}

{% if dovecot_allow_pop3 is defined and 'pop3' in dovecot_protocols %}
protocol tcp dport pop3 {
{% if dovecot_allow_pop3 is defined and dovecot_allow_pop3 %}
	@def $ITEMS = ( @ipfilter( ({{ dovecot_allow_pop3 | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
{% elif dovecot_allow_pop3 is defined and not dovecot_allow_pop3 %}
	ACCEPT;
{% endif %}
}
{% endif %}

{% if dovecot_allow_pop3s is defined and 'pop3s' in dovecot_protocols %}
protocol tcp dport pop3s {
{% if dovecot_allow_pop3s is defined and dovecot_allow_pop3s %}
	@def $ITEMS = ( @ipfilter( ({{ dovecot_allow_pop3s | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
{% elif dovecot_allow_pop3s is defined and not dovecot_allow_pop3s %}
	ACCEPT;
{% endif %}
}
{% endif %}

{% if dovecot_allow_managesieve is defined and 'managesieve' in dovecot_protocols %}
protocol tcp dport sieve {
{% if dovecot_allow_managesieve is defined and dovecot_allow_managesieve %}
	@def $ITEMS = ( @ipfilter( ({{ dovecot_allow_managesieve | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
{% elif dovecot_allow_managesieve is defined and not dovecot_allow_managesieve %}
	ACCEPT;
{% endif %}
}
{% endif %}
