# This file is managed by Ansible, all changes will be lost

# Limit new connections on {{ item.dport | join(',') }} port.
# Allow no more than {{ item.hits | default('5') }} connection attempts from a source IP in {{ item.seconds | default('300') }} seconds.
{#

List of parameters:

Required:
  item.dport		list of destination ports to configure

Optional:
  item.protocol		list of protocols to configure (tcp, udp)
  item.syn              if defined and True, match SYN packets, if defined and
                        False, match !SYN packets
  item.seconds		time in seconds to count between hits
  item.hits		how many connections in item.seconds to allow
  item.disabled		if True, disable the rule (can be used to toggle rule via variable)
  item.enabled		if True, enable the rule (can be used to toggle rule via variable)

#}

{% if ((item.syn is defined and item.syn) or
       (item.syn is defined and item.syn in [ 'True', 'true', 'Yes', 'yes' ])) %}
{%   set ferm_tpl_syn = 'syn' %}
{% elif ((item.syn is defined and not item.syn) or
        (item.syn is defined and item.syn in [ 'False', 'false', 'no', 'no' ])) %}
{%   set ferm_tpl_syn = '!syn' %}
{% endif %}
{% if ((item.disabled is undefined or
       (item.disabled is defined and not item.disabled) or
       (item.disabled is defined and item.disabled in [ 'False', 'false', 'No', 'no' ])) and
       (item.enabled is undefined or
       (item.enabled is defined and item.enabled) or
       (item.enabled is defined and item.enabled in [ 'True', 'true', 'Yes', 'yes' ]))) %}
protocol ({{ item.protocol | default(['tcp']) | join(' ') }}){% if ferm_tpl_syn is defined %} {{ ferm_tpl_syn }}{% endif %} dport ({{ item.dport | join(' ') }}) {

	@subchain "dport-limit-{{ item.dport[0] }}" {
		mod recent name {{ item.dport[0] | upper }} {
			set NOP;
			update seconds {{ item.seconds | default('300') }} hitcount {{ item.hits | default('5') }} @subchain "dport-log-{{ item.dport[0] }}" {
				mod recent set name "badguys" {
					mod limit limit 3/hour limit-burst 5 {
						LOG log-prefix "iptables-blocked-{{ item.dport[0] }}: " log-level warning;
					}
					DROP;
				}
			}
		}
	}

	ACCEPT;
}
{% else %}
# dport_limit rule has been disabled by a variable
{% endif %}


