# This file is managed by Ansible, all changes will be lost

{% if nfs_server is defined and nfs_server == True %}
protocol (tcp udp) dport (sunrpc nfs {{ nfs_server_callback_port }} {{ nfs_server_statd_port }} {{ nfs_server_statd_outgoing_port }} {{nfs_server_rpcmountd_port }} {{ nfs_server_lockd_port }}) {
	@def $ITEMS = ( @ipfilter( ({{ nfs_server_allow | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
}
{% endif %}


