# {{ ansible_managed }}

{% if postgresql_server_allow is defined and postgresql_server_allow %}
# Default allow list for local PostgreSQL clusters
protocol tcp dport {{ item.port }} {
	@def $ITEMS = ( @ipfilter( ({{ postgresql_server_allow | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
}

{% else %}
# Default PostgreSQL allow list is empty

{% endif %}
{% if item.allow is defined and item.allow %}
protocol tcp dport {{ item.port }} {
	@def $ITEMS = ( @ipfilter( ({{ item.allow | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
}
{% endif %}

