# This file is managed by Ansible, all changes will be lost

# Current postfix capabilities: {{ ','.join(postfix) }}

{% if 'network' in postfix and ('mx' in postfix or 'submission' in postfix) %}
{% if postfix_allow_smtp is defined %}
protocol tcp dport smtp {
{% if postfix_allow_smtp is defined and postfix_allow_smtp %}
	@def $ITEMS = ( @ipfilter( ({{ postfix_allow_smtp | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
{% elif postfix_allow_smtp is defined and not postfix_allow_smtp %}
	ACCEPT;
{% endif %}
}
{% endif %}
{% else %}
# smtp - required capabilities: +network +mx|+submission
{% endif %}

{% if 'network' in postfix and 'submission' in postfix and 'deprecated' in postfix %}
{% if postfix_allow_smtps is defined %}
protocol tcp dport smtps {
{% if postfix_allow_smtps is defined and postfix_allow_smtps %}
	@def $ITEMS = ( @ipfilter( ({{ postfix_allow_smtps | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
{% elif postfix_allow_smtps is defined and not postfix_allow_smtps %}
	ACCEPT;
{% endif %}
}
{% endif %}
{% else %}
# smtps - required capabilities: +network +submission +deprecated
{% endif %}

{% if 'network' in postfix and 'submission' in postfix %}
{% if postfix_allow_submission is defined %}
protocol tcp dport submission {
{% if postfix_allow_submission is defined and postfix_allow_submission %}
	@def $ITEMS = ( @ipfilter( ({{ postfix_allow_submission | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
{% elif postfix_allow_submission is defined and not postfix_allow_submission %}
	ACCEPT;
{% endif %}
}
{% endif %}
{% else %}
# submission - required capabilities: +network +submission
{% endif %}


