# This file is managed by Ansible, all changes will be lost

{{ owncloud_data_path }}/owncloud.log {
	rotate 12
	weekly
	missingok
	notifempty
	compress
	su {{ owncloud_user }} {{ owncloud_group }}
	delaycompress
}


