{% set repository = item.0 %}
# This file is managed by Ansible, all changes will be lost

{% for section in reprepro_pulls %}
{% if section.Distribution == repository %}
{% for key, value in section.iteritems() %}
{% if key not in [ 'Distribution', 'Components', 'UDebComponents' ] and value %}
{{ key }}: {{ value }}
{% endif %}
{% endfor %}
{% if section.Components is defined and section.Components %}
Components: {{ section.Components }}
{% endif %}
{% if section.UDebComponents is defined and section.UDebComponents %}
UDebComponents: {{ section.UDebComponents }}
{% endif %}
{% if section.Architectures is undefined %}
Architectures: {{ reprepro_architectures | join(" ") }}
{% endif %}

{% endif %}
{% endfor %}
