{# Copyright (C) 2016 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2016 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
{% if (ansible_local.core.admin_private_email|d()) %}
{%   for address in ansible_local.core.admin_private_email %}
- [ '{{ address.split("@") | first }}', '{{ address }}' ]
{%   endfor %}
{% endif %}
