# {{ ansible_managed }}

# --------------------------------------------------------------------------
# This file is assembled from parts in /etc/network/interfaces.d/ by Ansible
# Changes to this file will be overwritten!
# --------------------------------------------------------------------------


