# {{ ansible_managed }}

# Using this cron file requires an additional user on your system, please see install docs.

33  */6   * * *   {{ librenms_user }}    {{ librenms_install_path }}/discovery.php -h all >> /dev/null 2>&1
*/5  *    * * *   {{ librenms_user }}    {{ librenms_install_path }}/discovery.php -h new >> /dev/null 2>&1
*/5  *    * * *   {{ librenms_user }}    {{ librenms_install_path }}/cronic {{ librenms_install_path }}/poller-wrapper.py {{ librenms_cron_threads }} >> /dev/null 2>&1
*/5  *    * * *   {{ librenms_user }}    {{ librenms_install_path }}/check-services.php >> /dev/null 2>&1
15   0    * * *   {{ librenms_user }}    {{ librenms_install_path }}/daily.sh >> /dev/null 2>&1
*    *    * * *   {{ librenms_user }}    {{ librenms_install_path }}/alerts.php >> /dev/null 2>&1

