# The .mailmap configuration file
#
# This list is used by git-shortlog to fix a few botched name translations
# in the git archive, either because the author's full name was messed up and/or
# not always written the same way, making contributions from the same person
# appearing not to be so or badly displayed.
#
# To check the summary of user contributions, you can execute:
#
#     git shortlog -sne
#
# Users with e-mail addresses in the '@users.noreply.github.com' domain created
# commits via the GitHub web interface. These e-mails should preferably be
# replaced by the real user e-mail addresses.


Carl Alexander <carlalexander@gmail.com> <carlalexander@users.noreply.github.com>
Alin Alexandru <alinalexandru2001@gmail.com> Alin Alexandru <alin.alexandru@innobyte.com>
André Jucovsky Bianchi <drebs@riseup.net> drebs <drebs@riseup.net>
Jonatan Bjork <jonatan@jonatanblue.se> jonatanblue <jonatanblue@users.noreply.github.com>
Fabio Bonelli <fbonelli@gmail.com> Fabio Bonelli <fb@fabiobonelli.it>
Fabio Bonelli <fbonelli@gmail.com> Fabio Bonelli <fbonelli@energievalsabbia.it>
Alban Browaeys <alban.browaeys@gmail.com> <prahal@yahoo.com>
Michael Buluma <michael@buluma.me.ke> Michael Buluma <buluma@users.noreply.github.com>
Andreas Bürki <abuerki@anidor.com> AnBuKu <AnBuKu@users.noreply.github.com>
Matt Callaghan <github@fermulator.fastmail.org> Fermulator
Oussema Cherni <oussemos@gmail.com> Oussema CHERNI <oussemos@gmail.com>
Thomas Danielsson <thomas.danielsson@evalent.com> <tumd@users.noreply.github.com>
Maciej Delmanowski <drybjed@gmail.com> <drybjed@drybjed.net>
Reto Gantenbein <reto.gantenbein@linuxmonk.ch> <reto.gantenbein@inofix.ch>
Jérémy Gardais <jeremy.gardais@univ-rennes1.fr> ipr-cnrs <jeremy.gardais@univ-rennes1.fr>
Jérémy Gardais <jeremy.gardais@univ-rennes1.fr> Gardouille <gardouille@gmail.com>
Alexy Gavrilov <le9i0nx@gmail.com> le9i0nx <le9i0nx@gmail.com>
Alexy Gavrilov <le9i0nx@gmail.com> Gavrilov Aleksej <le9i0nx@gmail.com>
Alexy Gavrilov <le9i0nx@gmail.com> Gavrilov Alexy <le9i0nx@gmail.com>
Alexy Gavrilov <le9i0nx@gmail.com> Aleksey Gavrilov <le9i0nx@gmail.com>
Hartmut Goebel <h.goebel@crazy-compilers.com> Hartmut Goebel <htgoebel@users.noreply.github.com>
Tomoyuki Harada <harada.tomoyuki03@gmail.com> tharada
Patrick Heeney <patrickheeney@gmail.com>
Mariska Hoogenboom <tallandtree@gmail.com> <m.hoogenboom@nl.ccv.eu>
Mariska Hoogenboom <tallandtree@gmail.com> tallandtree <tallandtree@gmail.com>
Imre Jonk <imre@imrejonk.nl> Imre Jonk <mail@imrejonk.nl>
Werner M. Krauß <werner.krauss@netwerkstatt.at> wernerkrauss <werner.krauss@netwerkstatt.at>
Nilesh Londhe <nilesh@cloudgeni.us> Nilesh Londhe <lvnilesh@users.noreply.github.com>
lk <lk@openmailbox.org> lk <lk-minot@users.noreply.github.com>
Bruno Mattarollo <bruno.mattarollo@gmail.com> <bruno@southern-path.com>
Mathieu MD <mathieu.md@gmail.com> Mathieu MD <mathieumd@users.noreply.github.com>
Alexander Mette <mail@amette.eu> amette <git@amette.eu>
Alexander Mette <mail@amette.eu> amette
Oliver Mueller <oliver@teqneers.de> <root@fermi.teqneers.de>
Tobias Mueller <muelli@cryptobitch.de> muelli <muelli@cryptobitch.de>
Korbinian Preisler <kpreisler@virtual-things.biz> Korbinian <kpreisler@virtual-things.biz>
Nicolas Quiniou-Briand <nqb@inverse.ca> nqb <nqb@users.noreply.github.com>
Nicolas Quiniou-Briand <nqb@inverse.ca> nqb <nqb+git@azyx.fr>
Nicolas Quiniou-Briand <nqb@inverse.ca> Nicolas Quiniou-Briand <nqb@inverse.ca> nqb <nqb+git@azyx.fr>
Florian Rinke <github@florianrinke.de> <github+debops@florianrinke.de>
Michael Scherer <misc@redhat.com> Michael Scherer <mscherer@users.noreply.github.com>
Rainer 'rei' Schuth <rainer.schuth@ifesca.de> R. S <42579587+rei-ifesca@users.noreply.github.com>
Rainer 'rei' Schuth <rainer.schuth@ifesca.de> Rainer 'rei' Schuth <devel@reixd.net>
Russell T. Sherman <russell.t.sherman@gmail.com> Russell Sherman <russell.t.sherman@gmail.com>
Russell T. Sherman <russell.t.sherman@gmail.com> Russell <russell.t.sherman@gmail.com>
Russell T. Sherman <russell.t.sherman@gmail.com> Russell <russell@union-pos.com>
Kamila Součková <kamila@ksp.sk> Kamila Souckova <kamila@ksp.sk>
Norbert Summer <git@o-g.at> TuxCoder <git@o-g.at>
Patryk Ściborek <patryk@sciborek.com> <patryk.sciborek@comp.com.pl>
Wojciech Sciesinski <wojciech@sciesinski.net> Wojciech Sciesinski <it-praktyk@users.noreply.github.com>
Thiago Talma <thiagotalma@gmail.com> <thiago@thiagomt.com>
Thiago Talma <thiagotalma@gmail.com> <thiagotalma@users.noreply.github.com>
Serge Victor <github@random.re> <ser@users.noreply.github.com>
Serge Victor <github@random.re> Dr Serge Victor <github@random.re>
Hendrik Visage <hvisage@envisage.co.za> hvisage <hvisage@users.noreply.github.com>
Nick Volynkin <nick.volynkin@gmail.com> Nick Volynkin <NickVolynkin@users.noreply.github.com>
Hanno - Felix Wagner <h.wagner@kugu-home.com> pokerazor
Juergen Waibel <j.waibel@jwd-software.de>
Stefan G. Weichinger <office@oops.co.at> Stefan G. Weichinger <lists@xunil.at>
Andreas Zilian <zilian@icloud.com> Andreas Zilian <anzil@users.noreply.github.com>
