# The .mailmap configuration file
#
# This list is used by git-shortlog to fix a few botched name translations
# in the git archive, either because the author's full name was messed up and/or
# not always written the same way, making contributions from the same person
# appearing not to be so or badly displayed.
#
# To check the summary of user contributions, you can execute:
#
#     git shortlog -sne
#
# Users with e-mail addresses in the '@users.noreply.github.com' domain created
# commits via the GitHub web interface. These e-mails should preferably be
# replaced by the real user e-mail addresses.


Carl Alexander <carlalexander@gmail.com> <carlalexander@users.noreply.github.com>
Fabio Bonelli <fbonelli@gmail.com> Fabio Bonelli <fb@fabiobonelli.it>
Fabio Bonelli <fbonelli@gmail.com> Fabio Bonelli <fbonelli@energievalsabbia.it>
Alban Browaeys <alban.browaeys@gmail.com> <prahal@yahoo.com>
Andreas Bürki <abuerki@anidor.com> AnBuKu <AnBuKu@users.noreply.github.com>
Maciej Delmanowski <drybjed@gmail.com> <drybjed@drybjed.net>
Reto Gantenbein <reto.gantenbein@linuxmonk.ch> <reto.gantenbein@inofix.ch>
Alexy Gavrilov <le9i0nx@gmail.com> le9i0nx <le9i0nx@gmail.com>
Alexy Gavrilov <le9i0nx@gmail.com> Gavrilov Aleksej <le9i0nx@gmail.com>
Alexy Gavrilov <le9i0nx@gmail.com> Gavrilov Alexy <le9i0nx@gmail.com>
Patrick Heeney <patrickheeney@gmail.com>
Mariska Hoogenboom <tallandtree@gmail.com> <m.hoogenboom@nl.ccv.eu>
Mariska Hoogenboom <tallandtree@gmail.com> tallandtree <tallandtree@gmail.com>
Bruno Mattarollo <bruno.mattarollo@gmail.com> <bruno@southern-path.com>
Oliver Mueller <oliver@teqneers.de> <root@fermi.teqneers.de>
Tobias Mueller <muelli@cryptobitch.de> muelli <muelli@cryptobitch.de>
Florian Rinke <github@florianrinke.de> <github+debops@florianrinke.de>
Russell T. Sherman <russel.t.sherman@gmail.com> Russell Sherman <russell.t.sherman@gmail.com>
Russell T. Sherman <russel.t.sherman@gmail.com> Russell <russell.t.sherman@gmail.com>
Patryk Ściborek <patryk@sciborek.com> <patryk.sciborek@comp.com.pl>
Thiago Talma <thiagotalma@gmail.com> <thiago@thiagomt.com>
Thiago Talma <thiagotalma@gmail.com> <thiagotalma@users.noreply.github.com>
Serge Victor <github@random.re> <ser@users.noreply.github.com>
Serge Victor <github@random.re> Dr Serge Victor <github@random.re>
Hendrik Visage <hvisage@envisage.co.za> hvisage <hvisage@users.noreply.github.com>
Juergen Waibel <j.waibel@jwd-software.de>
