# Python package manifest

# Package Ansible roles and playbooks. They will be located inside of the
# 'debops' package to not conflict with the Ansible project itself.
# To make this possible, the setup script will symlink the existing 'ansible/'
# directory to 'debops/ansible/' during package creation.
graft debops/ansible
global-exclude *.py[cod] __pycache__ *.so *.swp *.retry .fuse_hidden*

# Include other files as package data
include debops/padlock-script
include README.md
include CHANGELOG.rst
include LICENSE
include VERSION
