{# Copyright (C) 2025 Patryk Ściborek <patryk@sciborek.com>
 # Copyright (C) 2025 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
{% for tunnel in cloudflared__combined_tunnels %}
{%   if tunnel.state | d('present') == 'present' %}
  - '{{ cloudflared__secret_base_path + "/" + tunnel.name }}'
{%   endif %}
{% endfor %}
