# {{ ansible_managed }}

{% set redis__tpl_version = (redis__register_server_version.stdout if redis__register_server_version|d() else '0.0.0') %}
{% macro print_config(configuration) %}
{%   if configuration is mapping %}
{%     for config_key in configuration.keys() %}
{%       if (config_key in redis__server_static_options and (config_key not in redis__server_version_config_map.keys() or (redis__tpl_version is version_compare(redis__server_version_config_map[config_key], '>=')))) %}
{%         if configuration[config_key] is string and not configuration[config_key] | bool %}
{%           if configuration[config_key]|d() %}
{{ config_key }} {{ configuration[config_key] }}
{%           endif %}
{%         elif configuration[config_key] | bool and configuration[config_key] is not iterable %}
{%           if configuration[config_key] | string == '1' %}
{{ config_key }} {{ configuration[config_key] }}
{%           else %}
{{ config_key }} yes
{%           endif %}
{%         elif not configuration[config_key] | bool and configuration[config_key] is not iterable %}
{%           if configuration[config_key] is not none %}
{%             if configuration[config_key] | int %}
{{ config_key }} {{ configuration[config_key] }}
{%             else %}
{%               if configuration[config_key] | string == '0' %}
{{ config_key }} {{ configuration[config_key] }}
{%               else %}
{{ config_key }} no
{%               endif %}
{%             endif %}
{%           endif %}
{%         elif configuration[config_key] is iterable and configuration[config_key] is not string and configuration[config_key] is not mapping %}
{{ config_key }} {{ configuration[config_key] | join(' ') }}
{%         endif %}
{%       endif %}
{%     endfor %}
{%   elif configuration is iterable and configuration is not string and configuration is not mapping %}
{%     for element in configuration %}
{{ print_config(element) -}}
{%     endfor %}
{%   endif %}
{% endmacro %}
{{ print_config(redis__server_combined_configuration) }}
