# {{ ansible_managed }}

# This is a stub 'redis.conf' configuration file meant only to hold the Redis
# password. If this file is here, it means that the Redis Server was not
# installed on this host.

port {{ redis__server_port }}
masterauth "{{ redis__auth_password }}"
