# This file is managed by Ansible, all changes will be lost

# GitLab logrotate settings
# based on: http://stackoverflow.com/a/4883967

{{ gitlab_home }}/gitlab/log/*.log {
    daily
    missingok
    rotate 90
    compress
    notifempty
    copytruncate
}

{{ gitlab_home }}/gitlab-shell/gitlab-shell.log {
    daily
    missingok
    rotate 90
    compress
    notifempty
    copytruncate
}
