{# Copyright (C) 2022 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2022 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# Ensure that 'nginx.service' waits for the network services to be configured
# before starting. This avoids an issue where 'nginx' might fail because remote
# upstream servers defined by hostnames are unreachable.
# Ref: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=943934
#
# This also fixes issues with IPv6 enabled hosts where IPv6 addresses might not
# be configured at the time 'nginx' is started.
# Ref: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=861261

[Unit]
After=network-online.target
