#!/bin/bash

# {{ ansible_managed }}

# This script should be executed from cron with a parameter, for example:
# @hourly   root rsnapshot-cron-wrapper hourly
# @daily    root rsnapshot-cron-wrapper daily
# @weekly   root rsnapshot-cron-wrapper weekly
# @monthly  root rsnapshot-cron-wrapper monthly


run_all_rsnapshots () {
  local currenttype="${1}"
  local prevtype="${2}"

  for confdir in /etc/rsnapshot/* ; do
    if [ ! -r ${confdir}/disabled ] && [ -r ${confdir}/rsnapshot.conf ] ; then
      if [ -x ${confdir}/runner ] ; then
        logfile="$(mktemp)"
        nohup ${confdir}/runner ${currenttype} ${prevtype} ${logfile} >> ${logfile} 2>&1 &
      fi
    fi
  done
}

for interval in $@ ; do
  case "${interval}" in
    now)      run_all_rsnapshots  now      now      ;;
    hourly)   run_all_rsnapshots  hourly   null     ;;
    daily)    run_all_rsnapshots  daily    hourly   ;;
    weekly)   run_all_rsnapshots  weekly   daily    ;;
    monthly)  run_all_rsnapshots  monthly  weekly   ;;
    *)        echo "Error: Whaa?" && exit 1         ;;
  esac
done

