{% set kibana__tpl_output = [] %}
{% for plugin in ([ kibana__combined_plugins ] if kibana__combined_plugins is mapping else kibana__combined_plugins) %}
{%   if plugin.state|d('present') != 'absent' %}
{%     if plugin.configuration|d() %}
{%       set _ = kibana__tpl_output.append(plugin.configuration) %}
{%     elif plugin.config|d() %}
{%       set _ = kibana__tpl_output.append(plugin.config) %}
{%     endif %}
{%   endif %}
{% endfor %}
{{ kibana__tpl_output | to_yaml }}
