{% set nullmailer__tpl_remotes = [] %}
{% for entry in (nullmailer__default_remotes + nullmailer__remotes) %}
{%   set nullmailer__tpl_entry = [] %}
{%   if entry is string %}
{%     set _ = nullmailer__tpl_remotes.append(entry) %}
{%   elif entry is mapping %}
{%     if entry.host|d() %}
{%       set _ = nullmailer__tpl_entry.append(entry.host) %}
{%       set _ = nullmailer__tpl_entry.append(entry.protocol|d('smtp')) %}
{%       if (((entry.starttls|d() and entry.starttls|bool) or nullmailer__starttls|bool) and (entry.ssl is undefined or not entry.ssl|bool) and (entry.options is undefined or not entry.options)) %}
{%         set _ = nullmailer__tpl_entry.append('--starttls') %}
{%       endif %}
{%       if entry.ssl|d() and entry.ssl|bool %}
{%         set _ = nullmailer__tpl_entry.append('--ssl') %}
{%       endif %}
{%       if entry.insecure|d() and entry.insecure|bool %}
{%         set _ = nullmailer__tpl_entry.append('--insecure') %}
{%       endif %}
{%       if entry.x509fmtder|d() and entry.x509fmtder|bool %}
{%         set _ = nullmailer__tpl_entry.append('--x509fmtder') %}
{%       endif %}
{%       if entry.x509cafile|d() %}
{%         set _ = nullmailer__tpl_entry.append('--x509cafile=' + entry.x509cafile) %}
{%       endif %}
{%       if entry.x509certfile|d() %}
{%         set _ = nullmailer__tpl_entry.append('--x509certfile=' + entry.x509certfile) %}
{%       endif %}
{%       if entry.x509crlfile|d() %}
{%         set _ = nullmailer__tpl_entry.append('--x509crlfile=' + entry.x509crlfile) %}
{%       endif %}
{%       if entry.port|d() %}
{%         set _ = nullmailer__tpl_entry.append('--port=' + entry.port) %}
{%       endif %}
{%       if ((entry.auth|d() and entry.auth|bool) or (entry.auth_login|d() and entry.auth_login|bool)) %}
{%         set _ = nullmailer__tpl_entry.append('--auth-login') %}
{%       endif %}
{%       if entry.user|d() %}
{%         set _ = nullmailer__tpl_entry.append('--user=' + entry.user) %}
{%       endif %}
{%       if entry.password|d() or entry.pass|d() %}
{%         set _ = nullmailer__tpl_entry.append('--pass=' + (entry.password | d(entry.pass))) %}
{%       endif %}
{%       if entry.options|d() %}
{%         set _ = nullmailer__tpl_entry.append(entry.options if entry.options is string else entry.options|join(' ')) %}
{%       endif %}
{%       set _ = nullmailer__tpl_remotes.append(nullmailer__tpl_entry | join(' ')) %}
{%     endif %}
{%   endif %}
{% endfor %}
{% if nullmailer__tpl_remotes %}
{%   for entry in nullmailer__tpl_remotes %}
- '{{ entry }}'
{%   endfor %}
{% else %}
- ''
{% endif %}
