# iptables ferm firewall - mysql access
# {{ ansible_managed }}

protocol tcp dport {{ mysql_mysqld_port }} {
{% for network in mysql_network_allow_list %}
	saddr {{ network }} ACCEPT;
{% endfor %}
}


