# {{ ansible_managed }}
{#
# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please see the documentation for further information on configuration options:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration.html>
#}
# ---------------------------------- Cluster -----------------------------------
{#
# Use a descriptive name for your cluster:
#
# cluster.name: my-application
#}
cluster.name: {{ elasticsearch_cluster_name }}

# ------------------------------------ Node ------------------------------------
{#
# Use a descriptive name for the node:
#}
{% if elasticsearch_node_name %}
node.name: {{ elasticsearch_node_name }}
{% endif %}
{% if elasticsearch_group_workhorse in group_names %}
node.master: false
node.data: true
{% elif elasticsearch_group_coordinator in group_names %}
node.master: true
node.data: false
{% elif elasticsearch_group_loadbalancer in group_names %}
node.master: false
node.data: false
{% else %}
node.master: true
node.data: true
{% endif %}
{#
# Add custom attributes to the node:
#}
node.rack: {{ elasticsearch_node_rack }}

# ----------------------------------- Paths ------------------------------------
{#
# Path to directory where to store the data (separate multiple locations by comma):
#}
path.data: {{ elasticsearch_path_data }}
{#
# Path to log files:
#}
path.logs: {{ elasticsearch_path_logs }}
{% if elasticsearch__version_major == 1 %}
path.conf: {{ elasticsearch_path_conf }}
path.work: {{ elasticsearch_path_work }}
path.plugins: {{ elasticsearch_path_plugins }}
{% endif %}

# ----------------------------------- Memory -----------------------------------
{#
# Lock the memory on startup:
#}
{% if elasticsearch__version_major == 1 %}
bootstrap.mlockall: {{ elasticsearch_memory_mlockall | lower }}
{% else %}
bootstrap.memory_lock: {{ elasticsearch_memory_mlockall | lower }}
{% endif %}
{#
# Make sure that the `ES_HEAP_SIZE` environment variable is set to about half the memory
# available on the system and that the owner of the process is allowed to use this limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#}

# ---------------------------------- Network -----------------------------------
{#
# Set the bind address to a specific IP (IPv4 or IPv6):
#}
network.bind_host: {{ elasticsearch_bind_host }}
network.publish_host: {{ elasticsearch_publish_host }}
transport.tcp.port: {{ elasticsearch_node_port }}
transport.tcp.compress: {{ elasticsearch_compress | lower }}
http.enabled: {{ elasticsearch_http_enabled | lower }}
{#
# Set a custom port for HTTP:
#}
{% if elasticsearch_http_enabled %}
http.port: {{ elasticsearch_http_port }}
http.max_content_length: {{ elasticsearch_http_max_content_length }}
{% endif %}
{#
# For more information, see the documentation at:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html>
#}

# --------------------------------- Discovery ----------------------------------
{#
# Pass an initial list of hosts to perform discovery when new node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#}
{% if elasticsearch_discovery_ping_unicast_hosts|d([]) or
      ((elasticsearch__version_major | int == 2) and (elasticsearch_discovery_multicast_enabled|d(False))) %}
discovery.zen.ping.unicast.hosts: {{ elasticsearch_discovery_ping_unicast_hosts|d([]) }}
{% endif %}
discovery.zen.ping.timeout: {{ elasticsearch_discovery_ping_timeout }}
{% if (elasticsearch__version_major | int == 1) or (elasticsearch_discovery_multicast_enabled|d(False)) %}
discovery.zen.ping.multicast.enabled: {{ elasticsearch_discovery_multicast_enabled | lower }}
discovery.zen.ping.multicast.port: {{ elasticsearch_discovery_multicast_port }}
{% endif %}
{#
# Prevent the "split brain" by configuring the majority of nodes (total number of nodes / 2 + 1):
#}
discovery.zen.minimum_master_nodes: {{ elasticsearch_discovery_minimum_master_nodes }}
{#
# For more information, see the documentation at:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery.html>
#}

# ---------------------------------- Gateway -----------------------------------
{#
# Block initial recovery after a full cluster restart until N nodes are started:
#}
{% if elasticsearch_gateway_recover_after_nodes|d(False) %}
gateway.recover_after_nodes: {{ elasticsearch_gateway_recover_after_nodes }}
{% endif %}
{% if elasticsearch_gateway_recover_after_time|d(False) %}
gateway.recover_after_time: {{ elasticsearch_gateway_recover_after_time }}
{% endif %}
{% if elasticsearch_gateway_expected_nodes|d(False) %}
gateway.expected_nodes: {{ elasticsearch_gateway_expected_nodes }}
{% endif %}
{% if elasticsearch__version_major | int == 1 %}
gateway.type: {{ elasticsearch_gateway_type }}
{% endif %}
{#
# For more information, see the documentation at:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-gateway.html>
#}

# ---------------------------------- Indices -----------------------------------
index.number_of_shards: {{ elasticsearch_index_shards }}
index.number_of_replicas: {{ elasticsearch_index_replicas }}

# ---------------------------------- Recovery ----------------------------------
{% if elasticsearch_recovery_node_concurrent_recoveries|d(False) %}
cluster.routing.allocation.node_concurrent_recoveries: {{ elasticsearch_recovery_node_concurrent_recoveries }}
{% endif %}
{% if elasticsearch_recovery_node_initial_primaries_recoveries|d(False) %}
cluster.routing.allocation.node_install_primaries_recoveries: {{ elasticsearch_recovery_node_initial_primaries_recoveries }}
{% endif %}
indicies.recovery.max_bytes_per_sec: {{ elasticsearch_recovery_max_bytes_per_sec }}
{% if elasticsearch_recovery_concurrent_streams|d(False) %}
indicies.recovery.concurrent_streams: {{ elasticsearch_recovery_concurrent_streams }}
{% endif %}

# ---------------------------------- Various -----------------------------------
{#
# Disable starting multiple nodes on a single system:
#}
node.max_local_storage_nodes: {{ elasticsearch_node_max_local_storage_nodes }}
{#
# Require explicit names when deleting indices:
#
# action.destructive_requires_name: true
#}
{% if elasticsearch__version_major | int == 1 %}
http.jsonp.enable: {{ elasticsearch_jsonp_enabled | lower }}
{% endif %}

# --------------------------------- Slow Log -----------------------------------
index.search.slowlog.threshold.query.warn: {{ elasticsearch_slowlog_query_warn }}
index.search.slowlog.threshold.query.info: {{ elasticsearch_slowlog_query_info }}
index.search.slowlog.threshold.query.debug: {{ elasticsearch_slowlog_query_debug }}
index.search.slowlog.threshold.query.trace: {{ elasticsearch_slowlog_query_trace }}

index.search.slowlog.threshold.fetch.warn: {{ elasticsearch_slowlog_fetch_warn }}
index.search.slowlog.threshold.fetch.info: {{ elasticsearch_slowlog_fetch_info }}
index.search.slowlog.threshold.fetch.debug: {{ elasticsearch_slowlog_fetch_debug }}
index.search.slowlog.threshold.fetch.trace: {{ elasticsearch_slowlog_fetch_trace }}

index.search.slowlog.threshold.index.warn: {{ elasticsearch_slowlog_index_warn }}
index.search.slowlog.threshold.index.info: {{ elasticsearch_slowlog_index_info }}
index.search.slowlog.threshold.index.debug: {{ elasticsearch_slowlog_index_debug }}
index.search.slowlog.threshold.index.trace: {{ elasticsearch_slowlog_index_trace }}

# -------------------------------- GC Logging ----------------------------------
monitor.jvm.gc.young.warn: {{ elasticsearch_monitor_gc_young_warn }}
monitor.jvm.gc.young.info: {{ elasticsearch_monitor_gc_young_info }}
monitor.jvm.gc.young.debug: {{ elasticsearch_monitor_gc_young_debug }}

monitor.jvm.gc.old.warn: {{ elasticsearch_monitor_gc_old_warn }}
monitor.jvm.gc.old.info: {{ elasticsearch_monitor_gc_old_info }}
monitor.jvm.gc.old.debug: {{ elasticsearch_monitor_gc_old_debug }}

# -------------------------------- Plugin configs ------------------------------
{% if elasticsearch_plugins %}
{% for item in elasticsearch_plugins %}
{% if (item.delete is undefined or not item.delete) and (item.config is defined and item.config) %}
{{ item.config }}
{% endif %}
{% endfor %}
{% endif %}
