es.logger.level: {{ elasticsearch_logger_level }}
rootLogger: {{ elasticsearch_logger_output }}

logger:
  # log action execution errors for easier debugging
  action: {{ elasticsearch_logger.action }}
  # reduce the logging for aws, too much is logged under the default INFO
  com.amazonaws: {{ elasticsearch_logger.amazon_aws }}

  # gateway
  #gateway: DEBUG
  gateway: {{ elasticsearch_logger.gateway }}

  #index.gateway: DEBUG
  index.gateway: {{ elasticsearch_logger.index_gateway }}

  # peer shard recovery
  #indices.recovery: DEBUG
  indices.recovery: {{ elasticsearch_logger.indices_recovery }}

  # discovery
  #discovery: TRACE
  discovery: {{ elasticsearch_logger.discovery }}

  index.search.slowlog: {{ elasticsearch_logger.index_search_slowlog }}
  index.indexing.slowlog: {{ elasticsearch_logger.index_indexing_slowlog }}

additivity:
  index.search.slowlog: {{ elasticsearch_logger_additivity.index_search_slowlog | lower }}
  index.indexing.slowlog: {{ elasticsearch_logger_additivity.index_search_slowlog | lower }}

appender:
  console:
    type: {{ elasticsearch_logger_appender.console.type }}
    layout:
      type: {{ elasticsearch_logger_appender.console.layout.type }}
      conversionPattern: "{{ elasticsearch_logger_appender.console.layout.conversionPattern }}"

  file:
    type: {{ elasticsearch_logger_appender.file.type }}
    file: {{ elasticsearch_logger_appender.file.file }}
    datePattern: "{{ elasticsearch_logger_appender.file.datePattern }}"
    layout:
      type: {{ elasticsearch_logger_appender.file.layout.type }}
      conversionPattern: "{{ elasticsearch_logger_appender.file.layout.conversionPattern }}"

  index_search_slow_log_file:
    type: {{ elasticsearch_logger_appender.index_search_slow_log_file.type }}
    file: {{ elasticsearch_logger_appender.index_search_slow_log_file.file }}
    datePattern: "{{ elasticsearch_logger_appender.index_search_slow_log_file.datePattern }}"
    layout:
      type: {{ elasticsearch_logger_appender.index_search_slow_log_file.layout.type }}
      conversionPattern: "{{ elasticsearch_logger_appender.index_search_slow_log_file.layout.conversionPattern }}"

  index_indexing_slow_log_file:
    type: {{ elasticsearch_logger_appender.index_indexing_slow_log_file.type }}
    file: {{ elasticsearch_logger_appender.index_indexing_slow_log_file.file }}
    datePattern: "{{ elasticsearch_logger_appender.index_indexing_slow_log_file.datePattern }}"
    layout:
      type: {{ elasticsearch_logger_appender.index_indexing_slow_log_file.layout.type }}
      conversionPattern: "{{ elasticsearch_logger_appender.index_indexing_slow_log_file.layout.conversionPattern }}"
