# This file is managed by Ansible, all changes will be lost

# This file is assembled from fragments in /etc/radvd.conf.d/.
# If you want to add your own interfaces, put them there. They
# will be included automatically on next Ansible run.

