# This file is managed by Ansible, all changes will be lost

# GitLab CI logrotate settings
# based on: http://stackoverflow.com/a/4883967

{{ gitlab_ci_home }}/gitlab-ci/log/*.log {
    daily
    missingok
    rotate 90
    compress
    notifempty
    copytruncate
}

