// {{ ansible_managed }}

// This configuration file is intended to be stored in /etc/apt/apt.conf.d/
// on the client system in order to use a software repository proxy server like
// Apt-Cacher NG.

{% if apt__http_proxy_url|d() %}
Acquire::http::Proxy "{{ apt__http_proxy_url }}";
{% else %}
Acquire::http::Proxy "false";
{% endif %}
{% if apt__https_proxy_url|d() %}
Acquire::https::Proxy "{{ apt__https_proxy_url }}";
{% else %}
Acquire::https::Proxy "false";
{% endif %}
{{ 'Acquire::http::Proxy::bugs.debian.org "DIRECT";' if (apt__proxy_bypass_for_bugs_debian_org|d() | bool) else '' }}
