// {{ ansible_managed }}

// This configuration file is intended to be stored in /etc/apt/apt.conf.d/
// on the client system in order to use a software repository proxy server like
// Apt-Cacher NG.

{% if apt__proxy_url | match("http://") %}
Acquire::http::Proxy "{{ apt__proxy_url }}";
Acquire::https::Proxy "false";
{% elif apt__proxy_url | match("https://") %}
Acquire::http::Proxy "false";
Acquire::https::Proxy "{{ apt__proxy_url }}";
{% endif %}
{{ 'Acquire::http::Proxy::bugs.debian.org "DIRECT";' if (apt__proxy_bypass_for_bugs_debian_org|d() | bool) else '' }}
