{# Copyright (C) 2023 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2023 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# Template for the initial 'ansible.cfg' contents. The comments will be
# stripped by the ConfigParser. Users can add or modify configuration
# parameters using the '.debops/conf.d/' configuration files.

[defaults]

# List of directories that contain Ansible Collections.
collections_paths = {{ collections[::-1] | join(':') }}
