{# Copyright (C) 2023 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2023 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# Environment variables which should be present during execution of commands by
# DebOps, in all views. The 'ANSIBLE_CONFIG' variable is generated dynamically
# and setting it here will have no effect. Format: NAME=VALUE

# Path to the project root directory, can be used to define file paths relative
# to the project itself.
# This variable is set at runtime by default but can be overwritten here.
#DEBOPS_PROJECT_PATH=/path/to/project

# Path to the Ansible collections packaged with DebOps Python package.
# This variable is set at runtime by default but can be overwritten here.
# Alternatively, you can change the 'collections_path' parameter in the view
# configuration options.
#DEBOPS_ANSIBLE_COLLECTIONS_PATH=/path/to/project/ansible/collections

# Path to the default inventory directory used by Ansible. Not related to the
# inventory specified in ansible.cfg configuration file.
# This variable is set at runtime by default but can be overwritten here.
#DEBOPS_ANSIBLE_INVENTORY=/path/to/project/ansible/inventory
