---
{# Copyright (C) 2023 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2023 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# List of Ansible Collections required by this DebOps project. They can be
# installed using the command:
#
#   debops env ansible-galaxy collection install -r ansible/collections/requirements.yml
#
# By default the collections will be installed in the 'ansible/collections/'
# subdirectory at the root of the project directory, and will be ignored by
# version control.

collections:

  - name: 'ansible.posix'
    version: '*'

  - name: 'ansible.utils'
    version: '*'

  - name: 'community.crypto'
    version: '*'

  - name: 'community.docker'
    version: '*'

  - name: 'community.general'
    version: '*'

  - name: 'community.libvirt'
    version: '*'

  - name: 'community.mysql'
    version: '*'

  - name: 'community.postgresql'
    version: '*'

  - name: 'community.rabbitmq'
    version: '*'

  # Uncomment this if you want to use DebOps Collection from Ansible Galaxy
  # instead of the one included in the DebOps Python package.
  #- name: 'debops.debops'
  #  version: '*'
