#!/bin/bash

# {{ ansible_managed }}

# Generate new Diffie-Hellman parameters for postfix
# Preferably should be run from cron in regular intervals
# More info: http://www.postfix.org/FORWARD_SECRECY_README.html

# If you specify an integer as first parameter, script will sleep for random
# 1-<integer> seconds before generating DH parameters. Without integer script
# will sleep for random 1-10 minutes. This should allow for lower load on hosts
# when script is run in parallel

set -e

lockfile="/var/lock/.$(basename ${0}).lock"

if [ -n "${1}" ]; then
	delay=$(($RANDOM%${1}))
	multiplier=1
else
	delay=$(($RANDOM%10))
	multiplier=60
fi

(
	flock -x -w 0 200 || exit 1

	trap "rm -f ${lockfile}" EXIT

	sleep $((delay*multiplier))

	cd /etc/postfix
	umask 022

	openssl dhparam -out dh512.tmp 512 > /dev/null 2>&1 && mv dh512.tmp dh512.pem
	openssl dhparam -out dh1024.tmp 1024 > /dev/null 2>&1 && mv dh1024.tmp dh1024.pem
	openssl dhparam -out dh2048.tmp 2048 > /dev/null 2>&1 && mv dh2048.tmp dh2048.pem

	chmod 644 dh512.pem dh1024.pem dh2048.pem

) 200>${lockfile}


