#!/usr/bin/env python

# {{ ansible_managed }}

from __future__ import print_function
from json import dumps, loads
from sys import exit

output = loads('''{{ {"backup_dev": backup2l__backup_dev,
                      "backup_dir": backup2l__backup_dir,
                      "include_file": backup2l__include_file,
                      "installed": True,
                      "pre_hook_dir": backup2l__pre_hook_dir,
                      "post_hook_dir": backup2l__post_hook_dir,
                      "srclist_from_file": backup2l__srclist_from_file|bool
                     } | to_nice_json }}''')

print(dumps(output, sort_keys=True, indent=2))
