{# Copyright (C) 2022 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2022 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
---
# {{ ansible_managed }}

{% set metricbeat__tpl_configuration = {} %}
{% for element in metricbeat__combined_configuration | debops.debops.parse_kv_config %}
{%   if element.state | d('present') not in [ 'absent', 'init', 'ignore' ] and element.config | d() %}
{%     set combined_config = metricbeat__tpl_configuration | combine(element.config, recursive=True) %}
{%     set _ = metricbeat__tpl_configuration.update(combined_config) %}
{%   endif %}
{% endfor %}
{{ metricbeat__tpl_configuration | to_nice_yaml(indent=2) }}
