# This file is managed by Ansible, all changes will be lost

# Settings for vztmpl-dl script. It is not required to explicitly set
# anything here since there are sane defaults hardcoded into the script.

# Uncomment to disable automatic template update (default is "yes").
UPDATE_TEMPLATE="{{ openvz_template_update | default('yes') }}"

# Uncomment to enable template GPG check (default is "no").
# To import the OpenVZ public key, see
# http://wiki.openvz.org/Package_signatures#Importing_the_public_key
CHECK_TEMPLATE_SIG="{{ openvz_template_signature | default('yes') }}"

# Uncomment to make the script more quiet (default is "no").
#QUIET="yes"

# Uncomment and set to location of your favorite mirror
TMPL_REPO_PREFIX="{{ openvz_template_prefix }}"

# List of template repositories to use
TEMPLATE_REPOS="{{ openvz_template_repos | join (' ') }}"
