Dump of Ansible variables, based on: https://coderwall.com/p/13lh6w


Module Variables ("vars"):
--------------------------------
{{ vars | to_nice_json }}


Environment Variables ("environment"):
--------------------------------
{{ environment | to_nice_json }}


GROUP NAMES Variables ("group_names"):
--------------------------------
{{ group_names | to_nice_json }}


GROUPS Variables ("groups"):
--------------------------------
{{ groups | to_nice_json }}


HOST Variables ("hostvars"):
--------------------------------
{{ hostvars | to_nice_json }}


