{
{% for item in core__root_directories %}
{% if hostvars[inventory_hostname]["ansible_local"]|d() and
      hostvars[inventory_hostname]["ansible_local"]["root"]|d() and
      hostvars[inventory_hostname]["ansible_local"]["root"][item.fact]|d() %}
"{{ item.fact }}": "{{ hostvars[inventory_hostname]["ansible_local"]["root"][item.fact] }}"{% if not loop.last %},{% endif %}
{% else %}
"{{ item.fact }}": "{{ item.path }}"{% if not loop.last %},{% endif %}
{% endif %}

{% endfor %}
}
