# This file is managed remotely, all changes will be lost

{% if nfs_exports is defined and nfs_exports %}
{%   for export in nfs_exports %}
{%     set nfs_tpl_export_options = [] %}
{%     set nfs_tpl_export_path = export.path %}
{%     set nfs_tpl_export_acl = [] %}
{%     if export.options is defined and export.options %}
{%       set _ = nfs_tpl_export_options.append("-" + export.options) %}
{%     endif %}
{%     for acl in nfs_access_control_lists %}
{%       if export.name in acl.exports %}
{%         for entry in acl.clients %}
{%           if acl.options is defined and acl.options %}
{%             set _ = nfs_tpl_export_acl.append(entry + "(" + acl.options + ")") %}
{%           else %}
{%             set _ = nfs_tpl_export_acl.append(entry) %}
{%           endif %}
{%         endfor %}
{%       endif %}
{%     endfor %}
{%     if (nfs_tpl_export_acl and (export.state is undefined or export.state != 'absent')) or
           (export.state is defined and export.state != 'absent') %}
{{ "%-30s %s" | format(nfs_tpl_export_path, (nfs_tpl_export_options + nfs_tpl_export_acl) | join(" ")) }}
{%     endif %}
{%   endfor %}
{% endif %}

