{# Copyright (C) 2014      Nick Janetakis <nickjanetakis@gmail.com>
 # Copyright (C) 2014-2019 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2019 DebOps Project <http://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# This file is managed by Ansible, all changes will be lost

{% for key, value in rails_deploy_default_env.items() -%}
export {{ key }}='{{ value }}'
{% endfor -%}
{% for key, value in rails_deploy_env.items() -%}
export {{ key }}='{{ value }}'
{% endfor -%}
