# {{ ansible_managed }}

{# Domain, table, chain #}
{# ==================== #}
{% set ferm_tpl_domain = ferm_domains %}
{% set ferm_tpl_table = [ 'filter' ] %}
{% set ferm_tpl_chain = [ 'INPUT' ] %}
{% if item.domain|d() %}
{%   if item.domain is string %}
{%     set ferm_tpl_domain = [ item.domain ] %}
{%   else %}
{%     set ferm_tpl_domain = item.domain | unique %}
{%   endif %}
{% elif item.domains|d() %}
{%   if item.domains is string %}
{%     set ferm_tpl_domain = [ item.domains ] %}
{%   else %}
{%     set ferm_tpl_domain = item.domains | unique %}
{%   endif %}
{% endif %}
{% if item.table|d() %}
{%   if item.table is string %}
{%     set ferm_tpl_table = [ item.table ] %}
{%   else %}
{%     set ferm_tpl_table = item.table | unique %}
{%   endif %}
{% elif item.tables|d() %}
{%   if item.tables is string %}
{%     set ferm_tpl_table = [ item.tables ] %}
{%   else %}
{%     set ferm_tpl_table = item.tables | unique %}
{%   endif %}
{% endif %}
{% if item.chain|d() %}
{%   if item.chain is string %}
{%     set ferm_tpl_chain = [ item.chain ] %}
{%   else %}
{%     set ferm_tpl_chain = item.chain | unique %}
{%   endif %}
{% elif item.chains|d() %}
{%   if item.chains is string %}
{%     set ferm_tpl_chain = [ item.chains ] %}
{%   else %}
{%     set ferm_tpl_chain = item.chains | unique %}
{%   endif %}
{% endif %}
{% set ferm_tpl_domain_args = [] %}
{% if ferm_tpl_domain %}
{%   if ferm_tpl_domain | length == 1 %}
{%     set _ = ferm_tpl_domain_args.append("domain " +  ferm_tpl_domain | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_domain_args.append("domain (" + ferm_tpl_domain | join(" ") + ")") %}
{%   endif %}
{% endif %}
{% if ferm_tpl_table %}
{%   if ferm_tpl_table | length == 1 %}
{%     set _ = ferm_tpl_domain_args.append("table " +  ferm_tpl_table | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_domain_args.append("table (" + ferm_tpl_table | join(" ") + ")") %}
{%   endif %}
{% endif %}
{% if ferm_tpl_chain %}
{%   if ferm_tpl_chain | length == 1 %}
{%     set _ = ferm_tpl_domain_args.append("chain " +  ferm_tpl_chain | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_domain_args.append("chain (" + ferm_tpl_chain | join(" ") + ")") %}
{%   endif %}
{% endif %}
{# Rule arguments #}
{# ============== #}
{% set ferm_tpl_target = 'ACCEPT' %}
{% set ferm_tpl_reject_with = 'icmp-admin-prohibited' %}
{% set ferm_tpl_interface = [] %}
{% set ferm_tpl_interface_present = [] %}
{% set ferm_tpl_outerface = [] %}
{% set ferm_tpl_outerface_present = [] %}
{% set ferm_tpl_protocol = [] %}
{% set ferm_tpl_protocol_syn = [] %}
{% set ferm_tpl_saddr = [] %}
{% set ferm_tpl_daddr = [] %}
{% set ferm_tpl_sport = [] %}
{% set ferm_tpl_dport = [] %}
{% set ferm_tpl_state = [] %}
{% set ferm_tpl_subchain = (item.type + "-" + item.name | d((item.dport[0] if item.dport|d() else "rules"))) %}
{% if item.interface|d() %}
{%   if item.interface is string %}
{%     set ferm_tpl_interface = [ item.interface ] %}
{%   else %}
{%     set ferm_tpl_interface = item.interface | unique %}
{%   endif %}
{% elif item.interfaces|d() %}
{%   if item.interfaces is string %}
{%     set ferm_tpl_interface = [ item.interfaces ] %}
{%   else %}
{%     set ferm_tpl_interface = item.interfaces | unique %}
{%   endif %}
{% endif %}
{% if item.interface_present|d() %}
{%   if item.interface_present is string %}
{%     if hostvars[inventory_hostname]["ansible_" + item.interface_present]|d() %}
{%       set ferm_tpl_interface_present = [ item.interface_present ] %}
{%     endif %}
{%   else %}
{%     for interface in item.interface_present %}
{%       if hostvars[inventory_hostname]["ansible_" + interface]|d() %}
{%         set _ = ferm_tpl_interface_present.append(interface) %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% elif item.interfaces_present|d() %}
{%   if item.interfaces_present is string %}
{%     if hostvars[inventory_hostname]["ansible_" + item.interfaces_present]|d() %}
{%       set ferm_tpl_interface_present = [ item.interfaces_present ] %}
{%     endif %}
{%   else %}
{%     for interface in item.interfaces_present %}
{%       if hostvars[inventory_hostname]["ansible_" + interface]|d() %}
{%         set _ = ferm_tpl_interface_present.append(interface) %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
{% if item.outerface|d() %}
{%   if item.outerface is string %}
{%     set ferm_tpl_outerface = [ item.outerface ] %}
{%   else %}
{%     set ferm_tpl_outerface = item.outerface | unique %}
{%   endif %}
{% elif item.outerfaces|d() %}
{%   if item.outerfaces is string %}
{%     set ferm_tpl_outerface = [ item.outerfaces ] %}
{%   else %}
{%     set ferm_tpl_outerface = item.outerfaces | unique %}
{%   endif %}
{% endif %}
{% if item.outerface_present|d() %}
{%   if item.outerface_present is string %}
{%     if hostvars[inventory_hostname]["ansible_" + item.outerface_present]|d() %}
{%       set ferm_tpl_outerface_present = [ item.outerface_present ] %}
{%     endif %}
{%   else %}
{%     for outerface in item.outerface_present %}
{%       if hostvars[inventory_hostname]["ansible_" + outerface]|d() %}
{%         set _ = ferm_tpl_outerface_present.append(outerface) %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% elif item.outerfaces_present|d() %}
{%   if item.outerfaces_present is string %}
{%     if hostvars[inventory_hostname]["ansible_" + item.outerfaces_present]|d() %}
{%       set ferm_tpl_outerface_present = [ item.outerfaces_present ] %}
{%     endif %}
{%   else %}
{%     for outerface in item.outerfaces_present %}
{%       if hostvars[inventory_hostname]["ansible_" + outerface]|d() %}
{%         set _ = ferm_tpl_outerface_present.append(outerface) %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
{% if item.protocol|d() %}
{%   if item.protocol is string %}
{%     set ferm_tpl_protocol = [ item.protocol ] %}
{%   else %}
{%     set ferm_tpl_protocol = item.protocol | unique %}
{%   endif %}
{% elif item.protocols|d() %}
{%   if item.protocols is string %}
{%     set ferm_tpl_protocol = [ item.protocols ] %}
{%   else %}
{%     set ferm_tpl_protocol = item.protocols | unique %}
{%   endif %}
{% endif %}
{% if item.protocol_syn is defined %}
{%   if item.protocol_syn | bool %}
{%     set ferm_tpl_protocol_syn = [ 'syn' ] %}
{%   elif not item.protocol_syn | bool %}
{%     set ferm_tpl_protocol_syn = [ '! syn' ] %}
{%   endif %}
{% endif %}
{% if item.saddr|d() %}
{%   if item.saddr is string %}
{%     set ferm_tpl_saddr = [ item.saddr ] %}
{%   else %}
{%     set ferm_tpl_saddr = item.saddr | unique %}
{%   endif %}
{% endif %}
{% if item.daddr|d() %}
{%   if item.daddr is string %}
{%     set ferm_tpl_daddr = [ item.daddr ] %}
{%   else %}
{%     set ferm_tpl_daddr = item.daddr | unique %}
{%   endif %}
{% endif %}
{% if item.sport|d() %}
{%   if item.sport is string %}
{%     set ferm_tpl_sport = [ item.sport ] %}
{%   else %}
{%     set ferm_tpl_sport = item.sport | unique %}
{%   endif %}
{% endif %}
{% if item.dport|d() %}
{%   if item.dport is string %}
{%     set ferm_tpl_dport = [ item.dport ] %}
{%   else %}
{%     set ferm_tpl_dport = item.dport | unique %}
{%   endif %}
{% endif %}
{% if item.state|d() %}
{%   if item.state is string %}
{%     set ferm_tpl_state = [ item.state ] %}
{%   else %}
{%     set ferm_tpl_state = item.state | unique %}
{%   endif %}
{% endif %}
{% if item.target|d() %}
{%   set ferm_tpl_target = item.target %}
{% endif %}
{% if item.reject_with|d() %}
{%   set ferm_tpl_reject_with = item.reject_with %}
{% endif %}
{% if item.subchain is defined %}
{%   if item.subchain | bool %}
{%     set ferm_tpl_subchain = item.subchain %}
{%   else %}
{%     set ferm_tpl_subchain = '' %}
{%   endif %}
{% endif %}
{% set ferm_tpl_arguments = [] %}
{% if ferm_tpl_interface %}
{%   if ferm_tpl_interface | length == 1 %}
{%     set _ = ferm_tpl_arguments.append("interface " +  ferm_tpl_interface | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_arguments.append("interface (" + ferm_tpl_interface | join(" ") + ")") %}
{%   endif %}
{% elif ferm_tpl_interface_present %}
{%   if ferm_tpl_interface_present | length == 1 %}
{%     set _ = ferm_tpl_arguments.append("interface " +  ferm_tpl_interface_present | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_arguments.append("interface (" + ferm_tpl_interface_present | join(" ") + ")") %}
{%   endif %}
{% endif %}
{% if ferm_tpl_outerface %}
{%   if ferm_tpl_outerface | length == 1 %}
{%     set _ = ferm_tpl_arguments.append("outerface " +  ferm_tpl_outerface | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_arguments.append("outerface (" + ferm_tpl_outerface | join(" ") + ")") %}
{%   endif %}
{% elif ferm_tpl_outerface_present %}
{%   if ferm_tpl_outerface_present | length == 1 %}
{%     set _ = ferm_tpl_arguments.append("outerface " +  ferm_tpl_outerface_present | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_arguments.append("outerface (" + ferm_tpl_outerface_present | join(" ") + ")") %}
{%   endif %}
{% endif %}
{% if ferm_tpl_protocol %}
{%   if ferm_tpl_protocol | length == 1 %}
{%     set _ = ferm_tpl_arguments.append("protocol " +  ferm_tpl_protocol | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_arguments.append("protocol (" + ferm_tpl_protocol | join(" ") + ")") %}
{%   endif %}
{% elif not ferm_tpl_protocol and (ferm_tpl_sport or ferm_tpl_dport) %}
{%   set _ = ferm_tpl_arguments.append("protocol tcp") %}
{% endif %}
{% if ferm_tpl_protocol_syn %}
{%   set _ = ferm_tpl_arguments.append(ferm_tpl_protocol_syn | join(" ")) %}
{% endif %}
{% if ferm_tpl_dport %}
{%   if item.multiport|d() and item.multiport | bool %}
{%     if ferm_tpl_dport | length == 1 %}
{%       set _ = ferm_tpl_arguments.append("dport " +  ferm_tpl_dport | join(" ")) %}
{%     else %}
{%       set _ = ferm_tpl_arguments.append("mod multiport destination-ports (" + ferm_tpl_dport | join(" ") + ")") %}
{%     endif %}
{%   else %}
{%     if ferm_tpl_dport | length == 1 %}
{%       set _ = ferm_tpl_arguments.append("dport " +  ferm_tpl_dport | join(" ")) %}
{%     else %}
{%       set _ = ferm_tpl_arguments.append("dport (" + ferm_tpl_dport | join(" ") + ")") %}
{%     endif %}
{%   endif %}
{% endif %}
{% if ferm_tpl_state %}
{%   if ferm_tpl_state | length == 1 %}
{%     set _ = ferm_tpl_arguments.append("mod state state " +  ferm_tpl_state | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_arguments.append("mod state state (" + ferm_tpl_state | join(" ") + ")") %}
{%   endif %}
{% endif %}
{% if ferm_tpl_arguments and (ferm_tpl_saddr | length > 3) %}
{%   if ferm_tpl_subchain %}
{%     set _ = ferm_tpl_arguments.append('@subchain "' + ferm_tpl_subchain + '"') %}
{%   endif %}
{% endif %}
{# Main template #}
{# ============= #}
{% if item.comment|d() %}
# {{ item.comment }}

{% endif %}
{% if item.when is undefined or item.when | bool %}
{%   if ferm_tpl_domain_args %}{{ ferm_tpl_domain_args | join(" ") }} {% endif %}{
    {% if ferm_tpl_arguments %}{{ ferm_tpl_arguments | join(" ") }} {% endif %}{
{%   if item.enabled is undefined or item.enabled | bool %}
{%     if ferm_tpl_saddr|d() %}
        @def $ITEMS = ( @ipfilter( ({{ ferm_tpl_saddr | unique | join(" ") }}) ) );
        @if @ne($ITEMS,"") {
{%       if ferm_tpl_target not in [ 'ACCEPT', 'DROP', 'REJECT', 'RETURN', 'NOP' ] %}
{%         if item.include|d() %}
            @include "{{ item.include }}";
{%         elif item.realgoto is undefined or not item.realgoto | bool %}
            saddr $ITEMS jump "{{ ferm_tpl_target }}";
{%         elif item.realgoto|d() and item.realgoto | bool %}
            saddr $ITEMS realgoto "{{ ferm_tpl_target }}";
{%         endif %}
{%       elif ferm_tpl_target in [ 'REJECT' ] %}
            saddr $ITEMS REJECT reject-with {{ ferm_tpl_reject_with }};
{%       else %}
            saddr $ITEMS {{ ferm_tpl_target }};
{%       endif %}
        }
{%     else %}
{%       if item.accept_any is defined %}
{%         if item.accept_any | bool %}
{%           if ferm_tpl_target not in [ 'ACCEPT', 'DROP', 'REJECT', 'RETURN', 'NOP' ] %}
{%             if item.include|d() %}
        @include "{{ item.include }}";
{%             elif item.realgoto is undefined or not item.realgoto | bool %}
        jump "{{ ferm_tpl_target }}";
{%             elif item.realgoto|d() and item.realgoto | bool %}
        realgoto "{{ ferm_tpl_target }}";
{%             endif %}
{%           elif ferm_tpl_target in [ 'REJECT' ] %}
        REJECT reject-with {{ ferm_tpl_reject_with }};
{%           else %}
        {{ ferm_tpl_target }};
{%           endif %}
{%         elif not item.accept_any | bool %}
        # Connections from any IP address not allowed
{%         endif %}
{%       else %}
{%         if ferm_tpl_target not in [ 'ACCEPT', 'DROP', 'REJECT', 'RETURN', 'NOP' ] %}
{%           if item.include|d() %}
        @include "{{ item.include }}";
{%           elif item.realgoto is undefined or not item.realgoto | bool %}
        jump "{{ ferm_tpl_target }}";
{%           elif item.realgoto|d() and item.realgoto | bool %}
        realgoto "{{ ferm_tpl_target }}";
{%           endif %}
{%         elif ferm_tpl_target in [ 'REJECT' ] %}
        REJECT reject-with {{ ferm_tpl_reject_with }};
{%         else %}
{%           if ferm_tpl_arguments %}
        {{ ferm_tpl_target }};
{%           else %}
        # No rule parameters specified
{%           endif %}
{%         endif %}
{%       endif %}
{%     endif %}
{%   endif %}
    }
}
{% else %}
# Rule disabled by 'item.when' condition
{% endif %}

