# This file is managed by Ansible, all changes will be lost

# Accept new connections from specified IP addresses{% if item.dport|d() %} on {{ item.dport | join(',') }} port{% endif %}
{#

List of parameters:

Required:
  item.chain		name of the chain to create

Optional:
  item.table		specify which table to add rules into
  item.dport		list of destination ports to configure
  item.protocol		list of protocols to configure (tcp, udp)
  item.saddr		list of source addresses to accept
  item.accept_any	accept connections from any IP address if True
  item.disabled		if True, disable the rule (can be used to toggle rule via variable)
  item.enabled		if True, enable the rule (can be used to toggle rule via variable)
  item.jump		jump tp specified chain

#}

{% if ((item.disabled is undefined or
       (item.disabled is defined and not item.disabled) or
       (item.disabled is defined and item.disabled in [ 'False', 'false', 'No', 'no' ])) and
       (item.enabled is undefined or
       (item.enabled is defined and item.enabled in [ True, 'True', 'true', 'Yes', 'yes' ]))) %}
domain $domains table {{ item.table | default('filter') }} chain "{{ item.chain }}"{% if item.protocol|d() or item.dport|d() %} protocol ({{ item.protocol | default(['tcp']) | join(' ') }}){% endif %}{% if item.dport|d() %} dport ({{ item.dport | join(' ') }}){% endif %} {
{% if item.saddr is defined and item.saddr %}
	@def $ITEMS = ( @ipfilter( ({{ item.saddr | unique | join(" ") }}) ) );
	@if @ne($ITEMS,"") {
		saddr $ITEMS ACCEPT;
	}
{% else %}
{% if item.accept_any is defined and item.accept_any | bool %}
	ACCEPT;
{% elif item.jump is defined and item.jump %}
	jump "{{ item.jump }}";
{% else %}
	# Connections from any IP address not allowed
{% endif %}
{% endif %}
}
{% else %}
# chain rule has been disabled by a variable
{% endif %}

