# {{ ansible_managed }}

{# Domain, table, chain #}
{# ==================== #}
{% set ferm_tpl_domain = ferm_domains %}
{% set ferm_tpl_table = [ 'filter' ] %}
{% set ferm_tpl_chain = [ 'INPUT' ] %}
{% if item.domain|d() %}
{%   if item.domain is string %}
{%     set ferm_tpl_domain = [ item.domain ] %}
{%   else %}
{%     set ferm_tpl_domain = item.domain | unique %}
{%   endif %}
{% elif item.domains|d() %}
{%   if item.domains is string %}
{%     set ferm_tpl_domain = [ item.domains ] %}
{%   else %}
{%     set ferm_tpl_domain = item.domains | unique %}
{%   endif %}
{% endif %}
{% if item.table|d() %}
{%   if item.table is string %}
{%     set ferm_tpl_table = [ item.table ] %}
{%   else %}
{%     set ferm_tpl_table = item.table | unique %}
{%   endif %}
{% elif item.tables|d() %}
{%   if item.tables is string %}
{%     set ferm_tpl_table = [ item.tables ] %}
{%   else %}
{%     set ferm_tpl_table = item.tables | unique %}
{%   endif %}
{% endif %}
{% if item.chain|d() %}
{%   if item.chain is string %}
{%     set ferm_tpl_chain = [ item.chain ] %}
{%   else %}
{%     set ferm_tpl_chain = item.chain | unique %}
{%   endif %}
{% elif item.chains|d() %}
{%   if item.chains is string %}
{%     set ferm_tpl_chain = [ item.chains ] %}
{%   else %}
{%     set ferm_tpl_chain = item.chains | unique %}
{%   endif %}
{% endif %}
{% set ferm_tpl_domain_args = [] %}
{% if ferm_tpl_domain %}
{%   if ferm_tpl_domain | length == 1 %}
{%     set _ = ferm_tpl_domain_args.append("domain " +  ferm_tpl_domain | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_domain_args.append("domain (" + ferm_tpl_domain | join(" ") + ")") %}
{%   endif %}
{% endif %}
{% if ferm_tpl_table %}
{%   if ferm_tpl_table | length == 1 %}
{%     set _ = ferm_tpl_domain_args.append("table " +  ferm_tpl_table | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_domain_args.append("table (" + ferm_tpl_table | join(" ") + ")") %}
{%   endif %}
{% endif %}
{% if ferm_tpl_chain %}
{%   if ferm_tpl_chain | length == 1 %}
{%     set _ = ferm_tpl_domain_args.append("chain " +  ferm_tpl_chain | join(" ")) %}
{%   else %}
{%     set _ = ferm_tpl_domain_args.append("chain (" + ferm_tpl_chain | join(" ") + ")") %}
{%   endif %}
{% endif %}
{# Main template #}
{# ============= #}
{% if item.comment|d() %}
# {{ item.comment }}

{% endif %}
{% if item.when is undefined or item.when | bool %}
{%   if ferm_tpl_domain_args %}{{ ferm_tpl_domain_args | join(" ") }} {% endif %}{
    @include "{{ item.include }}";
}
{% else %}
# Rule disabled by 'item.when' condition
{% endif %}

