#!/bin/bash
{% set host = hostvars[item.0] %}
{% if host.rsnapshot_backup_host is defined and host.rsnapshot_backup_host %}
{% set rsnapshot_tpl_host = host.rsnapshot_backup_host %}
{% else %}
{% set rsnapshot_tpl_host = host.ansible_fqdn %}
{% endif %}

# This file is managed remotely, all changes will be lost

currenttype="${1:-hourly}"
prevtype="${2:-null}"
logfile="${3}"

run_rsnapshot_command () {
  local config_file="${1}"
  local type="${2}"

  if [ -n "${logfile}" ] ; then
    rsnapshot -c ${config_file} ${type} >> ${logfile} 2>&1
    rc=$?
  else
    rsnapshot -c ${config_file} ${type}
    rc=$?
  fi
  return ${rc}
}

send_logfile () {
  if [ -n "${logfile}" ] && [ -s ${logfile} ] ; then
    cat ${logfile} >> /var/log/rsnapshot/{{ rsnapshot_tpl_host }}.log
    cat ${logfile} | sed -e 's/\r$//' | mail -s "Backup log from rsnapshot for {{ rsnapshot_tpl_host }}" -r root@{{ ansible_fqdn }} {{ (host.rsnapshot_mail_to | default(rsnapshot_mail_to)) | join(" ") }}
  fi
}

if [ -n "${logfile}" ] ; then
  test -f ${logfile} && trap "rm -f ${logfile}" EXIT
fi

confdir="$(dirname ${0})"
lockfile="/var/run/rsnapshot-{{ rsnapshot_tpl_host }}.pid"

if [ ! -r ${confdir}/disabled ] && [ -r ${confdir}/rsnapshot.conf ] ; then

  # Check if lock file exists, if it does, exit and try another time
  if [ -r ${lockfile} ] ; then
    exit 0
  fi

  config="${confdir}/rsnapshot.conf"
  if $(grep -E "^retain\s+${currenttype}\s+" ${config} > /dev/null) ; then
{% if (host.rsnapshot_sleep is undefined or
       (host.rsnapshot_sleep is defined and host.rsnapshot_sleep)) %}

    case "${currenttype}" in
      hourly)               sleeptime="{{ ((host.rsnapshot_sleep | default(rsnapshot_sleep) | int) * 1)  | round | int }}"  ;;
      daily|weekly|monthly) sleeptime="{{ ((host.rsnapshot_sleep | default(rsnapshot_sleep) | int) * 10) | round | int }}" ;;
      *)                    sleeptime="{{ ((host.rsnapshot_sleep | default(rsnapshot_sleep) | int) * 1)  | round | int }}"  ;;
    esac

    sleep $[ ( $RANDOM % ${sleeptime} ) + 1 ]m
{% endif %}

    if $(grep -E "^sync_first\s+1" ${config} > /dev/null) ; then
      if ! $(grep -E "^retain\s+${prevtype}\s+" ${config} > /dev/null) ; then
        run_rsnapshot_command ${config} sync
        rc=$?
        if [ ${rc} -ne 0 ] ; then
          send_logfile
          exit ${rc}
        fi
      fi
    fi
    run_rsnapshot_command ${config} ${currenttype}
    rc=$?

  elif [ "${currenttype} ${prevtype}" = "now now" ] ; then
    run_rsnapshot_command ${config} sync
    rc=$?
  fi
fi

send_logfile
exit ${rc}

