#!/bin/bash

# This file is managed by Ansible, all changes will be lost

# Automatically create Samba user's home directory
mkdir -m 700 -p {{ samba_homes_path }}/${1}
chown ${1}:${1} {{ samba_homes_path }}/${1}

exit 0


