{% if item.comment is defined and item.comment %}
# {{ item.comment }}
{% endif %}
{% if item.custom is defined and item.custom %}
{{ item.custom }}
{% else %}
{{ item.daemon }}: {{ item.client | unique | join(', ') }}
{% endif %}

