{% if item.comment is defined and item.comment %}
# {{ item.comment }}
{% endif %}
{% if item.custom is defined and item.custom %}
{{ item.custom }}
{% else %}
{% set tcpwrappers_tpl_client = [] %}
{% for element in item.client %}
{% set _ = tcpwrappers_tpl_client.append(element | ipwrap) %}
{% endfor %}
{{ item.daemon }}: {{ tcpwrappers_tpl_client | unique | join(', ') }}
{% endif %}

