{% set tcpwrappers_tpl_state = item.default_state | default('enabled') %}
{% if item.disabled is defined %}
{%   set tcpwrappers_tpl_state = 'enabled' %}
{%   if item.disabled is string %}
{%     if item.disabled | bool %}
{%       set tcpwrappers_tpl_state = 'disabled' %}
{%     endif %}
{%   else %}
{%     if item.disabled %}
{%       set tcpwrappers_tpl_state = 'disabled' %}
{%     endif %}
{%   endif %}
{% elif item.enabled is defined %}
{%   set tcpwrappers_tpl_state = 'disabled' %}
{%   if item.enabled is string %}
{%     if item.enabled | bool %}
{%       set tcpwrappers_tpl_state = 'enabled' %}
{%     endif %}
{%   else %}
{%     if item.enabled %}
{%       set tcpwrappers_tpl_state = 'enabled' %}
{%     endif %}
{%   endif %}
{% else %}
{%   set tcpwrappers_tpl_state = 'enabled' %}
{% endif %}
{% if tcpwrappers_tpl_state == 'enabled' %}
{% if item.comment is defined and item.comment %}
# {{ item.comment }}
{% endif %}
{% if item.custom is defined and item.custom %}
{{ item.custom }}
{% else %}
{% set tcpwrappers_tpl_client = [] %}
{% if item.client is defined and item.client %}
{% for element in item.client %}
{% set _ = tcpwrappers_tpl_client.append(element | ipwrap) %}
{% endfor %}
{% endif %}
{% if tcpwrappers_tpl_client %}
{{ item.daemon }}: {{ tcpwrappers_tpl_client | unique | join(', ') }}
{% elif item.accept_any is defined and item.accept_any | bool %}
{{ item.daemon }}: {{ item.default | default('ALL') }}
{% elif item.default is defined and item.default %}
{{ item.daemon }}: {{ item.default }}
{% endif %}
{% endif %}
{% else %}
# TCP wrappers configuration for {{ item.daemon }} is disabled by a variable
{% endif %}

