# Ansible Controllers
{% set tcpwrappers_tpl_local_ansible_controllers = [] %}
{% for element in (ansible_local | default([]) and
                   ansible_local.tcpwrappers | default([]) and
                   ansible_local.tcpwrappers.ansible_controllers | default([])) %}
{%     set _ = tcpwrappers_tpl_local_ansible_controllers.append(element | ipwrap) %}
{% endfor %}
{% if tcpwrappers_ansible_controllers is defined and tcpwrappers_ansible_controllers %}
{%   for element in tcpwrappers_ansible_controllers %}
{%       set _ = tcpwrappers_tpl_local_ansible_controllers.append(element | ipwrap) %}
{%   endfor %}
{% endif %}
{% if ansible_controller is defined and ansible_controller %}
{%     set _ = tcpwrappers_tpl_local_ansible_controllers.append(ansible_controller | ipwrap) %}
{% endif %}
{% set tcpwrappers_tpl_local_ansible_controllers_result = tcpwrappers_tpl_local_ansible_controllers | unique | sort %}
{% for element in tcpwrappers_tpl_local_ansible_controllers_result %}
sshd: {{ element }}
{% endfor %}

