# {{ ansible_managed }}
{#

This file follows the upstream default configuration except for the parts
that are configurable via DebOps variables. If you need a more customized
setup, you can provide your own template via lookup mechanism.

#}

##
## Settings for the Sieve interpreter
##

plugin {
  sieve = {{ dovecot_sieve }}
  sieve_dir = {{ dovecot_sieve_dir }}
}
