{# Copyright (C) 2021 Julien Lecomte <julien@lecomte.at>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
{{ ({
    "enabled": True,
    "http_port": minidlna__http_port | int
}) | to_nice_json }}

