#!/bin/sh

# This file is managed by Ansible, all changes will be lost

{% if (ferm | bool and (ansible_local|d() and
       (ansible_local.root|d() and (ansible_local.root.flags | intersect(ferm_root_flags.cap_net_admin)) or
       (ansible_local.cap12s|d() and (not ansible_local.cap12s.enabled | bool or
       (ansible_local.cap12s.enabled | bool and 'cap_net_admin' in ansible_local.cap12s.list)))))) %}
{% if ((ferm_forward is defined and ferm_forward) or
       ((ansible_local is defined and ansible_local) and
        (ansible_local.ferm is defined and ansible_local.ferm) and
        (ansible_local.ferm.forward is defined and ansible_local.ferm.forward | bool))) %}
{% if ferm_external_interfaces is defined and ferm_external_interfaces %}
{% for interface in ferm_external_interfaces | unique %}
{% if interface and
      (hostvars[inventory_hostname]["ansible_" + interface] is defined and
       hostvars[inventory_hostname]["ansible_" + interface]) %}
# Force Router Advertisement support on {{ interface }} interface
if [ "$IFACE" = "{{ interface }}" ] ; then
  sysctl -w net/ipv6/conf/{{ interface }}/accept_ra=2
fi

{% endif %}
{% endfor %}
{% endif %}
{% if ferm_internal_interfaces is defined and ferm_internal_interfaces %}
{% for interface in ferm_internal_interfaces | unique %}
{% if interface and
      (hostvars[inventory_hostname]["ansible_" + interface] is defined and
       hostvars[inventory_hostname]["ansible_" + interface]) %}
# Force Router Advertisement support on {{ interface }} interface
if [ "$IFACE" = "{{ interface }}" ] ; then
  sysctl -w net/ipv6/conf/{{ interface }}/accept_ra=2
fi

{% endif %}
{% endfor %}
{% endif %}
{% else %}
# Network forwarding in ip(6)tables is not enabled
{% endif %}
{% else %}
# ferm support is disabled
{% endif %}

