#!/bin/sh

# {{ ansible_managed }}

{% if ferm__enabled | bool %}
{%   if (ferm__forward|d(ferm_forward) | bool) or
       (ansible_local|d() and ansible_local.ferm|d() and
        (ansible_local.ferm.forward|d() | bool)) %}
{%     set ferm__tpl_interfaces = (ferm__external_interfaces|d([]) | list) +
                                  (ferm__internal_interfaces|d([]) | list) %}
{%     for interface in ferm__tpl_interfaces | unique %}
{%       if interface and hostvars[inventory_hostname]["ansible_" + interface] | d() %}
# Force Router Advertisement support on {{ interface }} interface
if [ "$IFACE" = "{{ interface }}" ] ; then
  sysctl -w net/ipv6/conf/{{ interface }}/accept_ra=2
fi

{%       endif %}
{%     endfor %}
{%   else %}
# Network forwarding in ip(6)tables is not enabled
{%   endif %}
{% else %}
# ferm support is disabled
{% endif %}

