{# Copyright (C) 2023 David Härdeman <david@hardeman.nu>
 # Copyright (C) 2023 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

[Unit]
Description=Trigger remote backups using BorgBackup
Documentation=https://docs.debops.org/en/master/ansible/roles/debops.borgbackup/

[Timer]
OnCalendar={{ borgbackup__controller_backup_period }}
RandomizedDelaySec={{ borgbackup__controller_backup_random_delay }}
FixedRandomDelay=true
Persistent=true

[Install]
WantedBy=timers.target
