# This file is managed by Ansible, all changes will be lost

# GitLab CI Runner logrotate settings
# based on: http://stackoverflow.com/a/4883967

/var/log/gitlab-ci-runner/*.log {
    daily
    missingok
    rotate 90
    compress
    notifempty
    copytruncate
}

