## Manually added roles which are not automatically detected because they are
## only used as role dependencies.
debops.ansible_plugins
debops.backporter
debops.kvm
debops.monkeysphere
debops.rails_deploy
