{# Copyright (C) 2022 David Härdeman <david@hardeman.nu>
 # Copyright (C) 2021 Anton Lundin <glance@acc.umu.se>
 # Copyright (C) 2022 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
#
# {{ ansible_managed }}
#
# Fix for Debian bug #992351:
# https://bugs.debian.org/992351

install_items+=" /lib/molly-guard/poweroff /lib/molly-guard/reboot /lib/molly-guard/halt /lib/molly-guard/shutdown "
