{# Copyright (C) 2020 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
---
# {{ ansible_managed }}

{{ q("flattened", item.config) | to_nice_yaml(indent=2) }}
