{# Copyright (C) 2023 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2023 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information. The original configuration file can be
# found at /usr/share/openssh/sshd_config.

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

{% for element in sshd__combined_configuration | debops.debops.parse_kv_config %}
{%   if element.name | d() and element.state | d('present') not in [ 'absent', 'ignore' ] %}
{%     set element_comment = ('#' if (element.state | d('present') in [ 'init', 'comment' ]) else '') %}
{%     set element_name = (element.option | d(element.name)) %}
{%     if element.value is defined %}
{%       if element.value is string and not element.value | bool %}
{%         set element_value = element.value %}
{%       elif element.value | bool and element.value is not iterable %}
{%         if element.value | string == '1' %}
{%           set element_value = element.value %}
{%         else %}
{%           set element_value = 'yes' %}
{%         endif %}
{%       elif not element.value | bool and element.value is not iterable %}
{%         if element.value is not none %}
{%           if element.value | int %}
{%             set element_value = element.value %}
{%           else %}
{%             if element.value | string == '0' %}
{%               set element_value = element.value %}
{%             else %}
{%               set element_value = 'no' %}
{%             endif %}
{%           endif %}
{%         endif %}
{%       else %}
{%         set element_value = element.value | map(attribute='name') | list | join(' ') %}
{%       endif %}
{%     endif %}
{%     if (element.separator | d()) | bool or element.comment | d() %}
{{       '' }}
{%     endif %}
{%     if element.comment | d() %}
{{       element.comment | regex_replace('\n$', '') | comment(prefix='', postfix='') -}}
{%     endif %}
{%     if element.raw | d() %}
{%       if element.state == 'comment' %}
{{         element.raw | regex_replace('\n$', '') | comment(decoration='#', prefix='', postfix='') }}
{%       else %}
{{         element.raw | regex_replace('\n$', '') }}
{%       endif %}
{%     else %}
{{       '{}{} {}'.format(element_comment, element_name, element_value) }}
{%       if element.config | d() %}
{%         if element.state == 'comment' %}
{{           element.config | regex_replace('\n$', '') | indent(8, true) | comment(decoration='#', prefix='', postfix='') }}
{%         else %}
{{           element.config | regex_replace('\n$', '') | indent(8, true) }}
{%         endif %}
{%       endif %}
{%     endif %}
{%   endif %}
{% endfor %}
