
  [1;37m    /\\[0m       [1;36m\n.\O[0m
  [1;37m   /  \\[0m      [0;33m{{ console_issue }}[0m
  [1;31m  Deb[1;36mOps[0m
  [1;37m   \\  /[0m      [1;33m\l{% if (console__issue_show_logged_in_users|bool) %} [1;30m/ [1;32m\U{% endif %}[0m
  [1;37m    \\/[0m       [1;35m\s \r[0m

