# {{ ansible_managed }}

# Monkeysphere host configuration file.

# This is an sh-style shell configuration file.  Variable names should
# be separated from their assignments by a single '=' and no spaces.
# Environment variables with the same names as these variables but
# prefaced by "MONKEYSPHERE_" will take precedence over the values
# specified here.

# Log level.  Can be SILENT, ERROR, INFO, VERBOSE, DEBUG, in
# increasing order of verbosity.
LOG_LEVEL={{ monkeysphere_log_level }}

# OpenPGP keyserver
KEYSERVER={{ monkeysphere_keyserver }}


