#!/bin/bash

# {{ ansible_managed }}

set -e

# If no project name is given, display help
if [ $# -eq 0 ] ; then
	cat <<-EOF
	Usage: $(basename ${0}) <repository> [archive]

	Copy work tree of <repository> to archive directory
	Optional [archive] let's you create different snapshots
	EOF
	exit 1
fi

# Sanitize repository name
repository=${1//[^a-zA-Z0-9\.\/\_-]/}
project=$(echo "${repository}" | sed -e 's/^\///i' -e 's/\.\././g' -e 's/^\.//i' -e 's/\.git$\|$/.git/i')

if [ -d ${project} ] ; then
	cd "${HOME}/${project}"
else
	echo "Error: Repository ${repository} not found" && exit 1
fi

name="_archive_${2//[^a-zA-Z0-9\.\_-]/}"

if [ -z "${2}" ] ; then
	name="_archive"
fi

set +e
worktree=$(git config deploy.worktree)
branch=$(git config deploy.branch)
domain=$(git config deploy.domain)
subdirectory=$(git config deploy.subdirectory)
userdir=$(git config --bool deploy.userdir)
set -e

if [ -z "${userdir}" ] ; then
	snapshottree="/srv/www/${USER}/snapshots/${domain}/${branch}/public"
else
	snapshottree="/srv/www/${USER}/snapshots/userdir/${branch}/public"
fi

if [ -n "${subdirectory}" ] ; then
	snapshottree="${snapshottree}/${subdirectory}"
fi

snapshot="${snapshottree}${name}"

if [ -d ${worktree} ] ; then
	mkdir -p "$(dirname ${snapshot})"
	rsync -a --delete ${worktree}/ ${snapshot}
	echo "Work tree archived to ${snapshot}"
fi


