// This file is managed by Ansible, all changes will be lost

// Do not install Recommended packages by default
APT::Install-Recommends "false";

// Allow 'apt-get autoremove' to remove recommended packages
APT::AutoRemove::RecommendsImportant "false";

