# This file is managed by Ansible, all changes will be lost

# This file maps users against the database clusters to which they
# will connect by default.  Any user may create ~/.postgresqlrc which
# will supersede the defaults stored here.  If a database is
# specified, that will be the one connected to by client tools if none
# is specified on the command line.  If the database specified here is
# "*", this is interpreted as the database whose name is the same as
# the user's login.  (Setting the database to "*" will provide the
# current default upstream behaviour for command line tools.)
#
# When pg_wrapper scans this file, the first matching line is used.
# It is a good idea to provide a default explicitly, with a final line
# where both user and group are set to "*".  If there is no default,
# the implicit default is to connect to the cluster whose postmaster
# is listening on port 5432 and to the database matching the user's
# login name.
#
# In the context of this file, user and group refer to the Unix login
# or group, not to PostgreSQL users and groups.
#
# Please see user_clusters(5) and postgresqlrc(5) for more information.
#
# USER	GROUP	VERSION	CLUSTER	DATABASE
{% if postgresql_user_clusters is defined and postgresql_user_clusters %}
{{ postgresql_user_clusters }}
{% endif %}


