{# Copyright (C) 2013-2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2017 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2016 Reto Gantenbein <reto.gantenbein@linuxmonk.ch>
 # Copyright (C) 2014-2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# Load configuration from parts
@include 'rules.d/';
