{
"flags": {{ ((ansible_local.root.flags if (ansible_local is defined and ansible_local.root is defined and ansible_local.root.flags is defined) else []) + root_flags_combined) | sort | unique | list | to_nice_json }},
"uuid": "{{ ansible_local.root.uuid if (ansible_local is defined and ansible_local.root is defined and ansible_local.root.uuid is defined) else (root_register_uuid.stdout if (root_register_uuid is defined and root_register_uuid.stdout) else root_uuid_random_source) | lower }}",
{% for item in root_service_directories %}
{% if hostvars[inventory_hostname]["ansible_local"] is defined and
      hostvars[inventory_hostname]["ansible_local"]["root"] is defined and
      hostvars[inventory_hostname]["ansible_local"]["root"][item.fact] is defined %}
"{{ item.fact }}": "{{ hostvars[inventory_hostname]["ansible_local"]["root"][item.fact] }}"{% if not loop.last %},{% endif %}
{% else %}
"{{ item.fact }}": "{{ item.path }}"{% if not loop.last %},{% endif %}
{% endif %}

{% endfor %}
}
