#!/usr/bin/env python

# {{ ansible_managed }}

from __future__ import print_function
from json import loads, dumps
import subprocess
import re

output = loads('''{{ ({
    "enabled": (apache__deploy_state == "present"),
    "user": apache__user,
    }) | to_nice_json }}''')

try:
    for line in subprocess.check_output(['apache2', '-v']).split('\n'):
        _re = re.match(r'Server version: Apache/(?P<version>[^ ]+)', line)
        if _re:
            output['version'] = _re.group('version')
except:
    pass

print(dumps(output, sort_keys=True, indent=2))
