{% set core_tpl_facts = {} %}
{% if not core_reset_facts|d(False) %}
{%   if ansible_local|d() and ansible_local.core|d() %}
{%     for key, value in ansible_local.core.iteritems() %}
{%       if key not in core_remove_facts|d([]) %}
{%         set _ = core_tpl_facts.update({ key: value }) %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
{% if core_facts|d() %}
{%   for key, value in core_facts.iteritems() %}
{%     if key not in core_remove_facts|d([]) %}
{%       set _ = core_tpl_facts.update({ key: value }) %}
{%     endif %}
{%   endfor %}
{% endif %}
{% if core_group_facts|d() %}
{%   for key, value in core_group_facts.iteritems() %}
{%     if key not in core_remove_facts|d([]) %}
{%       set _ = core_tpl_facts.update({ key: value }) %}
{%     endif %}
{%   endfor %}
{% endif %}
{% if core_host_facts|d() %}
{%   for key, value in core_host_facts.iteritems() %}
{%     if key not in core_remove_facts|d([]) %}
{%       set _ = core_tpl_facts.update({ key: value }) %}
{%     endif %}
{%   endfor %}
{% endif %}
{% set core_tpl_ansible_controllers = [] %}
{% if ansible_local|d() and ansible_local.core|d() and ansible_local.core.ansible_controllers|d() %}
{%   for element in ansible_local.core.ansible_controllers %}
{%     set _ = core_tpl_ansible_controllers.append(element) %}
{%   endfor %}
{% endif %}
{% if core_ansible_controllers|d() %}
{%   for element in core_ansible_controllers %}
{%     set _ = core_tpl_ansible_controllers.append(element) %}
{%   endfor %}
{% endif %}
{% if core_fact_ansible_controller|d() %}
{%   set _ = core_tpl_ansible_controllers.append(core_fact_ansible_controller) %}
{% endif %}
{% if core_tpl_ansible_controllers %}
{%   set _ = core_tpl_facts.update({ "ansible_controllers": core_tpl_ansible_controllers | sort | unique }) %}
{% endif %}
{% if core_keyserver|d() %}
{%   set _ = core_tpl_facts.update({ "keyserver": core_keyserver }) %}
{% endif %}
{% if core_cache_valid_time|d() %}
{%   set _ = core_tpl_facts.update({ "cache_valid_time": core_cache_valid_time }) %}
{% endif %}
{% if core_tpl_facts|d() %}
{{ core_tpl_facts | to_nice_json }}
{% endif %}
