{% set gitlab__tpl_systemd_services = (ansible_local.gitlab.systemd_services if (ansible_local|d() and ansible_local.gitlab|d() and ansible_local.gitlab.systemd_services|d()) else gitlab_use_systemd) %}
{
"installed": true,
"systemd_services": {{ gitlab__tpl_systemd_services | bool | lower }},
"version": "{{ gitlab_version }}"
}
