# This file is managed by Ansible, all changes will be lost

[mailman]
configured = True
{% if mailman_domains is defined and mailman_domains %}
domains = {{ mailman_domains | join(',') }}
{% endif %}
