{% set mariadb_tpl_client      = ansible_local.mariadb.client      if (ansible_local|d() and ansible_local.mariadb|d() and ansible_local.mariadb.client|d())      else "localhost" %}
{% set mariadb_tpl_delegate_to = ansible_local.mariadb.delegate_to if (ansible_local|d() and ansible_local.mariadb|d() and ansible_local.mariadb.delegate_to|d()) else mariadb_server_delegate_to %}
{% set mariadb_tpl_flavor      = ansible_local.mariadb.flavor      if (ansible_local|d() and ansible_local.mariadb|d() and ansible_local.mariadb_flavor|d()) else mariadb_server_flavor %}
{% set mariadb_tpl_host        = ansible_local.mariadb.host        if (ansible_local|d() and ansible_local.mariadb|d() and ansible_local.mariadb.host|d())        else "localhost" %}
{% set mariadb_tpl_port        = ansible_local.mariadb.port        if (ansible_local|d() and ansible_local.mariadb|d() and ansible_local.mariadb.port|d())        else "3306" %}
{% set mariadb_tpl_server      = ansible_local.mariadb.server      if (ansible_local|d() and ansible_local.mariadb|d() and ansible_local.mariadb.server|d())      else "localhost" %}
{% if (mariadb_server_register_version.stdout or (mariadb_server_register_install_status|d() and mariadb_server_register_install_status.changed)) %}
{% set mariadb_tpl_client      = "localhost" %}
{% set mariadb_tpl_delegate_to = mariadb_server_delegate_to %}
{% set mariadb_tpl_host        = "localhost" %}
{% set mariadb_tpl_server      = "localhost" %}
{% endif %}
{
"client": "{{ mariadb_tpl_client }}",
"delegate_to": "{{ mariadb_tpl_delegate_to }}",
"flavor": "{{ mariadb_tpl_flavor }}",
"host": "{{ mariadb_tpl_host }}",
"port": "{{ mariadb_tpl_port }}",
"server": "{{ mariadb_tpl_server }}"
}
