{% set ntp_tpl_daemon = '' %}
{% if (ntp_daemon|d() and ansible_local|d() and
       (ansible_local.root|d() and (ansible_local.root.flags | intersect(ntp_root_flags.cap_sys_time)) or
       (ansible_local.cap12s|d() and (not ansible_local.cap12s.enabled | bool or
       (ansible_local.cap12s.enabled | bool and 'cap_sys_time' in ansible_local.cap12s.list))))) %}
{% set ntp_tpl_daemon = ntp_daemon %}
{% endif %}
{
"configured": "true",
"daemon": "{{ ntp_tpl_daemon }}"
}
