{{ ({
	"enabled": "true",
	"webserver": owncloud__webserver|string,
	"release": owncloud__release|string,
	"variant": owncloud__variant|string,
	"auto_security_updates_enabled": owncloud__auto_security_updates_enabled|bool,
}) | to_nice_json }}
