{% set pki_tpl_acme = pki_acme | bool %}
{% set pki_tpl_enabled = pki_enabled | bool %}
{% set pki_tpl_internal = pki_internal | bool %}
{% set pki_tpl_hooks = pki_root + "/hooks" %}
{% set pki_tpl_path = pki_root + "/realms" %}
{% set pki_tpl_realm = pki_system_realm %}
{% set pki_tpl_ca_realm = pki_system_ca_realm %}
{% set pki_tpl_known_realms = [] %}
{% if pki_enabled | bool %}
{%   for realm in (pki_realms + pki_default_realms + pki_group_realms + pki_host_realms + pki_dependent_realms) %}
{%     if (realm.name is defined and ((realm.enabled is undefined or realm.enabled|bool) and (realm.when is undefined or realm.when|bool))) %}
{%       set _ = pki_tpl_known_realms.append(realm.name) %}
{%     endif %}
{%   endfor %}
{%   if (ansible_local|d() and ansible_local.pki|d() and ansible_local.pki.known_realms|d()) %}
{%     for realm in ansible_local.pki.known_realms %}
{%       if realm not in pki_tpl_known_realms %}
{%         set _ = pki_tpl_known_realms.append(realm) %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
{
"acme": "{{ pki_tpl_acme | bool | lower }}",
"base_path": "{{ pki_tpl_path }}",
"ca": "CA.crt",
"ca_realm": "{{ pki_tpl_ca_realm }}",
"crt": "default.crt",
"enabled": "{{ pki_tpl_enabled | bool | lower }}",
"hooks": "{{ pki_tpl_hooks }}",
"internal": "{{ pki_tpl_internal | bool | lower }}",
"key": "default.key",
"known_realms": {{ pki_tpl_known_realms | to_nice_json }},
"path": "{{ pki_tpl_path }}",
"pem": "default.pem",
"realm": "{{ pki_tpl_realm }}",
"trusted": "trusted.crt"
}
