{% set postgresql_tpl_version = ansible_local.postgresql.version if (ansible_local|d() and ansible_local.postgresql|d() and ansible_local.postgresql.version|d()) else postgresql_version %}
{% set postgresql_tpl_server = ansible_local.postgresql.server if (ansible_local|d() and ansible_local.postgresql|d() and ansible_local.postgresql.server|d()) else postgresql_server %}
{% set postgresql_tpl_port = ansible_local.postgresql.port if (ansible_local|d() and ansible_local.postgresql|d() and ansible_local.postgresql.port|d()) else postgresql_port %}
{% set postgresql_tpl_delegate_to = ansible_local.postgresql.delegate_to if (ansible_local|d() and ansible_local.postgresql|d() and ansible_local.postgresql.delegate_to|d()) else postgresql_delegate_to %}
{% set postgresql_tpl_user = ansible_local.postgresql.user if (ansible_local|d() and ansible_local.postgresql|d() and ansible_local.postgresql.user|d()) else postgresql_user %}
{% if (postgresql_register_server|d() and postgresql_register_server.stdout) %}
{% set postgresql_tpl_server = "localhost" %}
{% endif %}
{
"delegate_to": "{{ postgresql_tpl_delegate_to }}",
"port": "{{ postgresql_tpl_port }}",
"server": "{{ postgresql_tpl_server }}",
"user": "{{ postgresql_tpl_user }}",
"version": "{{ postgresql_tpl_version }}"
}
