#!/bin/bash

# {{ ansible_managed }}

# Gather information about /proc related to hidepid

set -o nounset -o pipefail -o errexit

hidepid="false"
hidepid_type=""
hidepid_gid=""
hidepid_group=""

if grep -qs -E '^proc\s+.*hidepid=' /proc/mounts ; then

    hidepid="true"

    # Find the hidepid value
    hidepid_type="$(grep -E '^proc\s+.*hidepid=' /proc/mounts | awk '{print $4}' | awk -F',' '{for (i=1;i<=NF;i++) {if ($i ~ /hidepid=/) {print $i}}}' | cut -d= -f2)"

    # Find the hidepid gid
    hidepid_gid="$(grep -E '^proc\s+.*hidepid=' /proc/mounts | awk '{print $4}' | awk -F',' '{for (i=1;i<=NF;i++) {if ($i ~ /gid=/) {print $i}}}' | cut -d= -f2)"

    # Find the hidepid group
    if [ -n "${hidepid_gid}" ]; then
        hidepid_group="$(getent group ${hidepid_gid} | cut -d: -f1)"
    fi

fi

output="{\"hidepid\": \"${hidepid}\", \"hidepid_type\": \"${hidepid_type}\", \"hidepid_gid\": \"${hidepid_gid}\", \"hidepid_group\": \"${hidepid_group}\"}"

echo ${output}

