#!/bin/bash

# {{ ansible_managed }}

# Gather information about /proc related to hidepid

set -eu -o pipefail

hidepid="false"
hidepid_type=""
hidepid_gid=""
hidepid_group=""

if grep -qs '/proc' /proc/mounts ; then

    hidepid="true"

    # Find the hidepid value
    hidepid_type="$(grep -E '^proc' /proc/mounts | awk '{print $4}' | awk -F',' '{for (i=1;i<=NF;i++) {if ($i ~ /hidepid=/) {print $i}}}' | cut -d= -f2)"

    # Find the hidepid gid
    hidepid_gid="$(grep -E '^proc' /proc/mounts | awk '{print $4}' | awk -F',' '{for (i=1;i<=NF;i++) {if ($i ~ /gid=/) {print $i}}}' | cut -d= -f2)"

    # Find the hidepid group
    hidepid_group="$(getent group ${hidepid_gid} | cut -d: -f1)"

fi

output="{\"hidepid\": \"${hidepid}\", \"hidepid_type\": \"${hidepid_type}\", \"hidepid_gid\": \"${hidepid_gid}\", \"hidepid_group\": \"${hidepid_group}\"}"

echo ${output}

