{
"installed":"true",
"username":"{{ ansible_local.snmpd.username if (ansible_local|d() and ansible_local.snmpd|d() and ansible_local.snmpd.username) else snmpd_account_local_username }}",
"password":"{{ ansible_local.snmpd.password if (ansible_local|d() and ansible_local.snmpd|d() and ansible_local.snmpd.password) else snmpd_account_local_password }}"
}
