{% set core_tpl_tags = [] %}
{% if not core_reset_tags|d(False) %}
{%   if ansible_local|d() and ansible_local.tags|d() %}
{%     for element in ansible_local.tags %}
{%       set _ = core_tpl_tags.append(element) %}
{%     endfor %}
{%   elif ansible_local|d() and ansible_local.root|d() and ansible_local.root.flags|d() %}
{%     for element in ansible_local.root.flags %}
{%       set _ = core_tpl_tags.append(element) %}
{%     endfor %}
{%   endif %}
{% endif %}
{% set core_tpl_tags_list = (core_tpl_tags + core_tags|d([]) + core_group_tags|d([]) + core_host_tags|d([])) | difference(core_remove_tags|d([])) %}
{% if core_static_tags|d() %}
{%   set core_tpl_tags_list = core_static_tags|d([]) | difference(core_remove_tags|d([])) %}
{% endif %}
{{ core_tpl_tags_list | sort | unique | to_nice_json }}
