{# Copyright (C) 2015-2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
{
"database": "{{ ansible_local.gitlab.database|d(gitlab__database) }}",
"fqdn": "{{ gitlab__fqdn }}",
"installed": true,
"registry": {{ gitlab__registry_enabled | bool | lower }},
"registry_pki_realm": "{{ gitlab__registry_pki_realm }}",
"registry_token_realm_url": "{{ gitlab__registry_token_realm_url }}",
"registry_token_issuer": "{{ gitlab__registry_token_issuer }}",
"registry_token_service": "{{ gitlab__registry_token_service }}",
"systemd_services": {{ ansible_local.gitlab.systemd_services|d(gitlab_use_systemd) | bool | lower }},
"version": "{{ gitlab_version }}"
}
