# This file is managed by Ansible, all changes will be lost

[mailman]
configured = True
{% if mailman_patches is defined and mailman_patches %}
patches_applied = True
{% else %}
patches_applied = False
{% endif %}
{% if mailman_domains is defined and mailman_domains %}
domains = {{ mailman_domains | join(',') }}
{% endif %}
