{# Copyright (C) 2014      Nick Janetakis <nick.janetakis@gmail.com>
 # Copyright (C) 2014-2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2014-2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

{% if item.comment|d() %}
{{ item.comment | regex_replace('\n$','') | comment(prefix='', postfix='') -}}
{% endif %}
{% if item.content|d() %}
{{ item.content -}}
{% endif %}
