{# Copyright (C) 2026 Patryk Ściborek <patryk@sciborek.com>
 # Copyright (C) 2026 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
{% for instance in vmagent__combined_instances %}
{%   if instance.state | d('present') == 'present' and instance.bearer_token | d(False) | bool %}
  - '{{ vmagent__secret_base_path + "/" + instance.name }}'
{%   endif %}
{% endfor %}
