{% extends "README.md.j2" %}

{% block title %}
## [![DebOps](https://debops.org/images/debops-small.png)](https://debops.org) {{ role.name }}
{% endblock %}

{% block badges %}
{% if ansigenome_info.travis|d() %}
[![Travis CI](https://img.shields.io/travis/{{ scm.user + '/' + role.slug }}.svg?style=flat)](https://travis-ci.org/{{ scm.user + '/' + role.slug }})
[![test-suite](https://img.shields.io/badge/test--suite-{{ scm.repo_prefix | replace("-","--") | replace("_","__") + role.name | replace("-","--") | replace("_","__") }}-blue.svg?style=flat)](https://github.com/{{ scm.user }}/test-suite/tree/master/{{ scm.repo_prefix + role.name }}/)
{% endif %}
{% if ansigenome_info.galaxy_url|d() %}
[![Ansible Galaxy](https://img.shields.io/badge/galaxy-{{ role.galaxy_name | replace('-', '--')}}-660198.svg?style=flat)]({{ ansigenome_info.galaxy_url }})
{% endif %}
{%- endblock %}

{% block installation %}
### Installation

This role requires at least Ansible{% if galaxy_info.min_ansible_version is defined and galaxy_info.min_ansible_version %} `v{{ galaxy_info.min_ansible_version }}`{% endif %}. To install it, run:

```Shell
ansible-galaxy install {{ role.galaxy_name }}
```

### Documentation

More information about `{{ role.galaxy_name }}` can be found in the
[official {{ role.galaxy_name }} documentation](https://docs.debops.org/en/latest/ansible/roles/{{ role.slug }}/docs/).

### Contributing

Please note that this repository is not the upstream repository where changes should be contributed to.
Head over to https://github.com/debops/debops where you can find the contents of this repo and where changes are welcome.

{% endblock %}
{% block standalone %}

### Are you using this as a standalone role without DebOps?

You may need to include missing roles from the [DebOps common
playbook](https://github.com/debops/debops-playbooks/blob/master/playbooks/common.yml)
into your playbook.

[Try DebOps now](https://debops.org/) for a complete solution to run your Debian-based infrastructure.

{% endblock %}
{% block defaults %}
{% endblock %}
{% block facts %}
{% endblock %}
{% block usage %}
{% endblock %}
{% block footer %}
***

This role is part of [DebOps](https://debops.org/). README generated by [ansigenome](https://github.com/nickjj/ansigenome/).
{% endblock %}
