{% extends "README.rst.j2" %}
{% block title %}
{%- set title_length = (role.name | length | int + 9) -%}
|DebOps| {{ role.name }}
{{ "#" * title_length }}

.. |DebOps| image:: https://debops.org/images/debops-small.png
   :target: https://debops.org
{% endblock %}
{% block badges %}
{% if ansigenome_info.travis is defined and ansigenome_info.travis %}|Travis CI| |test-suite|{% endif %}{% if ansigenome_info.galaxy_id is defined and ansigenome_info.galaxy_id %} |Ansible Galaxy|{% endif %}


{% if ansigenome_info.travis is defined and ansigenome_info.travis %}
.. |Travis CI| image:: http://img.shields.io/travis/{{ scm.user + '/' + role.slug }}.svg?style=flat
   :target: http://travis-ci.org/{{ scm.user + '/' + role.slug }}

.. |test-suite| image:: http://img.shields.io/badge/test--suite-{{ scm.repo_prefix | replace("-","--") | replace("_","__") + role.name | replace("-","--") | replace("_","__") }}-blue.svg?style=flat
   :target: https://github.com/{{ scm.user }}/test-suite/tree/master/{{ scm.repo_prefix + role.name }}/

{% endif %}
{% if ansigenome_info.galaxy_id is defined and ansigenome_info.galaxy_id %}
.. |Ansible Galaxy| image:: http://img.shields.io/badge/galaxy-{{ role.galaxy_name }}-660198.svg?style=flat
   :target: https://galaxy.ansible.com/detail#/role/{{ ansigenome_info.galaxy_id }}

{% endif %}
{% endblock %}
{% block installation %}
Installation
~~~~~~~~~~~~

{% if galaxy_info.min_ansible_version is defined and galaxy_info.min_ansible_version %}This role requires at least Ansible ``v{{ galaxy_info.min_ansible_version }}``. {% endif %}To install it, run:

::

    ansible-galaxy install {{ role.galaxy_name }}

Are you using this as a standalone role without DebOps?
=======================================================

You may need to include missing roles from the `DebOps common playbook`_
into your playbook.

`Try DebOps now`_ for a complete solution to run your Debian-based infrastructure.

.. _DebOps common playbook: https://github.com/debops/debops-playbooks/blob/master/playbooks/common.yml
.. _Try DebOps now: https://github.com/debops/debops/

{% endblock %}
{% block authors %}
Authors and license
~~~~~~~~~~~~~~~~~~~

``{{ role.name }}`` role was written by:

{% for credit in authors %}
- {% if credit.url is defined and credit.url %}`{% endif %}{{ credit.name }}{% if credit.url is defined and credit.url %} <{{ credit.url }}>`_{% endif %}{% if credit.email is defined and credit.email %} | `e-mail <mailto:{{ credit.email }}>`_{% endif %}{% if credit.twitter is defined and credit.twitter %} | `Twitter <https://twitter.com/{{ credit.twitter }}>`_{% endif %}{% if credit.github is defined and credit.github %} | `GitHub <https://github.com/{{ credit.github }}>`_{% endif %}

{% endfor %}

License: `{{ license.type | trim }} <{{ license.url | trim }}>`_
{% endblock %}
{% block footer %}
****

This role is part of the `DebOps`_ project. README generated by `ansigenome`_.

.. _DebOps: https://debops.org/
.. _Ansigenome: https://github.com/nickjj/ansigenome/
{% endblock %}
