{# Copyright (C) 2015 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# Uncomment to start SNMP subagent and enable CDP, SONMP and EDP protocol
DAEMON_ARGS="{{ snmpd_lldpd_options }}"
