{# Copyright (C) 2019-2023 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2023 David Härdeman <david@hardeman.nu>
 # Copyright (C) 2019-2023 DebOps https://debops.org/
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# These entries have been added by the debops.borgbackup role
{% for host in borgbackup__template_hosts %}
{#   Note: only explicitly set variables (not role defaults) are available #}
{%   set host_fqdn = hostvars[host].borgbackup__fqdn | d(hostvars[host].ansible_fqdn) %}
{%   if "ansible_ssh_host_key_ecdsa_public" in hostvars[host] | d([]) %}
{{     host_fqdn }} ecdsa-sha2-nistp256 {{ hostvars[host].ansible_ssh_host_key_ecdsa_public | trim() }}
{%   endif %}
{%   if "ansible_ssh_host_key_ed25519_public" in hostvars[host] | d([]) %}
{{     host_fqdn }} ssh-ed25519 {{ hostvars[host].ansible_ssh_host_key_ed25519_public | trim() }}
{%   endif %}
{%   if "ansible_ssh_host_key_rsa_public" in hostvars[host] | d([]) %}
{{     host_fqdn }} ssh-rsa {{ hostvars[host].ansible_ssh_host_key_rsa_public | trim() }}
{%   endif %}
{% endfor %}
# End of debops.borgbackup entries
