{% include 'postfix__virtual_ldap_header.j2' %}


# Last but not least the virtual_alias_maps setting is used to
# find the target mailbox (configured in maildrop).

search_base = {{ postfix__ldap_people_dn|join(",") }}
scope = sub
query_filter = (&(mailAlias=%s){{ postfix__ldap_user_filter }})
result_attribute = mail
