<?php
/* This file is managed by Ansible, all changes will be lost */
{#
Copyright 2015 by Hartmut Goebel <h.goebel@crazy-compilers.com>
Licence: GPLv3
#}
{% set _cfg = dict() %}
{%- set _ = _cfg.update(owncloud_default_autoconfig) %}
{%- set _ = _cfg.update(owncloud_default_autoconfig_group) %}
{%- set _ = _cfg.update(owncloud_database_map[owncloud_database]) %}
{%- set _ = _cfg.update(owncloud_autoconfig) %}
{%- if 'dbpass' in owncloud_database_map[owncloud_database] %}
{%-    set _ = _cfg.update(dict(dbpass=owncloud_database_password)) %}
{%- endif %}
{%- if owncloud_admin_username != False %}
{%-  set  _ = _cfg.update(dict(adminlogin=owncloud_admin_username)) %}
{%-  if owncloud_admin_password != False %}
{%-    set  _ = _cfg.update(dict(adminpass=owncloud_admin_password)) %}
{%-  endif %}
{%- endif %}
$json = {{ _cfg | to_nice_json }};

$AUTOCONFIG = json_decode($json);
?>
