<?php
/* {{ ansible_managed }} */

{#
:fixme: login, password and directory must be html-enoded, because
owncloud decodes then (see install() in lib/private/setup.php). But
double-check first.
#}

$AUTOCONFIG = array(
  "directory" => "{{ owncloud__data_path }}",
{% for key, value in owncloud__database_map[owncloud__database].iteritems() %}
{% if key == 'dbpass' %}
  "{{ key }}" => "{{ owncloud__database_password }}",
{% else %}
  "{{ key }}" => "{{ value }}",
{% endif %}
{% endfor %}
{% if owncloud__admin_username != False %}
  "adminlogin" => "{{ owncloud__admin_username }}",
{% if owncloud__admin_password != False %}
  "adminpass" => "{{ owncloud__admin_password }}",
{% endif %}
{% endif %}
);
?>
