<?php
/* {{ ansible_managed }} */

{#
:fixme: login, password and directory must be html-enoded, because
owncloud decodes then (see install() in lib/private/setup.php). But
double-check first.
#}

$AUTOCONFIG = array(
  "directory" => "{{ owncloud_data_path }}",
{% for key, value in owncloud_database_map[owncloud_database].iteritems() %}
{% if key == 'dbpass' %}
  "{{ key }}" => "{{ owncloud_database_password }}",
{% else %}
  "{{ key }}" => "{{ value }}",
{% endif %}
{% endfor %}
{% if owncloud_admin_username != False %}
  "adminlogin" => "{{ owncloud_admin_username }}",
{% if owncloud_admin_password != False %}
  "adminpass" => "{{ owncloud_admin_password }}",
{% endif %}
{% endif %}
);
?>
