<?php
/* {{ ansible_managed }} */
{#
Copyright 2015 by Hartmut Goebel <h.goebel@crazy-compilers.com>
Licence: GPLv3
#}
$CONFIG = json_decode('{{
            owncloud_initial_config_global
  | combine(owncloud_initial_config_group)
  | combine(owncloud_initial_config)
  | to_nice_json }}', true);
?>
