<?php
/* {{ ansible_managed }} */
{#
Copyright 2015 by Steffen Lindner <mail@steffen-lindner.de>
Licence: GPLv3
#}

$CONFIG = json_decode('{{ owncloud_custom_conf_map|combine(owncloud_custom_group_conf_map)|combine(owncloud_custom_host_conf_map) | to_nice_json }}', true);
?>
