<?php
/* {{ ansible_managed }} */
{#
Copyright 2015 by Steffen Lindner <mail@steffen-lindner.de>
Licence: GPLv3
#}
{%- set _cfg = dict() %}
{%- set _ = _cfg.update(owncloud_mail_conf_map) %}

$CONFIG = json_decode('{{ _cfg | to_nice_json }}', true);
?>
