{% import 'macros.jinja2' as get with context %}
# This file is managed by Ansible, all changes will be lost

# This table specifies how mails should be archived by Postfix. Archiving
# is done by adding BCC address to mail messages with sender or recipient
# addresses identified by regular expressions.


{% if 'archive' in postfix %}
{%   if postfix_archive_method == 'all' %}
{%     set postfix_tpl_archive_bcc_map_atregexp = '@' %}
{%   elif postfix_archive_method == 'domain' %}
{%     set postfix_tpl_archive_bcc_map_atregexp = '+${2}@' %}
{%   elif postfix_archive_method == 'domain-account' %}
{%     set postfix_tpl_archive_bcc_map_atregexp = '+${2}' + postfix_archive_separator + '${1}@' %}
{%   endif %}
{%   if postfix_archive_to is defined and postfix_archive_to %}
{%     set to_account, to_domain = postfix_archive_to.split('@') %}
{%     set postfix_tpl_archive_bcc_map_recipient = to_account + postfix_tpl_archive_bcc_map_atregexp + to_domain %}
{%   else %}
{%     if 'local' in postfix %}
{%       set postfix_tpl_archive_bcc_map_recipient = postfix_archive_account + postfix_tpl_archive_bcc_map_atregexp + ansible_fqdn %}
{%     elif 'local' not in postfix %}
{%       set postfix_tpl_archive_bcc_map_recipient = postfix_archive_account + postfix_tpl_archive_bcc_map_atregexp + (postfix_archive_subdomain | default("")) + ansible_domain %}
{%     endif %}
{%   endif %}
{%   if postfix_archive_method in [ 'all', 'domain', 'domain-account' ] %}
{%     if postfix_archive_domains is defined and postfix_archive_domains %}
{%       for domain in postfix_archive_domains | sort | unique %}
{{ "%-50s %s" | format("/^([^@]+)\@(" + domain | replace('.','\.') + ")$/", postfix_tpl_archive_bcc_map_recipient) }}
{%       endfor %}
{%     elif (postfix_archive_domains is undefined or (postfix_archive_domains is defined and not postfix_archive_domains)) %}
{{ "%-50s %s" | format('/^([^@]+)\@(.+)$/', postfix_tpl_archive_bcc_map_recipient) }}
{%     endif %}
{%   else %}
# Unknown archive method: {{ postfix_archive_method }}
{%   endif %}
{% else %}
# required postfix capability: +archive
{% endif %}

