# This file is managed by Ansible, all changes will be lost

{% if postfix_table_postscreen_pcre_reply_map is defined and postfix_table_postscreen_pcre_reply_map %}
{{ postfix_table_postscreen_pcre_reply_map }}
{% else %}
!/^zen\.spamhaus\.org$/		multiple DNS-based blocklists
{% endif %}


