{# Copyright (C) 2014-2019 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2017 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2014-2019 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

{% if dnsmasq__nameservers|d() and dnsmasq__nameservers is iterable %}
{%   for nameserver in dnsmasq__nameservers %}
nameserver {{ nameserver }}
{%   endfor %}
{% elif dnsmasq__nameservers|d() and dnsmasq__nameservers is string %}
nameserver {{ dnsmasq__nameservers }}
{% endif %}
