# {{ ansible_managed }}

{% if sks_server_allow is defined %}
protocol tcp dport hkp {
{% if sks_server_allow is defined and sks_server_allow == True %}
	ACCEPT;
{% elif sks_server_allow is defined and sks_server_allow %}
{% for address in sks_server_allow %}
	saddr {{ address }} ACCEPT;
{% endfor %}
{% endif %}
}
{% endif %}


