{# Copyright (C) 2016-2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2016-2017 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2016-2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# Kernel upgrade hints are disabled to allow for non-interactive APT package
# installs. Without this, non-interactive APT operations, for example performed
# by Ansible, will hang indefinitely - waiting for user interaction.
$nrconf{kernelhints} = 0;
