#!/bin/bash

# This file is managed by Ansible, all changes will be lost

# Bootstrap new OpenVZ Debian-based container for Ansible management.
# Run this script after starting your new container for best
# results.

container=${1}

if [ -z "${container}" ]; then
	echo "Usage: vzbootstrap-ansible CTID"
	exit 1
fi

check_container=$(vzlist -1 | grep ${container})
if [ -z "${check_container}" ]; then
        echo "Error: Container ${container} is stopped or doesn't exist"
        exit 1
fi

check_group=$(vzctl exec ${container} getent group | grep '^admins:x')
if [ -n "${check_group}" ]; then
	echo "Container ${container} already bootstrapped"
	exit 1
fi

username="{{ openvz_template_admin_username }}"

sshkey="{{ openvz_template_admin_sshkey }}"


# ---- Script executed inside OpenVZ container ----

cat <<EOF | vzctl exec ${container} -

{% if openvz_template_salt is defined and openvz_template_salt %}
cat > /usr/sbin/policy-rc.d <<EOT
#!/bin/sh
echo "All runlevel operations denied by policy" >&2
exit 101
EOT
chmod +x /usr/sbin/policy-rc.d
echo "{{ openvz_template_salt_upstream_repository }}" >> /etc/apt/sources.list
wget -q -O- "{{ openvz_template_salt_apt_key_url }}" | apt-key add -
apt-get -yq update
apt-get -yq install {{ openvz_template_salt_packages | join(" ") }}
{% if openvz_template_salt_options is defined and openvz_template_salt_options %}
cat > /etc/salt/minion.d/ansible.conf <<EOT
{{ openvz_template_salt_options }}
EOT
{% endif %}
rm -rf /usr/sbin/policy-rc.d
service salt-minion start

{% else %}
apt-get -yq update
{% endif %}
apt-get -yq install python python-apt sudo lsb-release

mkdir -p -m 700 /root/.ssh
echo "${sshkey}" > /root/.ssh/authorized_keys

addgroup --system admins

echo "%admins ALL = (ALL) NOPASSWD: ALL" > /etc/sudoers.d/admins
chmod 440 /etc/sudoers.d/admins

adduser --disabled-password --home /home/${username} --gecos "System Administrator" ${username}
adduser ${username} admins

mkdir -p -m 700 /home/${username}/.ssh
echo "${sshkey}" > /home/${username}/.ssh/authorized_keys
chown -R ${username}:${username} /home/${username}/.ssh

EOF

