# This file is managed by Ansible, all changes will be lost

{% if ntp_listen is defined and ntp_listen %}
# Addresses to listen on
{% if ntp_listen is string %}
listen on {{ ntp_listen }}

{% else %}
{% for address in ntp_listen %}
listen on {{ address }}
{% endfor %}

{% endif %}
{% else %}
# ntpd is not listening on any interface

{% endif %}
{% if ntp_servers is defined and ntp_servers %}
# NTP servers to synchronize with
{% if ntp_servers is string %}
servers {{ ntp_servers }}
{% else %}
{% for address in ntp_servers %}
servers {{ address }}
{% endfor %}
{% endif %}
{% endif %}
