{% set ifupdown_tpl_removed_interfaces = [] %}
{% if ifupdown_register_interfaces_removator is defined and ifupdown_register_interfaces_removator.changed %}
{% for result in ifupdown_register_interfaces_removator.results %}
{% if result.changed %}
{% set _ = ifupdown_tpl_removed_interfaces.append(result.item.iface) %}
{% endif %}
{% endfor %}
{% endif %}
{% set ifupdown_tpl_generated_interfaces = [] %}
{% set ifupdown_tpl_auto_interfaces = [] %}
{% set ifupdown_tpl_hotplug_interfaces = [] %}
{% set ifupdown_tpl_start_interfaces = [] %}
{% if ifupdown_register_interfaces_generator is defined and ifupdown_register_interfaces_generator.changed %}
{% for result in ifupdown_register_interfaces_generator.results %}
{% if result.changed %}
{% set _ = ifupdown_tpl_generated_interfaces.append(result.item.iface) %}
{% endif %}
{% if result.changed and result.item|d() and ((result.item.auto is undefined or result.item.auto | bool) and (result.item.inet is undefined or result.item.inet != 'manual')) %}
{% set _ = ifupdown_tpl_auto_interfaces.append(result.item.iface) %}
{% endif %}
{% if result.changed and result.item|d() and ((result.item.allow is undefined or result.item.allow | bool) and (result.item.inet is undefined or result.item.inet != 'manual')) %}
{% set _ = ifupdown_tpl_hotplug_interfaces.append(result.item.iface) %}
{% endif %}
{% if result.changed and result.item|d() and (result.item.auto_ifup is undefined or result.item.auto_ifup) %}
{% set _ = ifupdown_tpl_start_interfaces.append(result.item.iface) %}
{% endif %}
{% endfor %}
{% endif %}
{% set ifupdown_tpl_interface_list = (ifupdown_tpl_removed_interfaces + ifupdown_tpl_generated_interfaces) | sort | unique %}
{% if ifupdown_tpl_interface_list %}
interface_removed=( {{ (ifupdown_tpl_removed_interfaces | difference(ifupdown_tpl_generated_interfaces)) | sort | unique | join(" ") }} )
interface_generated=( {{ (ifupdown_tpl_generated_interfaces | difference(ifupdown_tpl_removed_interfaces)) | sort | unique | join(" ") }} )
interface_auto=( {{ (ifupdown_tpl_auto_interfaces | difference(ifupdown_tpl_removed_interfaces)) | sort | unique | join(" ") }} )
interface_hotplug=( {{ (ifupdown_tpl_hotplug_interfaces | difference(ifupdown_tpl_removed_interfaces)) | sort | unique | join(" ") }} )
interface_start=( {{ (ifupdown_tpl_start_interfaces | difference(ifupdown_tpl_removed_interfaces)) | sort | unique | join(" ") }} )
interface_list=( {{ ifupdown_tpl_interface_list | join(" ") }} )
{% endif %}
