# {{ ansible_managed }}

[apt]
frontend=mail
{% if apt_mail_notifications is defined and apt_mail_notifications %}
email_address={{ apt_mail_notifications | join(',') }}
{% else %}
email_address=root
{% endif %}
confirm=0
which={{ apt_update_notifications_type_listchanges | default('news') }}
{% if apt_update_notifications_diff is defined and apt_update_notifications_diff %}
save_seen=/var/lib/apt/listchanges.db
{% endif %}

[apticron]
frontend=mail
{% if apt_mail_notifications is defined and apt_mail_notifications %}
email_address={{ apt_mail_notifications | join(',') }}
{% else %}
email_address=root
{% endif %}
confirm=0
which={{ apt_update_notifications_type_apticron | default('both') }}
{% if apt_update_notifications_diff is defined and apt_update_notifications_diff %}
save_seen=/var/lib/apt/listchanges.db
{% endif %}


