# {{ ansible_managed }}

# This file has been cleared by Ansible. Copy of the original file can be
# found in /etc/apt/sources.list.original

# Current sources for your system can be found in:
# /etc/apt/sources.list.d/00_ansible_*_sources.list


