{# Copyright (C) 2020 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

CSRF_TRUSTED_ORIGINS = ['{{ etesync__fqdn }}']
