{# Copyright (C) 2020 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}
# -*- coding: utf-8 -*-

CSRF_TRUSTED_ORIGINS = ['{{ etesync__fqdn }}']
