# This file is managed by Ansible, all changes will be lost
# iptables ferm firewall - mysql access

protocol tcp dport {{ mysql_mysqld_port }} {
{% for network in mysql_network_allow_list %}
	saddr {{ network }} ACCEPT;
{% endfor %}
}


