# {{ ansible_managed }}

{% if docker_gen_nginx|d() and docker_gen_nginx %}
# nginx configuration
[[config]]
template = "{{ docker_gen_nginx_template }}"
dest = "{{ docker_gen_nginx_dest }}"
notifycmd = "{{ docker_gen_nginx_notify }}"
{% if docker_gen_nginx_options|d() and docker_gen_nginx_options %}
{{ docker_gen_nginx_options }}
{% endif %}

{% endif %}
{% if docker_gen_config|d() and docker_gen_config %}
{{ docker_gen_config }}

{% endif %}
