
  [1;37m    /\\[0m       [1;36m\n.\O[0m
  [1;37m   /  \\[0m      [1;35m\s \r[0m
  [1;37m  /____\\[0m     [1;33m\l [1;30m/ [1;32m\U[0m
  [1;37m /DebOps\\[0m    [0;33m{{ console_issue }}[0m
  [1;37m/        \\nsible[0m

