{% set auth_tpl_nsswitch_databases = [] %}
{% for element in auth_nsswitch %}
{% if element != "mdns" %}
{% set _ = auth_tpl_nsswitch_databases.append(element) %}
{% endif %}
{% endfor %}
# {{ ansible_managed }}

# /etc/nsswitch.conf

passwd:         {{ auth_tpl_nsswitch_databases | join(" ") }}
group:          {{ auth_tpl_nsswitch_databases | join(" ") }}
shadow:         {{ auth_tpl_nsswitch_databases | join(" ") }}

{% if auth_register_mdns|d() and auth_register_mdns.stdout %}
hosts:          files mdns4_minimal [NOTFOUND=return] dns
{% else %}
hosts:          files dns
{% endif %}
networks:       files

protocols:      db files
services:       db files
ethers:         db files
rpc:            db files

netgroup:       nis
