## {{ ansible_managed }}

# Site-specific additions and overrides for {{ item.key }}.
# For more details, please see /etc/apparmor.d/local/README.
#

{% macro apparmor_write_local_profile_part(profile_part) %}{# ((( #}
{% for rules_group in profile_part %}
# {{ rules_group.comment | default('Uncommented rule group') }}:
{%   for rule in rules_group.rules %}
{{ rule }},
{%   endfor %}

{%- endfor %}
{%- endmacro %}{# ))) #}

{% if apparmor_local_config_global[item.key] is defined %}
# Global additions or overrides of system profiles. {{ '{{{' }}

{{ apparmor_write_local_profile_part(apparmor_local_config_global[item.key]) }}
# {{ '}}}' }}
{% endif %}

{% if apparmor_local_config_host_group[item.key] is defined %}
# Host group additions or overrides of system profiles. {{ '{{{' }}

{{ apparmor_write_local_profile_part(apparmor_local_config_host_group[item.key]) }}
# {{ '}}}' }}
{% endif %}

{% if apparmor_local_config_host[item.key] is defined %}
# Host additions or overrides of system profiles. {{ '{{{' }}

{{ apparmor_write_local_profile_part(apparmor_local_config_host[item.key]) }}
# {{ '}}}' }}
{% endif %}
