# {{ ansible_managed }}

options lockd nlm_udpport={{ nfs_server_lockd_port | default('32768') }} nlm_tcpport={{ nfs_server_lockd_port | default('32768') }}
options nfs callback_tcpport={{ nfs_server_callback_port | default('32764') }}

