{# Copyright (C) 2026 seven-beep <ebn@entreparentheses.xyz>
 # Copyright (C) 2026 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
{{ ({
      "enabled":   needrestart__enabled  | bool | lower,
      "automatic":  needrestart__automatic | bool | lower
}) | to_nice_json }}
