#!/bin/bash

# {{ ansible_managed }}

ferm_enabled="{{ ferm__enabled | bool | lower }}"
ferm_forward="{{ ferm__forward | bool | lower }}"
ferm_ipv6_enabled="{{ 'true' if ('ip6' in ferm__domains) else 'false' }}"
readarray -t ferm_interfaces <<< "{{ (ferm__external_interfaces|d([])|list + ferm__internal_interfaces|d([])|list) | join(' ') }}"

if [ "${ferm_enabled}" = "true" ] && [ "${ferm_forward}" = "true" ] && [ "${ferm_ipv6_enabled}" = "true" ] ; then
    for interface in "${ferm_interfaces[@]}" ; do
        if [ "${IFACE}" = "${interface}" ] ; then
            # Force Router Advertisement support on a given interface
            sysctl -w "net.ipv6.conf.${IFACE}.accept_ra=2"
        fi
    done
fi
