#!{{ ansible_python['executable'] }}
# -*- coding: utf-8 -*-

# Copyright (C) 2019 Maciej Delmanowski <drybjed@gmail.com>
# Copyright (C) 2019 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-only

# {{ ansible_managed }}

from __future__ import print_function
from json import loads, dumps
from sys import exit

output = loads("""{{ {'configured': True,
                      'prefix': system_users__prefix
                     } | to_nice_json }}""")

print(dumps(output, sort_keys=True, indent=4))
