# {{ ansible_managed }}

{% if dnsmasq_address is defined and dnsmasq_address %}
# Domain -> IP address mapping
{% for domain, ipaddress in dnsmasq_address.iteritems() %}
address=/{{ domain }}/{{ ipaddress }}
{% endfor %}

{% endif %}
{% if dnsmasq_cname_subdomain is defined and dnsmasq_cname_subdomain %}
# CNAME for local domain
{% for cname, hostname in dnsmasq_cname_subdomain.iteritems() %}
cname={{ cname }}.{{ dnsmasq_domain }},{{ hostname }}.{{ dnsmasq_domain }}
{% endfor %}

{% endif %}
{% if dnsmasq_cname is defined and dnsmasq_cname %}
# CNAME for other domains
{% for cname, hostname in dnsmasq_cname.iteritems() %}
cname={{ cname }},{{ hostname }}
{% endfor %}

{% endif %}


