# {{ ansible_managed }}

# GitLab logrotate settings
# based on: https://stackoverflow.com/a/4883967

{{ gitlab_home }}/gitlab/log/*.log {
    daily
    missingok
    rotate 90
    compress
    notifempty
    copytruncate
}

{{ gitlab_home }}/gitlab-shell/gitlab-shell.log {
    daily
    missingok
    rotate 90
    compress
    notifempty
    copytruncate
}
