{#
#    ==== debops.ifupdown template for 6to4 network interface ====
#
#    Parameters:
#
#    - tunnel_6to4_ipv4_interface: ''
#        name of IPv4 interface to connect through, it needs a public IPv4
#        address present
#
#    - tunnel_6to4_iface: ''
#        name of created tunnel interface
#
#}
{% set ifupdown_tpl_6to4_ipv4_interface = item.tunnel_6to4_ipv4_interface | default(ansible_default_ipv4.interface) %}
{% set ifupdown_tpl_6to4_iface = item.tunnel_6to4_iface | default('6to4') %}
{% set ifupdown_tpl_6to4_ipv4_address = hostvars[inventory_hostname]["ansible_" + ifupdown_tpl_6to4_ipv4_interface].ipv4.address | default('') %}
# This file is managed by Ansible, all changes will be lost

{% if (item.type is defined and item.type == '6to4') %}
{% if ((item.force is defined and item.force) or (ifupdown_tpl_6to4_ipv4_address | ipv4('6to4'))) %}
# Configuration for IPv6 in IPv4 tunnel
{% if (item.auto is undefined or item.auto) and item.allow is undefined and item.inet is undefined %}
auto {{ ifupdown_tpl_6to4_iface }}
{% elif (item.auto is undefined or item.auto) and item.allow is undefined and item.inet is defined and item.inet != 'manual' %}
auto {{ ifupdown_tpl_6to4_iface }}
{% elif (item.auto is defined and item.auto == True) %}
auto {{ ifupdown_tpl_6to4_iface }}
{% elif (item.auto is undefined or not item.auto) and (item.allow is defined and item.allow) %}
allow-{{ item.allow }} {{ ifupdown_tpl_6to4_iface }}
{% endif %}
iface {{ ifupdown_tpl_6to4_iface }} inet6 6to4
        local {{ ifupdown_tpl_6to4_ipv4_address }}
{% else %}
# 6to4 autoconfiguration is disabled
{% endif %}
{% else %}
# Configuration of IPv6 in IPv4 tunnel is disabled
{% endif %}

