{% extends "interface.j2" %}
{% set ifupdown_tpl_config_type = '6to4' %}
{% set ifupdown_tpl_config_alias = item.alias | default('tunnel') %}
{% set ifupdown_tpl_family = 'inet6' %}
{% set ifupdown_tpl_method = '6to4' %}
{% set ifupdown_tpl_virtual_interface = True %}
{% set ifupdown_tpl_6to4_ipv4_interface = item.port | default(ansible_default_ipv4.interface) %}
{% set ifupdown_tpl_6to4_ipv4_address = hostvars[inventory_hostname]["ansible_" + ifupdown_tpl_6to4_ipv4_interface].ipv4.address | default('') %}
{% if not ifupdown_tpl_6to4_ipv4_address | ipv4('public') and (item.force is undefined or not item.force) %}
{% set ifupdown_tpl_generate_interface = False %}
{% set ifupdown_tpl_generate_interface_extended = True %}
{% set ifupdown_tpl_generate_interface_failed = True %}
{% set ifupdown_tpl_failure_reason = 'Interface ' + ifupdown_tpl_6to4_ipv4_interface + ' does not have public IPv4 address: ' + ifupdown_tpl_6to4_ipv4_address %}
{% else %}
{% set ifupdown_tpl_generate_interface = True %}
{% set ifupdown_tpl_generate_interface_extended = True %}
{% endif %}
{% block ifupdown_block_options6 %}
        local {{ ifupdown_tpl_6to4_ipv4_address }}
{% endblock %}
