# This file is managed by Ansible, all changes will be lost

{% if ((item.type is defined and item.type == '6to4') and (ifupdown_6to4 is defined and ifupdown_6to4)) %}
{% if ((item.force is defined and item.force) or (item.local is defined and item.local) or
       ((ansible_default_ipv6.interface is undefined or (ansible_default_ipv6.interface is defined and ansible_default_ipv6.interface == '6to4')) and
        ansible_default_ipv4.address | ipv4('public'))) %}
# Configuration for IPv6 in IPv4 tunnel
{% if (item.auto is undefined or item.auto) and item.allow is undefined and item.inet is undefined %}
auto 6to4
{% elif (item.auto is undefined or item.auto) and item.allow is undefined and item.inet is defined and item.inet != 'manual' %}
auto 6to4
{% elif (item.auto is defined and item.auto == True) %}
auto 6to4
{% elif (item.auto is undefined or not item.auto) and (item.allow is defined and item.allow) %}
allow-{{ item.allow }} 6to4
{% endif %}
iface 6to4 inet6 6to4
{% if item.local is defined and item.local %}
        local {{ item.local }}
{% elif ifupdown_6to4 is defined and ifupdown_6to4 | ipv4 and ifupdown_6to4 | ipv4('public') %}
        local {{ ifupdown_6to4 }}
{% else %}
        local {{ ansible_default_ipv4.address }}
{% endif %}
{% else %}
# 6to4 autoconfiguration is disabled
{% endif %}
{% else %}
# Configuration of IPv6 in IPv4 tunnel is disabled
{% endif %}

