{% extends "interface.j2" %}
{% set ifupdown_tpl_config_type = 'bond' %}
{% set ifupdown_tpl_virtual_interface = True %}
{% set ifupdown_tpl_generate_interface = True %}
{% set ifupdown_tpl_generate_interface_extended = True %}
