# This file is managed by Ansible, all changes will be lost

{% if ((item.type is undefined or (item.type is defined and item.type == 'interface')) and item.iface in ansible_interfaces) or (item.force is defined and item.force) %}
# Configuration for {{ item.iface }} interface
{% if (item.auto is undefined or item.auto) and item.allow is undefined and item.inet is undefined %}
auto {{ item.iface }}
{% elif (item.auto is undefined or item.auto) and item.allow is undefined and item.inet is defined and item.inet != 'manual' %}
auto {{ item.iface }}
{% elif (item.auto is undefined or not item.auto) and (item.allow is defined and item.allow) %}
allow-{{ item.allow }} {{ item.iface }}
{% endif %}
iface {{ item.iface }} {% if item.inet is defined and item.inet %}inet {{ item.inet }}{% elif item.inet6 is defined and item.inet6 %}inet6 {{ item.inet6 }}{% else %}inet dhcp{% endif %}
{% if item.options is defined and item.options %}

{{ item.options | indent(8, true) }}
{% endif %}

{% if item.aliases is defined and item.aliases %}
{% for alias in item.aliases %}
iface {{ item.iface }} inet static
	address {{ alias.address }}
	netmask {{ alias.netmask }}

{% endfor %}
{% endif %}
{% elif ((item.type is undefined or (item.type is defined and item.type == 'interface')) and item.iface not in ansible_interfaces) %}
# Interface {{ item.iface }} not found
{% endif %}


