# {{ ansible_managed }}

{% if (item.type is defined and item.type == 'mapping') or (item.force is defined and item.force) %}
# Configuration for {{ item.iface }} mapping
{% if item.auto is undefined or item.auto %}
allow-auto {{ item.iface }}
{% endif %}
{% if item.allow is undefined %}
allow-hotplug {{ item.iface }}
{% elif (item.allow is defined and item.allow) %}
allow-{{ item.allow }} {{ item.iface }}
{% endif %}
mapping {{ item.iface }}
{% if item.options is defined and item.options %}
{{ item.options | indent(8, true) }}
{% endif %}

{% else %}
# Wrong configuration for {{ item.iface }} mapping
{% endif %}

