{% extends 'interface.j2' %}
{% set ifupdown_tpl_config_type = 'vlan' %}
{% set ifupdown_tpl_virtual_interface = True %}
{% set ifupdown_tpl_vlan_device = '' %}
{% if ifupdown_map_vlan_device|d() and ifupdown_map_vlan_device[item.iface]|d() %}
{% set ifupdown_tpl_vlan_device = ifupdown_map_vlan_device[item.iface] %}
{% else %}
{% if item.device is defined and item.device %}
{% set ifupdown_tpl_vlan_device = item.device %}
{% elif item.vlan_device is defined and item.vlan_device %}
{% set ifupdown_tpl_vlan_device = item.vlan_device %}
{% elif item.vlan_raw_device is defined and item.vlan_raw_device %}
{% set ifupdown_tpl_vlan_device = item.vlan_raw_device %}
{% elif item.port is defined and item.port %}
{% set ifupdown_tpl_vlan_device = item.port %}
{% endif %}
{% endif %}
{% if not ifupdown_tpl_vlan_device %}
{% set ifupdown_tpl_generate_interface = False %}
{% set ifupdown_tpl_generate_interface_extended = True %}
{% set ifupdown_tpl_generate_interface_failed = True %}
{% set ifupdown_tpl_failure_reason = 'VLAN device for ' + item.iface + ' not specified' %}
{% else %}
{% set ifupdown_tpl_generate_interface = True %}
{% set ifupdown_tpl_generate_interface_extended = True %}
{% endif %}
{% block ifupdown_block_options4 %}
        vlan_raw_device {{ ifupdown_tpl_vlan_device }}
{% endblock %}
