# This file is managed by Ansible, all changes will be lost

# SMTP SASL password map
# http://www.postfix.org/SASL_README.html#client_sasl


{% if 'client' in postfix %}
{% if postfix_smtp_sasl_password_map is defined and postfix_smtp_sasl_password_map %}
{% for sender, username in postfix_smtp_sasl_password_map.iteritems() %}
{{ "%-24s %s:%s" | format(sender, username, lookup('password', secret + '/credentials/' + ansible_fqdn + '/postfix/smtp_sasl_password_map/' + sender + '/' + username)) }}
{% endfor %}
{% else %}
# postfix_smtp_sasl_password_map not defined
{% endif %}
{% else %}
#  required postfix capabilities: +client
{% endif %}

