#!/bin/sh
# This file is managed remotely, all changes will be lost
{% set pki_tpl_realms_rootca = [] %}
{% set pki_tpl_realms_intermediate = [] %}
{% set pki_tpl_realms_ca = [] %}
{% set pki_tpl_realms_endpoint = [] %}
{% for realm in pki_realms %}
{%   if ((realm.dest is undefined or (realm.dest is defined and not realm.dest)) and
         (realm.parent is undefined or (realm.parent is defined and not realm.parent))) %}
{%     set _ = pki_tpl_realms_rootca.append('realms/' + realm.src) %}
{%   elif ((realm.dest is undefined or (realm.dest is defined and not realm.dest)) and
           (realm.parent is defined and realm.parent)) %}
{%     set _ = pki_tpl_realms_intermediate.append('realms/' + realm.src) %}
{%   else %}
{%     if ((realm.ca is defined and realm.ca) or (realm.requests is undefined or
           (realm.requests is defined and realm.requests))) %}
{%       set _ = pki_tpl_realms_ca.append('realms/' + realm.src) %}
{%     else %}
{%       set _ = pki_tpl_realms_endpoint.append('realms/' + realm.src) %}
{%     endif %}
{%   endif %}
{% endfor %}

MAKE="make --silent --no-print-directory"

ROOTCA="{{ pki_tpl_realms_rootca | join(' ') }}"
INTERMEDIATE="{{ pki_tpl_realms_intermediate | join (' ') }}"
CA="{{ pki_tpl_realms_ca | join(' ') }}"
ENDPOINT="{{ pki_tpl_realms_endpoint | join(' ') }}"


for realm in ${ROOTCA} ${INTERMEDIATE} ${CA} ${ENDPOINT} ; do
	for stage in all-init ; do
		cd ${realm} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done

for realm in ${ROOTCA} ${INTERMEDIATE} ${CA} ; do
	for stage in all-init-ca ; do
		cd ${realm} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done

for realm in ${INTERMEDIATE} ${CA} ; do
	for stage in all-request ; do
		cd ${realm} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done

for realm in ${ROOTCA} ; do
	for stage in all-sign all-chain ; do
		cd ${realm} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done

for realm in ${INTERMEDIATE} ; do
	for stage in all-install all-root-certificate all-sign all-chain ; do
		cd ${realm} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done

for realm in ${CA} ; do
	for stage in all-install all-root-certificate all-sign all-chain ; do
		cd ${realm} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done


