#!/bin/sh
# This file is managed remotely, all changes will be lost
{% set pki_tpl_authorities_rootca = [] %}
{% set pki_tpl_authorities_intermediate = [] %}
{% set pki_tpl_authorities_ca = [] %}
{% for item in pki_authorities %}
{%   if item.use is defined and item.use == 'ca' %}
{%     if (item.parent is undefined or (item.parent is defined and not item.parent)) %}
{%       set _ = pki_tpl_authorities_rootca.append('authorities/' + item.name) %}
{%     elif (item.parent is defined and item.parent) %}
{%       set _ = pki_tpl_authorities_intermediate.append('authorities/' + item.name) %}
{%     endif %}
{%   else %}
{%     if (item.cn is defined and item.cn) %}
{%       set _ = pki_tpl_authorities_ca.append('authorities/' + item.name) %}
{%     endif %}
{%   endif %}
{% endfor %}

MAKE="make --silent --no-print-directory"

ROOTCA="{{ pki_tpl_authorities_rootca | join(' ') }}"
INTERMEDIATE="{{ pki_tpl_authorities_intermediate | join (' ') }}"
CA="{{ pki_tpl_authorities_ca | join(' ') }}"


for authority in ${ROOTCA} ${INTERMEDIATE} ${CA} ; do
	for stage in all-init ; do
		cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done

for authority in ${ROOTCA} ${INTERMEDIATE} ${CA} ; do
	for stage in all-init-ca ; do
		cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done

for authority in ${INTERMEDIATE} ${CA} ; do
	for stage in all-request ; do
		cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done

for authority in ${ROOTCA} ; do
	for stage in all-sign all-chain ; do
		cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done

for authority in ${INTERMEDIATE} ; do
	for stage in all-install all-sign all-chain ; do
		cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done

for authority in ${CA} ; do
	for stage in all-install all-sign all-chain ; do
		cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
	done
done

cd routes && run-parts .

