#!/bin/sh
# {{ ansible_managed }}

set -e

MAKE="make --silent --no-print-directory"

ROOTCA="authorities/root"
INTERMEDIATE="authorities/intermediate"
CA="authorities/ca"

LOCK="this-authority-is-locked"

for authority in ${ROOTCA}/* ${INTERMEDIATE}/* ${CA}/* ; do
  if [ ! -e ${authority}/${LOCK} ] ; then
    for stage in all-init ; do
      cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
    done
  fi
done

for authority in ${ROOTCA}/* ${INTERMEDIATE}/* ${CA}/* ; do
  if [ ! -e ${authority}/${LOCK} ] ; then
    for stage in all-init-ca ; do
      cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
    done
  fi
done

for authority in ${INTERMEDIATE}/* ${CA}/* ; do
  if [ ! -e ${authority}/${LOCK} ] ; then
    for stage in all-request ; do
      cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
    done
  fi
done

for authority in ${ROOTCA}/* ; do
  if [ ! -e ${authority}/${LOCK} ] ; then
    for stage in all-sign all-chain all-revoked all-lock ; do
      cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
    done
  fi
done

for authority in ${INTERMEDIATE}/* ; do
  if [ ! -e ${authority}/${LOCK} ] ; then
    for stage in all-install all-sign all-chain all-revoked all-lock ; do
      cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
    done
  fi
done

for authority in ${CA}/* ; do
  if [ ! -e ${authority}/${LOCK} ] ; then
    for stage in all-install all-sign all-chain all-revoked ; do
      cd ${authority} && ${MAKE} ${stage} ; cd - > /dev/null
    done
  fi
done

cd routes
for script in * ; do
  test -x ${script} && sh ${script} || true
done

