{# Copyright (C) 2019 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2019 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

[Unit]
Description=LXD - unix socket
Documentation=man:lxd(1)
After=network.target

[Socket]
ListenStream=/var/lib/lxd/unix.socket
SocketUser=root
SocketGroup={{ lxd__group }}
SocketMode=0660
Service=lxd.service

[Install]
WantedBy=sockets.target
