# This file is managed by Ansible, all changes will be lost

# Defaults for fcgiwrap-mailman (if not declared, hardcoded values from the
# init script are used).

# Number of instances to launch
DAEMON_OPTS="-c 1"

# Socket location
FCGI_SOCKET="/var/run/fcgiwrap-mailman.socket"

# User and group for the daemon processes
FCGI_USER="list"
FCGI_GROUP="list"

# Owner of the socket, if available (defaults to $FCGI_USER/$FCGI_GROUP)
# Use this of you want to run scritps as a different user that the
# webserver.
FCGI_SOCKET_OWNER="www-data"
FCGI_SOCKET_GROUP="www-data"
