#!{{ ansible_python['executable'] }}
# -*- coding: utf-8 -*-

# Copyright (C) 2018 Maciej Delmanowski <drybjed@gmail.com>
# Copyright (C) 2018 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-only

# {{ ansible_managed }}

from __future__ import print_function
from json import loads, dumps
from sys import exit
import os


output = loads('''{{ {"configured": False,
                      "type": icinga_db__type,
                      "ido": icinga_db__database_map[icinga_db__type].ido,
                      "db_name": icinga_db__database,
                      "db_host": icinga_db__host,
                      "db_port": icinga_db__port,
                      "db_ssl": icinga_db__ssl,
                      "db_user": icinga_db__user,
                      "db_password": icinga_db__password}
                     | to_nice_json }}''')

db_config_files = [
    '/etc/icinga2/features-available/ido-{{ icinga_db__database_map[icinga_db__type].ido }}.conf'
]

for config_file in db_config_files:
    if os.path.exists(config_file) and os.path.isfile(config_file):
        output['configured'] = True

print(dumps(output, sort_keys=True, indent=4))
