{# Copyright (C) 2015      Reto Gantenbein <reto.gantenbein@linuxmonk.ch>
 # Copyright (C) 2017-2020 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}
{#

This file follows the upstream default configuration except for the parts
that are configurable via DebOps variables. If you need a more customized
setup, you can provide your own template via lookup mechanism.

#}

##
## Authentication processes
##

{% if ('imap' in dovecot_protocols or 'pop3' in dovecot_protocols) and
      ('plain' in dovecot_auth_mechanisms or 'login' in dovecot_auth_mechanisms) and
      (not dovecot_pki is defined or not dovecot_pki) %}
# !!! WARNING !!!: This allows cleartext passwords to be sent over the network. If you
# want your passwords to be safe, enable tls or disable plaintext authentication!
disable_plaintext_auth=no
{% endif %}

auth_mechanisms = {{ " ".join(dovecot_auth_mechanisms) }}

# Default realm/domain to use if none was specified. This is used for both
# SASL realms and appending @domain to username in plaintext logins.
auth_default_realm = {{ dovecot__auth_default_realm }}

##
## Password and user databases
##

{% if 'deny' not in dovecot_user_accounts %}
# 'deny' not in dovecot_user_accounts: {{ dovecot_user_accounts }}
# dovecot_deny_users: {{ dovecot_deny_users }}
{% elif dovecot_deny_users is defined and dovecot_deny_users %}
!include auth-deny.conf.ext
{% endif %}
{% if 'system' in dovecot_user_accounts %}
!include auth-system.conf.ext
{% endif %}
{% if 'sql' in dovecot_user_accounts %}
!include auth-sql.conf.ext
{% endif %}
{% if 'ldap' in dovecot_user_accounts %}
    !include auth-ldap.conf.ext
{% endif %}
{% if 'passwdfile' in dovecot_user_accounts %}
!include auth-passwdfile.conf.ext
{% endif %}
{% if 'checkpassword' in dovecot_user_accounts %}
!include auth-checkpassword.conf.ext
{% endif %}
