{# Copyright (C) 2015      Reto Gantenbein <reto.gantenbein@linuxmonk.ch>
 # Copyright (C) 2017-2020 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}
{#

This file follows the upstream default configuration except for the parts
that are configurable via DebOps variables. If you need a more customized
setup, you can provide your own template via lookup mechanism.

#}
{% import 'dovecot_macros.j2' as macros with context %}

##
## LDA specific settings (also used by LMTP)
##

{% if dovecot_lda_config_map is defined and dovecot_lda_config_map %}
{%   if 'protocol' in dovecot_lda_config_map %}
{%     set dovecot_tpl_lda_proto_map = dovecot_lda_config_map['protocol'] %}
{%   endif %}
{% endif %}
{{ macros.dovecot_cfg_section('protocol', 'lda', dovecot_tpl_lda_proto_map|default({})) }}
