{# Copyright (C) 2015      Reto Gantenbein <reto.gantenbein@linuxmonk.ch>
 # Copyright (C) 2017-2020 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}
{#

This file follows the upstream default configuration except for the parts
that are configurable via DebOps variables. If you need a more customized
setup, you can provide your own template via lookup mechanism.

#}
{% import 'dovecot_macros.j2' as macros with context %}

##
## Settings for the Sieve interpreter
##

plugin {
{% if dovecot_managesieve_config_map is defined and dovecot_managesieve_config_map %}
{%   if 'plugin' in dovecot_managesieve_config_map %}
{%     set dovecot_tpl_sieve_plugin_map = dovecot_managesieve_config_map['plugin'] %}
{%   endif %}
{% endif %}
{{ macros.dovecot_properties(dovecot_tpl_sieve_plugin_map|default({})) }}
}
