{# Copyright (C) 2015      Reto Gantenbein <reto.gantenbein@linuxmonk.ch>
 # Copyright (C) 2017-2020 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# Virtual Mail user and group
mail_uid = {{ dovecot__vmail_posix_user }}
mail_gid = {{ dovecot__vmail_posix_group }}

# We will use different files for userdb and passdb so Dovecot can perform lookups asynchronously.
passdb {
    driver = ldap
    args = /etc/dovecot/dovecot-ldap-passdb.conf
}
userdb {
    driver = ldap
    args = /etc/dovecot/dovecot-ldap-userdb.conf
}
