{# Copyright (C) 2015-2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
{
"batch_interval": "{{ ansible_local.atd.batch_interval|d(atd_fact_batch_interval | d('')) }}",
"batch_load": "{{ ansible_local.atd.batch_load|d(atd_fact_batch_load | d('')) }}",
"enabled": "{{ atd_enabled | bool | lower }}"
}
