# {{ ansible_managed }}

# This file is an indicator for Ansible, it allows to restart postfix when
# capabilities change (major changes like network need restart instead of
# reload)

# Current postfix capabilities: {{ ",".join(postfix) }}


