# This file is managed by Ansible, all changes will be lost

# This file is an indicator for Ansible, it allows to restart postfix when
# capabilities change (major changes like network need restart instead of
# reload)

# Current postfix capabilities: {{ ",".join(postfix) }}


