// {{ ansible_managed }}
Aptitude::UI "";
Aptitude::UI::HelpBar "false";
Aptitude::UI::Menubar-Autohide "true";
Aptitude::UI::Prompt-On-Exit "false";
Aptitude::UI::Pause-After-Download "No";
Aptitude::UI::Advance-On-Action "true";
Aptitude::Auto-Fix-Broken "false";
Aptitude::Auto-Upgrade "true";
Aptitude::AutoClean-After-Update "true";
