# {{ ansible_managed }}

# Server Configuration File
# Documentation: https://support.rstudio.com/hc/en-us/articles/200552316-Configuring-the-Server

www-address={{ rstudio_server_bind }}
www-port={{ rstudio_server_port }}
auth-required-user-group={{ rstudio_server_auth_group }}

