# This file is managed by Ansible, all changes will be lost

# Default configuration options for GitLab CI Runner instance

# APP_USER defines the user that GitLab CI Runner is run as.
APP_USER="{{ gitlab_ci_runner_user }}"

# APP_ROOT defines the folder in which GitLab CI Runner and it's components are installed.
APP_ROOT="{{ gitlab_ci_runner_home }}/gitlab-ci-runner"

# Path to the directory with pidfile
PID_PATH="$APP_ROOT/tmp/pids"

# Path to pidfile
RUNNERS_PID="$PID_PATH/runners.pid"

# Number of GitLab CI Runners to spawn
RUNNERS_NUM="{{ gitlab_ci_runner_threads }}"

# Path to logfile
INIT_LOG="/var/log/gitlab-ci-runner/gitlab-ci-runner.log"

