#!/bin/sh

# This file is managed remotely, all changes will be lost

# Launch rsnapshot {{ item }} backups
test -x {{ ansible_local.root.lib }}/rsnapshot-cron-wrapper && {{ ansible_local.root.lib }}/rsnapshot-cron-wrapper {{ item }} || true

