#!/bin/sh

# {{ ansible_managed }}

# Launch rsnapshot {{ item }} backups
test -x {{ ansible_local.root.lib }}/rsnapshot-cron-wrapper && {{ ansible_local.root.lib }}/rsnapshot-cron-wrapper {{ item }} || true

