{# Copyright (C) 2014-2019 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2019 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# This file is managed by Ansible, all changes will be lost

# Send copy of SMS gateway logs to a separate log file for accounting
if $programname == 'sms-transport' then {{ smstools_sms_log }}
if $programname == 'sms-service' then {{ smstools_sms_log }}

