{% set nodejs__tpl_upstream = (ansible_local.nodejs.upstream if (ansible_local|d() and ansible_local.nodejs|d() and ansible_local.nodejs.upstream|d()) else nodejs__upstream) %}
{% if nodejs__upstream | bool %}
{%   set nodejs__tpl_upstream = True %}
{% endif %}
{
"configured": true,
"upstream": {{ nodejs__tpl_upstream | bool | lower }}
}
