# {{ ansible_managed }}

#
# PRODUCTION
#
production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: {{ gitlab_database_map[gitlab_database].dbname }}
  pool: 10
  username: {{ gitlab_database_map[gitlab_database].dbuser }}
  password: "{{ gitlab_database_map[gitlab_database].dbpass }}"
  host: {{ gitlab_database_map[gitlab_database].dbhost }}
  # socket: /tmp/mysql.sock


