{# Copyright (C) 2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# See opendkim.conf(5), 'InternalHosts' parameter for more details

{% for element in opendkim__combined_trusted_hosts %}
{{ '{}'.format(element) }}
{% endfor %}
