# Authentication mechanisms
auth_mechanisms	= {{ " ".join(dovecot_auth_mechanisms) }}
{% if dovecot_user_accounts == 'system' %}
passdb {
    driver = pam
    args = session=yes dovecot
}
{% endif %}


