# Authentication mechanisms
auth_mechanisms	= {{ " ".join(dovecot_auth_mechanisms) }}

{% if dovecot_deny_users is defined and dovecot_deny_users %}
passdb {
    driver         = passwd-file
    args           = /etc/dovecot/dovecot.deny
    deny           = yes
}

{% endif %}
{% if 'system' in dovecot_user_accounts %}
passdb {
    driver         = pam
    args           = session=yes dovecot
}

{% endif %}

