# This file is managed by Ansible, all changes will be lost

# Accept new connections from specified IP addresses on {{ item.dport | join(',') }} port
{#

List of parameters:

Required:
  item.dport		list of destination ports to configure

Optional:
  item.protocol		protocol to configure (tcp, udp)
  item.saddr		list of source addresses to accept
  item.accept_any	accept connections from any IP address if True

#}

protocol {{ item.protocol | default('tcp') }} dport ({{ item.dport | join(' ') }}) {
{% if item.saddr is defined and item.saddr %}
	saddr ({{ item.saddr | unique | join(' ') }}) ACCEPT;
{% else %}
{% if item.accept_any is defined and item.accept_any %}
	ACCEPT;
{% else %}
	# Connections from any IP address not allowed
{% endif %}
{% endif %}
}

