# {{ ansible_managed }}

# etherpad-lite logrotate settings

/var/log/{{ etherpad_system_name }}/{{ etherpad_system_name }}.log {
    weekly
    missingok
    rotate 4
    compress
    notifempty
    create 644 {{ etherpad_user }} {{ etherpad_group }}
}

