# Global Agent Configuration

# {{ ansible_managed }}

{% for element in telegraf__combined_configuration | parse_kv_items %}
{%   if element.name|d() and element.state|d('present') not in [ 'absent', 'ignore' ] %}

{%     if '.' in element.name %}
{{ '[[{}]]'.format(element.name) }}
{%     else %}
{{ '[{}]'.format(element.name) }}
{%     endif %}
{%     if element.options|d() %}
{%       for thing in element.options %}
{%          if thing.name|d() and thing.state|d('present') != 'absent' %}
{%              if thing.value is string and not thing.value | bool %}
{{ '    {} = "{}"'.format(thing.name, thing.value) }}
{%              elif thing.value is sameas false or thing.value is sameas true %}
{{ '    {} = {}'.format(thing.name, thing.value | lower) }}
{%              elif thing.value is not string and thing.value is not mapping and thing.value is iterable %}
{{ '    {} = [ "{}" ]'.format(thing.name, thing.value | selectattr("state", "equalto", "present") | map(attribute="name") | list | join('", "')) }}
{%          endif %}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endfor %}
