# The physical network interfaces
allow-hotplug {{ ansible_local.interfaces.ports.external }}
iface {{ ansible_local.interfaces.ports.external }} inet manual

{% if ansible_local.interfaces.ports.internal is defined %}
allow-hotplug {{ ansible_local.interfaces.ports.internal }}
iface {{ ansible_local.interfaces.ports.internal }} inet manual

{% endif %}

