{# Copyright (C) 2014-2019 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2019 DebOps <http://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# This file is managed by Ansible, all changes will be lost

# by default we do NOT start sks!
# Set to yes if you want to start it in the init script.
initstart=yes


