<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta name="refresh" content="60">
  <meta name="retry-after" content="100">
  <meta name="robots" content="noindex, nofollow, noarchive, nostore">
  <meta name="cache-control" content="no-cache, no-store">
  <meta name="pragma" content="no-cache">
  <title>Deploy in progress</title>
  <style>
    body {
      color: #666;
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: auto;
      font-size: 14px;
    }

    h1 {
      font-size: 56px;
      line-height: 100px;
      font-weight: 400;
      color: #456;
    }

    h3 {
      color: #456;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
    }

    hr {
      max-width: 800px;
      margin: 18px auto;
      border: 0;
      border-top: 1px solid #EEE;
      border-bottom: 1px solid white;
    }

    img {
      max-width: 40vw;
    }

    .container {
      margin: auto 20px;
    }
  </style>
</head>

<body>
  <h1>
    Deploy in progress
  </h1>
  <div class="container">
    <h3>Please try again in a few minutes.</h3>
    <hr />
    <p>Please contact your Discourse administrator if this problem persists.</p>
  </div>
</body>
</html>
