{# Copyright (C) 2018 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2018 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# Configuration managed by the 'debops.system_groups' Ansible role

{{ item.sudoers }}
