# This file is managed by Ansible, all changes will be lost

{% set monit_tpl_process = item.process | default(item.pid | basename | replace('.pid', '')) -%}
check process {{ monit_tpl_process }} with pidfile {{ monit_base_process_run_state }}/{{ item.pid }}
  start program = "{{ item.start | default('/etc/init.d/' + monit_tpl_process + " start") }}" with timeout {{ item.timeout | default("60") }} seconds
  stop program = "{{ item.stop | default('/etc/init.d/' + monit_tpl_process + " stop") }}"
{% if item.script is defined and item.script %}{{ item.script | indent(2, true) }}{% endif %}
