[Unit]
Description=Prometheus exporter for postfix
Documentation=https://github.com/kumina/postfix_exporter

[Service]
Restart=always
User=postfix
ExecStart=/srv/postfix-exporter/postfix-exporter
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target

