{# Copyright (C) 2016      Mariano Barcia <mariano.barcia@gmail.com>
 # Copyright (C) 2016-2019 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2016-2019 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
; {{ ansible_managed }}

{% macro print_config(config) -%}
{%   if config.state|d('present') != 'absent' %}
{%     if config.comment|d() %}
; {{ config.comment }}
{%     endif %}
{%     if config.name|d() %}
[{{ config.name }}]
{%     endif %}
{%     if config.options|d() %}
{{ config.options }}
{%     endif %}
{%     if config.sections|d() %}
{%       for element in config.sections %}
{{ print_config(element) -}}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endmacro -%}
{{ print_config(item) }}
