# {{ ansible_managed }}
# Hook into `dhclient-script(8)` because properly rejecting configuration
# options in `dhclient.conf(5)` is not supported and upstream seems to be
# unwilling to fix this.
# Refs: (ordered after helpfulness, from helpful to unhelpful)
# * https://singpolyma.net/2012/08/how-to-force-the-default-route-to-always-use-a-specific-interface-on-ubuntu/
# * https://lists.debian.org/debian-user/2010/09/msg00240.html
# * https://unix.stackexchange.com/questions/120009/strip-specific-option-from-a-response-in-dhclient
# * https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=672232
{% for interface in tinc__deny_default_route_from_interface %}
case ${interface} in
    {{ interface }}) unset new_routers ;;
esac
{% endfor %}
{% for item in tinc__route_metric_from_interface %}
{% if item.interface|d() and item.metric|d() %}
case ${interface} in
    {{ item.interface }}) IF_METRIC='{{ item.metric|string }}' ;;
esac
{% endif %}
{% endfor %}
{% for interface in tinc__deny_dns_servers_from_interface %}
case ${interface} in
    {{ interface }}) unset new_domain_name_servers new_domain_search ;;
esac
{% endfor %}
