# {{ ansible_managed }}
#
# /etc/hosts.allow: list of hosts that are allowed to access the system.
#                   See the manual pages hosts_access(5) and hosts_options(5).
#
# Example:    ALL: LOCAL @some_netgroup
#             ALL: .foobar.edu EXCEPT terminalserver.foobar.edu
#
# If you're going to protect the portmapper use the name "portmap" for the
# daemon name. Remember that you can only use the keyword "ALL" and IP
# addresses (NOT host or domain names) for the portmapper, as well as for
# rpc.mountd (the NFS mount daemon). See portmap(8) and rpc.mountd(8)
# for further information.
#

{% if tcpwrappers_allow_local is defined %}
# Allowed local connections
{% for line in tcpwrappers_allow_local %}
{{ line }}
{% endfor %}

{% endif %}
{% if tcpwrappers_allow_lan is defined %}
# Allowed LAN connections
{% for line in tcpwrappers_allow_lan %}
{{ line }}
{% endfor %}

{% endif %}
{% if tcpwrappers_allow_custom is defined %}
# Allowed custom connections
{% for line in tcpwrappers_allow_custom %}
{{ line }}
{% endfor %}

{% endif %}


