{% for network in (tinc_default_networks + tinc_networks) %}
{% if network.name|d() and (network.tinc_options|d() or network.port|d()) %}
  - type: 'accept'
    protocol: [ 'tcp', 'udp' ]
    dport: [ '{{ network.tinc_options.Port if network.tinc_options.Port|d() else network.port }}' ]
{% if network.allow|d() %}
    saddr: {{ ("[ '" + network.allow + "' ]") if (network.allow is string) else ("[ '" + network.allow | join("', '") + "' ]") }}
{% endif %}
    role: 'tinc'
    name: '{{ network.name }}'
    delete: '{{ (True if network.delete|d() else False) | bool }}'

{% endif %}
{% endfor %}
