{% for network in (tinc__default_networks + tinc__networks) %}
{%   if network.name|d() and network.tinc_options|d() %}
  - 'tinc/networks/{{ network.name }}/by-group/all/hosts'
  - 'tinc/networks/{{ network.name }}/by-network/{{ network.name }}/hosts'
{%     for group in tinc__inventory_groups %}
  - 'tinc/networks/{{ network.name }}/by-group/{{ group }}/hosts'
{%     endfor %}
{%     for host in tinc__inventory_hosts %}
{%       if ((network.name in (tinc__networks | map(attribute="name") | list) or
              network.name in (tinc__default_networks | map(attribute="name") | list)) and
             host == tinc__hostname) %}
  - 'tinc/networks/{{ network.name }}/by-host/{{ host }}/hosts'
{%       endif %}
{%     endfor %}
{%   endif %}
{% endfor %}
