{% set tinc__tpl_default_port = '655' %}
{% for network in (tinc_default_networks + tinc_networks) %}
{% if (network.name|d() and (network.tinc_options|d() or network.port|d()) and
       ((network.tinc_options.Port|d() and network.tinc_options.Port != tinc__tpl_default_port) or
        (network.port|d() and network.port != tinc__tpl_default_port))) %}
  - name: '{{ "tinc-" + network.name }}'
    port: '{{ network.tinc_options.Port if network.tinc_options.Port|d() else network.port }}'
    protocols: [ 'tcp', 'udp' ]
    comment: '{{ "tinc " + network.name + " VPN" }}'

{% endif %}
{% endfor %}
