{# Copyright (C) 2014-2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2017 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2014-2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# Configuration for systemd-timesyncd

[Time]
{% if ansible_distribution_release in [ 'jessie', 'trusty' ] %}
Servers={{ ntp__servers | join(' ') }}
{% else %}
NTP={{ ntp__servers | join(' ') }}
{% endif %}
