{# Copyright (C) 2013-2015 GitLab B.V. <https://gitlab.com/>
 # Copyright (C) 2017      Markus Wigge <wigge@beuth-hochschule.de>
 # Copyright (C) 2017      Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2017      Fabio Bonelli <fb@fabiobonelli.it>
 # Copyright (C) 2017      DebOps <https://debops.org/>
 # SPDX-License-Identifier: MIT
 #}
# {{ ansible_managed }}

[Unit]
Description=GitLab Slice
Wants=redis-server.service postgresql.service gitlab-gitaly.service gitlab-unicorn.service gitlab-sidekiq.service gitlab-workhorse.service gitlab-mailroom.service
{% if gitlab_enable_pages|bool %}
Wants=gitlab-pages.service
{% endif %}
Before=slices.target
After=redis-server.service postgresql.service

[Install]
WantedBy=multi-user.target
