{% if item.name is defined and item.name %}
{% if item.protocol is undefined %}
{% set etc_services_tpl_local_protocol = 'tcp' %}
{% else %}
{% set etc_services_tpl_local_protocol = item.protocol %}
{% endif %}
{% if item.comment is undefined %}
{{ "%-15s %s/%s" | format(item.name, item.port, etc_services_tpl_local_protocol) }}
{% else %}
{{ "%-15s %s/%-26s # %s" | format(item.name, item.port, etc_services_tpl_local_protocol, item.comment) }}
{% endif %}
{% endif %}
