# {{ ansible_managed }}

[Unit]
Description=fcgiwrap Socket

[Socket]
SocketUser={{ fcgiwrap_socket_user }}
SocketGroup={{ fcgiwrap_socket_group }}
SocketMode={{ fcgiwrap_socket_mode }}
ListenStream=/run/fcgiwrap.socket

[Install]
WantedBy=sockets.target

