# {{ ansible_managed }}

[Unit]
Description=fcgiwrap-{{ item.0.name }} Socket

[Socket]
SocketUser={{ item.0.socket_user   | d(fcgiwrap_socket_user) }}
SocketGroup={{ item.0.socket_group | d(fcgiwrap_socket_group) }}
SocketMode={{ item.0.socket_mode   | d(fcgiwrap_socket_mode) }}
ListenStream=/run/fcgiwrap-{{ item.0.name }}.socket

[Install]
WantedBy=sockets.target

