# {{ ansible_managed }}

# GitLab logrotate settings
# based on: http://stackoverflow.com/a/4883967

{{ gitlab_home }}/gitlab/log/*.log {
    weekly
    missingok
    rotate 52
    compress
    delaycompress
    notifempty
    copytruncate
}

{{ gitlab_home }}/gitlab-shell/gitlab-shell.log {
    weekly
    missingok
    rotate 52
    compress
    delaycompress
    notifempty
    copytruncate
}
