// {{ ansible_managed }}

// Do not install Recommended packages by default
APT::Install-Recommends "false";

// Allow 'apt-get autoremove' to remove recommended packages
APT::AutoRemove::RecommendsImportant "false";

