{# Copyright (C) 2026 Patryk Ściborek <patryk@sciborek.com>
 # Copyright (C) 2026 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# Ansible-managed configuration drop-in for Zabbix Server.
# Loaded via "Include={{ zabbix_server__conf_directory }}/*.conf" already
# present in the stock /etc/zabbix/zabbix_server.conf file.
{% for element in zabbix_server__combined_configuration | debops.debops.parse_kv_config %}
{%   if element.name | d() and element.state | d('present') not in [ 'absent', 'ignore' ] %}

{{     element.comment | d('') | regex_replace('\n$','') | comment() }}
{%     set element_comment = ('#' if element.state | d('present') == 'comment' else '') %}
{{     '{}{}={}'.format(element_comment, element.option | d(element.name), element.value) }}
{%   endif %}
{% endfor %}
