# This file is managed by Ansible, all changes will be lost

cron.*		/var/log/cron.log
& ~

:msg, contains, "pam_unix(cron:session): session opened for user" /var/log/cron.log
& ~

:msg, contains, "pam_unix(cron:session): session closed for user" /var/log/cron.log
& ~

