{# Copyright (C) 2014-2025 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2014-2025 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

[Unit]
Description=autopostgresqlbackup-{{ (item.version | d(postgresql_server__version)) | replace(".", "_") }}-{{ item.name }} daily timer

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
