# {{ ansible_managed }}

# docker-gen Upstart and SysVinit configuration file

# Customize location of docker-gen binary
DOCKER_GEN="{{ docker_gen_lib }}/docker-gen"

# docker-gen options
{% set docker_gen_tpl_options = [] %}
{% if (docker_gen_remote | bool and docker_gen_remote_host|d()) %}
{%   set _ = docker_gen_tpl_options.append("--endpoint " + docker_gen_remote_endpoint) %}
{% if docker_gen_pki|d() and docker_gen_pki | bool %}
{%   set _ = docker_gen_tpl_options.append("--tlsverify") %}
{%   set _ = docker_gen_tpl_options.append("--tlscacert " + docker_gen_pki_path + "/" + docker_gen_pki_realm + "/" + docker_gen_pki_ca) %}
{%   set _ = docker_gen_tpl_options.append("--tlscert " + docker_gen_pki_path + "/" + docker_gen_pki_realm + "/" + docker_gen_pki_crt) %}
{%   set _ = docker_gen_tpl_options.append("--tlskey " + docker_gen_pki_path + "/" + docker_gen_pki_realm + "/" + docker_gen_pki_key) %}
{% endif %}
{% endif %}
DOCKER_GEN_OPTIONS="{{ docker_gen_tpl_options | join(' ') }}"

