# Run Elasticsearch as this user ID and group ID
#ES_USER=elasticsearch
#ES_GROUP=elasticsearch

# Heap Size (defaults to 256m min, 1g max)
#ES_HEAP_SIZE=2g
ES_HEAP_SIZE={{ elasticsearch_memory_heap_size }}

# Heap new generation
#ES_HEAP_NEWSIZE=
{% if elasticsearch_memory_heap_newsize %}
ES_HEAP_NEWSIZE={{ elasticsearch_memory_heap_newsize }}
{% endif %}

# max direct memory
#ES_DIRECT_SIZE=
{% if elasticsearch_memory_direct_size %}
ES_DIRECT_SIZE={{ elasticsearch_memory_direct_size }}
{% endif %}

# Maximum number of open files, defaults to 65535.
#MAX_OPEN_FILES=65535
MAX_OPEN_FILES={{ elasticsearch_fs_max_open_files }}

# Maximum locked memory size. Set to "unlimited" if you use the
# bootstrap.mlockall option in elasticsearch.yml. You must also set
# ES_HEAP_SIZE.
#MAX_LOCKED_MEMORY=unlimited
MAX_LOCKED_MEMORY={{ elasticsearch_memory_locked_size }}

# Maximum number of VMA (Virtual Memory Areas) a process can own
#MAX_MAP_COUNT=262144
MAX_MAP_COUNT={{ elasticsearch_memory_vma_max_map_count }}

# Elasticsearch log directory
#LOG_DIR=/var/log/elasticsearch

# Elasticsearch data directory
#DATA_DIR=/var/lib/elasticsearch

# Elasticsearch work directory
#WORK_DIR=/tmp/elasticsearch

# Elasticsearch configuration directory
#CONF_DIR=/etc/elasticsearch

# Elasticsearch configuration file (elasticsearch.yml)
#CONF_FILE=/etc/elasticsearch/elasticsearch.yml

# Additional Java OPTS
#ES_JAVA_OPTS=
{% if elasticsearch_fs_java_opts %}
ES_JAVA_OPTS={{ elasticsearch_fs_java_opts }}
{% endif %}

# Configure restart on package upgrade (true, every other setting will lead to not restarting)
#RESTART_ON_UPGRADE=true

