# {{ ansible_managed }}

# configuration for /etc/init.d/ferm

# use iptables-restore for fast firewall initialization?
FAST=no

# cache the output of ferm --lines in /var/cache/ferm?
CACHE=no

# additional paramaters for ferm (like --def '=bar')
OPTIONS=

# Enable the ferm init script? (i.e. run on bootup)
{% if ferm_enabled | bool %}
ENABLED="yes"
{% else %}
ENABLED="no"
{% endif %}

