# This file is managed by Ansible, all changes will be lost

# configuration for /etc/init.d/ferm

# use iptables-restore for fast firewall initialization?
FAST=no

# cache the output of ferm --lines in /var/cache/ferm?
CACHE=no

# additional paramaters for ferm (like --def '=bar')
OPTIONS=

# Enable the ferm init script? (i.e. run on bootup)
{% if (ferm | bool and (ansible_local|d() and
       (ansible_local.root|d() and (ansible_local.root.flags | intersect(ferm_root_flags.cap_net_admin)) or
       (ansible_local.cap12s|d() and (not ansible_local.cap12s.enabled | bool or
       (ansible_local.cap12s.enabled | bool and 'cap_net_admin' in ansible_local.cap12s.list)))))) %}
ENABLED="yes"
{% else %}
ENABLED="no"
{% endif %}

