# {{ ansible_managed }}

# redis-server configure options

# ULIMIT: Call ulimit -n with this argument prior to invoking Redis itself.
# This may be required for high-concurrency environments. Redis itself cannot
# alter its limits as it is not being run as root. (default: do not call
# ulimit)
#
ULIMIT={{ redis_maxclients | int + 64 }}
