{# Copyright (C) 2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

options lockd nlm_udpport={{ nfs_server__service_ports['rpc.lockd'] }} nlm_tcpport={{ nfs_server__service_ports['rpc.lockd'] }}
options nfs callback_tcpport={{ nfs_server__service_ports['rpc.nfs-cb'] }}
