# {{ ansible_managed }}

# Print system news when users log in

# Show news only to potential normal users
[ $EUID -ge {{ console_sysnews_min_uid }} ] || return 0

# Check if sysnews is installed
type news > /dev/null 2>&1 || return 0

# Make sure that shell is bash or zsh
[ -n "$BASH_VERSION" -o -n "$ZSH_VERSION" ] || return 0

# Make sure that it's interactive session
[[ $- == *i* ]] || return 0

# Show system news to users
tty -s && news -n

