# Enable installed protocols
!include_try /usr/share/dovecot/protocols.d/*.protocol

# Most of the actual configuration gets included below. The filenames are
# first sorted by their ASCII value and parsed in that order. The 00-prefixes
# in filenames are intended to make it easier to understand the ordering.
!include_try conf.d/10-auth.conf
!include_try conf.d/10-director.conf
!include_try conf.d/10-logging.conf
!include_try conf.d/10-mail.conf
!include_try conf.d/10-master.conf
!include_try conf.d/10-ssl.conf
!include_try conf.d/10-tcpwrapper.conf
!include_try conf.d/15-lda.conf
!include_try conf.d/15-mailboxes.conf
!include_try conf.d/20-imap.conf
!include_try conf.d/20-lmtp.conf
!include_try conf.d/20-pop3.conf
!include_try conf.d/20-managesieve.conf
!include_try conf.d/90-acl.conf
!include_try conf.d/90-plugin.conf
!include_try conf.d/90-quota.conf
!include_try conf.d/90-sieve.conf
!include_try conf.d/90-sieve-extprograms.conf
!include_try local.conf
