{# Copyright (C) 2020 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# -*- conf -*-

[paths]
;data-home: /opt/debops

[ansible defaults]
display_skipped_hosts = False
retry_files_enabled = False
stdout_callback = yaml
;callback_plugins = /my/plugins/callback
;roles_path = /my/roles

[ansible inventory]
host_pattern_mismatch = ignore

[ansible paramiko]
;record_host_keys=True

[ansible ssh_connection]
;ssh_args = -o ControlMaster=auto -o ControlPersist=60s
