{# Copyright (C) 2020 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# Uncomment the lines below to encrypt your secrets with git-crypt
#/ansible/{{ secret_name }}/** filter=git-crypt diff=git-crypt
#/{{ secret_name }}/** filter=git-crypt diff=git-crypt
