# {{ ansible_managed }}
{#

  Default nginx server template

#}

server {
{% if item.listen is defined and item.listen %}
{% if item.listen is iterable %}
{% for line in item.listen %}
	listen {{ line }};
{% endfor %}
{% else %}
	listen {{ item.listen | default('80') }}{% if item.default is defined and item.default == True or nginx_default_name is defined and item.name is defined and nginx_default_name == item.name or item.name is not defined %} default_server{% endif %};
{% endif %}
{% else %}
	listen 80{% if item.default is defined and item.default == True or nginx_default_name is defined and item.name is defined and nginx_default_name == item.name or item.name is not defined %} default_server{% endif %};
{% endif %}
{% if item.name is defined and item.name %}
	server_name {{ item.name }};
{% endif %}
{% if item.alias is defined and item.alias %}
{% if item.alias is iterable %}
{% for line in item.alias %}
	server_name {{ line }};
{% endfor %}
{% else %}
	server_name {{ item.alias }};
{% endif %}
{% endif %}

{% if item.root is defined and item.root %}
	root {{ item.root }};
{% elif item.name is defined and item.name %}
{% if item.owner is defined and item.owner %}
	root /srv/www/{{ item.owner }}/sites/{{ item.name }}/public;
{% else %}
	root /srv/www/sites/{{ item.name }}/public;
{% endif %}
{% else %}
	root {{ nginx_default_root }};
{% endif %}

{% if item.name is defined and item.name %}
	access_log /var/log/nginx/{{ item.name }}_access.log;
	error_log /var/log/nginx/{{ item.name }}_error.log;

{% endif %}
	index {% if item.upstream_php5 is defined and item.upstream_php5 %}index.php {% endif %}index.html index.htm;

	# Disallow access to hidden files and directories
	location ~ /\. {
		return 404;
		access_log off;
		log_not_found off;
	}

	location = /favicon.ico {
		try_files /favicon.ico =204;
		access_log off;
		log_not_found off;
	}

{% if item.status is defined and item.status or nginx_default_status is defined and nginx_default_status %}
	location = /nginx_status {
		stub_status on;
		access_log off;
{% if nginx_default_status is defined and nginx_default_status %}
{% for address in nginx_default_status %}
		allow {{ address }};
{% endfor %}
{% endif %}
{% if item.status is defined and item.status %}
{% for address in item.status %}
		allow {{ address }};
{% endfor %}
{% endif %}
		deny all;
	}

{% if item.upstream_php5 is defined and item.upstream_php5 %}
{#
      !!! You need to enable pm_status variable in php5 pool for this to work !!!
#}
	location = {{ item.upstream_php5_status | default('/php5_status') }} {
		access_log off;
{% if nginx_default_status is defined and nginx_default_status %}
{% for address in nginx_default_status %}
		allow {{ address }};
{% endfor %}
{% endif %}
{% if item.status is defined and item.status %}
{% for address in item.status %}
		allow {{ address }};
{% endfor %}
{% endif %}
		deny all;

		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		include fastcgi_params;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_pass {{ item.upstream_php5 }};
	}

	location = {{ item.upstream_php5_ping | default('/php5_ping') }} {
		access_log off;
{% if nginx_default_status is defined and nginx_default_status %}
{% for address in nginx_default_status %}
		allow {{ address }};
{% endfor %}
{% endif %}
{% if item.status is defined and item.status %}
{% for address in item.status %}
		allow {{ address }};
{% endfor %}
{% endif %}
		deny all;

		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		include fastcgi_params;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_pass {{ item.upstream_php5 }};
	}

{% endif %}
{% endif %}
{% if item.name is defined and item.name == nginx_default_name or item.name is not defined and item.default is defined and item.default %}
	include /etc/nginx/http-default.d/*.conf;

{% elif item.name is not defined and item.default is not defined %}
	include /etc/nginx/http-default.d/*.conf;

{% endif %}
{% if item.location is defined %}
{% for path in item.location.keys() %}
	location {{ path }} {
{% if item.location[path] is iterable %}
{% for line in item.location[path] %}
		{{ line }};
{% endfor %}
{% endif %}
{% if item.location_allow is defined %}
{% if item.location_allow[path] is defined and item.location_allow[path] %}
{% for address in item.location_allow[path] %}
		allow {{ address }};
{% endfor %}
{% if item.location_deny is defined %}
{% if item.location_deny[path] is defined %}
{% for address in item.location_deny[path] %}
		deny {{ address }};
{% endfor %}
{% endif %}
{% else %}
		deny all;
{% endif %}
{% endif %}
{% endif %}
	}

{% endfor %}
{% else %}
	location / {
		try_files $uri $uri/ $uri.html $uri.htm /index.html /index.htm =404;
	}

{% endif %}
{% if item.upstream_php5 is defined and item.upstream_php5 %}
	location ~ \.php$ {
		try_files $uri =404;

		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		include fastcgi_params;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_pass {{ item.upstream_php5 }};
	}

{% else %}
	location ~ \.php$ {
		return 403;
	}

{% endif %}
}


