#!/usr/bin/env python

# {{ ansible_managed }}

from __future__ import print_function
from json import loads, dumps

import kmodpy

output = loads('''{{ {"configured": True,
                      "enabled": kmod__enabled|bool} | to_nice_json }}''')

output['modules'] = [x[0] for x in kmodpy.Kmod().list()]

print(dumps(output, sort_keys=True, indent=4))
