#!/usr/bin/env python

# {{ ansible_managed }}

from __future__ import print_function
from json import loads, dumps
from sys import exit
import subprocess
import signal
import os

output = loads('''{{ {"configured": True,
                      "enabled": kmod__enabled|bool} | to_nice_json }}''')

kernel_modules = []

try:
    with open(os.devnull, 'w') as devnull:
        kernel_modules = subprocess.check_output(
            ["/sbin/lsmod | tail -n +2 | awk '{print $1}'"],
            shell=True, stderr=devnull).strip().split('\n')

except subprocess.CalledProcessError:
    pass

output['modules'] = filter(None, kernel_modules)

print(dumps(output, sort_keys=True, indent=4))
