# {{ ansible_managed }}

{% if docker__env_http_proxy|d() or docker__env_https_proxy|d() %}
[Service]
Environment={% if docker__env_http_proxy|d() %}"HTTP_PROXY={{ docker__env_http_proxy }}" {% endif %}{% if docker__env_https_proxy|d() %}"HTTPS_PROXY={{ docker__env_https_proxy }}"{% endif %} {% if docker__env_no_proxy|d() %}"NO_PROXY={{ docker__env_no_proxy }}"{% endif %} 
{% endif %}
