{# Copyright (C) 2025 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2025 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
#!/bin/bash

# {{ ansible_managed }}

# pgBadger instance: {{ item.name }}

set -o nounset -o pipefail -o errexit

output_dir="{{ item.chdir | d(pgbadger__www_root) }}"
{% if (item.output | d()) is truthy %}
output_file="{{ item.output }}"
{% endif %}
script_name="$(basename "${0}")"
log_tag="pgbadger-${script_name}"
lock_file="/tmp/pgbadger.${script_name}.lock"

{% if (item.raw_header | d()) is truthy %}
{{   item.raw_header | regex_replace('\n$', '') }}
{% else %}
if ( set -o noclobber ; echo "$$" > "${lock_file}" ) 2> /dev/null ; then
    trap 'rm -f "${lock_file}" ; exit $?' INT TERM EXIT
    logger -t "${log_tag}" -p user.notice "Preparing new log scan using pgBadger '${script_name}' instance"
else
    logger -t "${log_tag}" -p user.notice "pgBadger '${script_name}' instance already running, not starting the same instance"
    exit 0
fi
{% endif %}

if [ ! -d "${output_dir}" ] ; then
    mkdir -p "${output_dir}"
fi
cd "${output_dir}"

{% if (item.comment | d()) is truthy %}
{{   item.comment | regex_replace('\n$', '') | comment(prefix='', postfix='') }}
{% endif %}
{% if (item.raw | d()) is truthy %}
{{   item.raw | regex_replace('\n$', '') }}
{% elif (item.host | d()) is truthy %}
{%   if item.host == 'localhost' %}
{{ pgbadger__scripts_command }} --outfile "${output_file}" /var/log/postgresql/{{ item.log | d('*.log') }}
{%   else %}
{{ pgbadger__scripts_command }} --outfile "${output_file}" "ssh://{{ item.user | d(pgbadger__ssh_user) }}@{{ item.host }}//var/log/postgresql/{{ item.log | d('*.log') }}"
{%   endif %}
{% endif %}
