#!/bin/sh

# {{ ansible_managed }}

PREREQ=""
prereqs() {
    echo "$PREREQ"
}
case $1 in
prereqs)
    prereqs
    exit 0
    ;;
esac

{% for name, interface in dropbear_initramfs__combined_interfaces.iteritems() %}
{%   set interface_name = (interface.iface | d(name)) %}
{%   set dropbear_initramfs__tpl_ipv4_addresses = [] %}
{%   set dropbear_initramfs__tpl_ipv6_addresses = [] %}
{%   if interface.no_addresses|d(True) | bool %}
{%     set dropbear_initramfs__tpl_addresses = [interface.address|d([]), interface.addresses|d([])] %}
{%     set dropbear_initramfs__tpl_addresses = lookup("flattened", dropbear_initramfs__tpl_addresses).split(',') | unique | sort %}
{%     set dropbear_initramfs__tpl_ipv4_addresses = dropbear_initramfs__tpl_addresses | ipv4 %}
{%     set dropbear_initramfs__tpl_ipv6_addresses = dropbear_initramfs__tpl_addresses | ipv6 %}
{%     set dropbear_initramfs__tpl_gateways = [interface.gateway|d([]), interface.gateways|d([])] %}
{%     set dropbear_initramfs__tpl_gateways = lookup("flattened", dropbear_initramfs__tpl_gateways).split(',') | unique | sort %}
{%     set dropbear_initramfs__tpl_ipv4_gateways = dropbear_initramfs__tpl_gateways | ipv4 %}
{%     set dropbear_initramfs__tpl_ipv6_gateways = dropbear_initramfs__tpl_gateways | ipv6 %}
{%   endif %}
ip link set dev {{ interface_name|quote }} up

{%   if interface.inet6 in ['static'] %}
{%     for address in dropbear_initramfs__tpl_ipv6_addresses %}
ip addr add {{ address }} dev {{ interface_name|quote }}
{%     endfor %}
{%     if dropbear_initramfs__tpl_ipv6_gateways %}
ip route add default via {{ dropbear_initramfs__tpl_ipv6_gateways | first }}
{%     endif %}
{%   endif %}

{%   if interface.inet in ['static'] %}
{%     for address in dropbear_initramfs__tpl_ipv4_addresses %}
ip addr add {{ address }} dev {{ interface_name|quote }} label {{ interface_name|quote }}:{{ loop.index0 }}
{%     endfor %}
{%     if dropbear_initramfs__tpl_ipv4_gateways %}
ip route add default via {{ dropbear_initramfs__tpl_ipv4_gateways | first }}
{%     endif %}
{%   endif %}

ip addr show dev {{ interface_name|quote }}
{% endfor %}

exit 0
