# This file is managed by Ansible, all changes will be lost


# Current postfix capabilities: {{ ", ".join(postfix) }}

# ==========================================================================
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (yes)   (never) (100)
# ==========================================================================

{% set postfix_tpl_mastercf_parts = [
  'postscreen',
  'smtp',
  'smtps',
  'submission',
  'postfix_services',
  'uucp',
  'local_mastercf' ] %}
{% for part in postfix_tpl_mastercf_parts %}
{% include part + '.j2' %}
{% endfor %}

