{% if ('!postscreen' not in postfix and ('mx' in postfix or 'postscreen' in postfix)) %}
smtp      inet  n       -       -       -       1       postscreen
dnsblog   unix  -       -       -       -       0       dnsblog
tlsproxy  unix  -       -       -       -       0       tlsproxy
{% else %}
#postscreen requires: +mx|+postscreen
{% endif %}

