{% if ( 'mx' in postfix or 'postscreen' in postfix ) and '!postscreen' not in postfix %}
smtpd     pass  -       -       -       -       -       smtpd
{% else %}
smtp      inet  n       -       -       -       -       smtpd
{% endif %}

