{% if 'uucp' in postfix %}
uucp      unix  -       n       n       -       -       pipe
  flags=Fqhu user=uucp argv=uux -r -n -z -a$sender - $nexthop!rmail ($recipient)
{% else %}
#uucp requires: +uucp
{% endif %}

