{# Copyright (C) 2020 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

[global]
secret_file = {{ etesync__config_secret_key_filepath }}
debug = false

[allowed_hosts]
{% for host in ([ etesync__config_allowed_hosts ]
				if etesync__config_allowed_hosts is string
				else etesync__config_allowed_hosts) %}
allowed_host{{ loop.index }} = {{ host }}
{% endfor %}

[database]
engine = django.db.backends.sqlite3
name = {{ etesync__data }}/db.sqlite3
