#!{{ ansible_python['executable'] }}

# {{ ansible_managed }}

from __future__ import print_function
from json import loads, dumps
from sys import exit
import os


def cmd_exists(cmd):
    return any(
        os.access(os.path.join(path, cmd), os.X_OK)
        for path in os.environ["PATH"].split(os.pathsep)
    )


output = loads('''{{ {"installed": False,
                      "deploy_type": ansible__deploy_type}
                     | to_nice_json }}''')

output['installed'] = cmd_exists('ansible-playbook')

print(dumps(output, sort_keys=True, indent=4))
