{# Copyright (C) 2018 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2018 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# Based on https://github.com/indiv0/ansible-role-console

[Service]
SupplementaryGroups={{ proc_hidepid__group }}
