{# Copyright (C) 2021 Pedro Luis Lopez <pedroluis.lopezsanchez@gmail.com>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# ghostunnel-{{ item.name }}-server.service unit file
# Copyright (C) 2021 Pedro Luis Lopez <pedroluis.lopezsanchez@gmail.com>
# Copyright (C) DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-only

[Unit]
Description=Ghostunnel {{ item.name }} server service

[Service]
Restart=always
User={{ ghostunnel__user }}
EnvironmentFile=/etc/default/ghostunnel-{{ item.name }}-server
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ghostunnel-{{ item.name }}-server
ExecStart=-/usr/local/bin/ghostunnel server $ARGS

[Install]
WantedBy=multi-user.target