# NFS services
rpc.nfs-cb		{{ nfs_server_callback_port }}/tcp		# RPC NFS callback
rpc.nfs-cb		{{ nfs_server_callback_port }}/udp		# RPC NFS callback
rpc.nfs-statd-bc	{{ nfs_server_statd_port }}/tcp		# RPC statd broadcast
rpc.nfs-statd-bc	{{ nfs_server_statd_port }}/udp		# RPC statd broadcast
rpc.statd		{{ nfs_server_statd_outgoing_port }}/tcp		# RPC statd listen
rpc.statd		{{ nfs_server_statd_outgoing_port }}/udp		# RPC statd listen
rpc.mountd		{{ nfs_server_rpcmountd_port }}/tcp		# RPC mountd
rpc.mountd		{{ nfs_server_rpcmountd_port }}/udp		# RPC mountd
rpc.lockd		{{ nfs_server_lockd_port }}/tcp		# RPC lockd
rpc.lockd		{{ nfs_server_lockd_port }}/udp		# RPC lockd


