{# Copyright (C) 2023 David Härdeman <david@hardeman.nu>
 # Copyright (C) 2023 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

[Unit]
Description=Perform a backup using borgmatic/BorgBackup
Documentation=https://docs.debops.org/en/master/ansible/roles/debops.borgbackup/

[Service]
# The default service includes a 1m sleep here to make sure there's a delay
# at boot. There is, however, already a delay because of the combination
# of "Persistent=true" and "RandomizedDelaySec", so skip this or a manual
# or controller-initiated backup will also hang for 1m.
ExecStartPre=

# This leaves most of the filesystem read-only to borgmatic.
ProtectSystem=strict

{% if borgbackup__rw_directories | d([]) | flatten | length > 0 %}
# Local repositories
ReadWritePaths={{ borgbackup__rw_directories | flatten | map("regex_replace", "^", "-") | join(" ") }}

{% endif %}
{% if borgbackup__protect_root | d(True) %}
# Mount a tmpfs on top of /root and pass through a subset of directories
TemporaryFileSystem=/root:ro
BindPaths=-/root/.cache/borg -/root/.config/borg -/root/.borgmatic
BindReadOnlyPaths=-/root/.ssh
{% endif %}
