{# Copyright (C) 2019 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2019 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
Name: activate mkhomedir managed by Ansible
Default: yes
Priority: 900
Session-Type: Additional
Session:
        required                        pam_mkhomedir.so umask={{ nslcd__mkhomedir_umask }} skel=/etc/skel
