# {{ ansible_managed }}

server_host = ldap://ldap.example.com
uris = ldap://ldap.example.com
tls = yes
debug_level = 0
dn = cn=mail,ou=Services,dc=example,dc=com
dnpass = '<secret_password>'
auth_bind = yes
ldap_version = 3
base = ou=Users,ou=Mail,dc=example,dc=com
pass_attrs = mailDrop=user, userPassword=password
pass_filter = (&(objectClass=mailUser)(mailDrop=%u)(!(mailEnabled=FALSE)))