# {{ ansible_managed }}

  passenger_root {{ passenger_root}};
  passenger_ruby {{ passenger_ruby}};
  passenger_max_pool_size {{ passenger_max_pool_size }};
  {% if passenger_options %}
    {{ passenger_options }}
  {% endif %}

