# {{ ansible_managed }}

  passenger_root {{ nginx_passenger_root }};
  passenger_ruby {{ nginx_passenger_ruby }};
  passenger_max_pool_size {{ nginx_passenger_max_pool_size }};

  {% if nginx_passenger_options %}
    {{ nginx_passenger_options }}
  {% endif %}

