{% extends "upstream_default.conf.j2" %}
{#
#
#   ---- nginx upstream template for PHP websites ----
#
# List of parameters supported by this template:
#
#   - item.php_pool / item.php_pools
#       Name of PHP-FPM pool which should be used as the upstream server. The
#       role will automatically generate the path to the UNIX socket in the
#       expected location.
#
#}
{% block nginx_tpl_block_custom_upstreams %}
{%   if item.php_pools|d() %}
{%     if item.php_pools is string %}
        server unix:{{ nginx_run_path }}/php{{ ansible_local.php.version if (ansible_local|d() and ansible_local.php|d() and ansible_local.php.version|d()) else '5' }}-fpm-{{ item.php_pools }}.sock{% if ((item.enabled|d() and not item.enabled|bool) or (item.down|d() and item.down|bool)) %} down{% endif %};
{%     else %}
{%       for pool in item.php_pools %}
        server unix:{{ nginx_run_path }}/php{{ ansible_local.php.version if (ansible_local|d() and ansible_local.php|d() and ansible_local.php.version|d()) else '5' }}-fpm-{{ pool }}.sock{% if ((item.enabled|d() and not item.enabled|bool) or (item.down|d() and item.down|bool)) %} down{% endif %};
{%       endfor %}
{%     endif %}
{%   elif item.php_pool|d() %}
{%     if item.php_pool is string %}
        server unix:{{ nginx_run_path }}/php{{ ansible_local.php.version if (ansible_local|d() and ansible_local.php|d() and ansible_local.php.version|d()) else '5' }}-fpm-{{ item.php_pool }}.sock{% if ((item.enabled|d() and not item.enabled|bool) or (item.down|d() and item.down|bool)) %} down{% endif %};
{%     else %}
{%       for pool in item.php_pool %}
        server unix:{{ nginx_run_path }}/php{{ ansible_local.php.version if (ansible_local|d() and ansible_local.php|d() and ansible_local.php.version|d()) else '5' }}-fpm-{{ pool }}.sock{% if ((item.enabled|d() and not item.enabled|bool) or (item.down|d() and item.down|bool)) %} down{% endif %};
{%       endfor %}
{%     endif %}
{%   endif %}
{% endblock %}
