## {{ ansible_managed }}

{% for module in kernel_module_list_combined %}
{% if module.params is string and
    (module.state is defined and module.state == 'present' or module.state is undefined) and
    (module.persistent is defined and module.persistent or module.persistent is undefined) and
    (module.blacklist is undefined or not module.blacklist)
    %}
options {{ module.name }} {{ module.params }}
{%   endif %}
{% endfor %}
