# This file is managed by Ansible, all changes will be lost
{% macro print_hash(hash) %}
{% for key, value in hash.iteritems() %}
	{{ "%-30s" | format(key) | replace("_"," ") }} = {{ value }}
{% endfor %}
{% endmacro %}
{% macro print_section(hash, section='global') %}
[{{ section }}]
{{ print_hash(hash) }}
{% endmacro %}

[global]
	# Default options
{{ print_hash(hash=samba_global) }}
{% if samba_global_custom is defined and samba_global_custom %}
	# Custom options
{{ print_hash(hash=samba_global_custom) }}
{% endif %}
{% if samba_homes is defined and samba_homes %}
{{ print_section(hash=samba_homes, section='homes') }}
{% endif %}
{% if samba_shares is defined and samba_shares %}
{% for share in samba_shares.keys() %}
[{{ share }}]
{{ print_hash(hash=samba_shares[share]) }}
{% endfor %}
{% endif %}


