## {{ ansible_managed }}

{% for module in kernel_module__combined_list %}
{%   if module.state|d('present') == 'present' and
    (module.persistent|d(True) | bool) and
    not (module.blacklist|d(False))
    %}
{{ module.name }}
{%   endif %}
{% endfor %}
