{# Copyright (C) 2023 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2023 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

{% from 'macros.j2' import print_ini_section %}
{% if item.comment | d() %}
{{   item.comment | regex_replace('\n$', '') | comment(prefix='', postfix='') -}}
{% endif %}
{% if item.raw | d() %}
{{   item.raw | regex_replace('\n$', '') }}
{% else %}
{%   for section in item.sections | d([]) %}
{{     print_ini_section(section) -}}
{%   endfor %}
{% endif %}
