{# Copyright (C) 2014-2019 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2019 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# This file is managed by Ansible, all changes will be lost

{{ smstools_sms_log }} {
	rotate {{ smstools_sms_log_rotation_interval | default('52') }}
	{{ smstools_sms_log_rotation | default('weekly') }}
	missingok
	notifempty
	compress
	delaycompress
}


