<?php
/* {{ ansible_managed }} */
{#
Copyright 2015 by Steffen Lindner <mail@steffen-lindner.de>
SPDX-License-Identifier: GPL-3.0-or-later
#}

$CONFIG = json_decode('{{ owncloud__mail_conf_map | to_nice_json }}', true);
?>
