{# Copyright (C) 2014-2018 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015-2016 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2014-2018 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

{{ item.systemd_override | regex_replace('$\n', '') }}
