# {{ ansible_managed }}

###############################  GENERAL  #####################################

daemonize {{ redis_daemonize }}
pidfile "{{ redis_sentinel_pidfile }}"
port {{ redis_sentinel_port }}
bind {{ redis_sentinel_bind | join(' ') }}
tcp-keepalive {{ redis_tcp_keepalive }}
loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}
syslog-enabled {{ redis_syslog_enabled }}
syslog-ident "{{ redis_sentinel_syslog_ident }}"
syslog-facility {{ redis_syslog_facility | lower }}

###############################  SNAPSHOTTING  ################################

dir "{{ redis_dir }}"

################################### LIMITS ####################################

maxclients {{ redis_maxclients }}
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
maxmemory-samples {{ redis_maxmemory_samples }}

################################ SENTINEL #####################################

{% for item in redis_sentinel_group_list -%}
{% if redis_requirepass -%}
sentinel auth-pass {{ item.name }} {{ redis_requirepass }}
{% endif -%}
{% if item.notification_script is defined and item.notification_script -%}
sentinel notification-script {{ item.name }} {{ redis_script }}/notification.sh
{% endif -%}
{% if item.client_reconfig_script is defined and item.client_reconfig_script -%}
sentinel client-reconfig-script {{ item.name }} {{ redis_script }}/client_reconfig.sh
{% endif -%}
{% endfor -%}
