# This file is managed remotely, all changes will be lost

options lockd nlm_udpport={{ nfs_service_ports['nfs-lockd'] }} nlm_tcpport={{ nfs_service_ports['nfs-lockd'] }}
options nfs callback_tcpport={{ nfs_service_ports['nfs-callback'] }}

