# {{ ansible_managed }}

{% if item.comment|d() and item.comment %}
# {{ item.comment }}
{% else %}
# Enable connection tracking
{% endif %}

{% set ferm_tpl_interface = [] %}
{% set ferm_tpl_outerface = [] %}
{% set ferm_tpl_interface_not = [] %}
{% set ferm_tpl_outerface_not = [] %}
{% if item.interface|d() %}
{%   if item.interface is string %}
{%     set ferm_tpl_interface = [ item.interface ] %}
{%   else %}
{%     set ferm_tpl_interface = item.interface | unique %}
{%   endif %}
{% elif item.interface_not|d() %}
{%   if item.interface_not is string %}
{%     set ferm_tpl_interface_not = [ item.interface_not ] %}
{%   else %}
{%     set ferm_tpl_interface_not = item.interface_not | unique %}
{%   endif %}
{% endif %}
{% if item.outerface|d() %}
{%   if item.outerface is string %}
{%     set ferm_tpl_outerface = [ item.outerface ] %}
{%   else %}
{%     set ferm_tpl_outerface = item.outerface | unique %}
{%   endif %}
{% elif item.outerface_not|d() %}
{%   if item.outerface_not is string %}
{%     set ferm_tpl_outerface_not = [ item.outerface_not ] %}
{%   else %}
{%     set ferm_tpl_outerface_not = item.outerface_not | unique %}
{%   endif %}
{% endif %}
{% set ferm_tpl_arguments = [] %}
{% if ferm_tpl_interface %}
{%   set _ = ferm_tpl_arguments.append("interface (" + ferm_tpl_interface | join(" ") + ")") %}
{% elif ferm_tpl_interface_not %}
{%   set _ = ferm_tpl_arguments.append("interface ! " + ferm_tpl_interface_not[0] | string) %}
{% endif %}
{% if ferm_tpl_outerface %}
{%   set _ = ferm_tpl_arguments.append("outerface (" + ferm_tpl_outerface | join(" ") + ")") %}
{% elif ferm_tpl_outerface_not %}
{%   set _ = ferm_tpl_arguments.append("outerface ! " + ferm_tpl_outerface_not[0] | string) %}
{% endif %}
{% if ferm_tpl_arguments %}{{ ferm_tpl_arguments | join(" ") }} {% endif %}{
    mod conntrack ctstate INVALID DROP;
    mod conntrack ctstate (ESTABLISHED RELATED) ACCEPT;
}

