# {{ ansible_managed }}

{% if item.by_role is defined and item.by_role %}
# ip(6)tables rules defined by Ansible role: {{ item.by_role }}

{% endif %}
{% if item.rules|d() and item.rules %}
{{ item.rules }}
{% endif %}

