#!/bin/bash

# {{ ansible_managed }}

set -e

{% if item.1 == 'notification' -%}
{% if item.0.notification_script is defined and item.0.notification_script -%}
{{ item.0.notification_script }}
{% endif -%}
{% else -%}
{% if item.0.client_reconfig_script is defined and item.0.client_reconfig_script -%}
{{ item.0.client_reconfig_script }}
{% endif -%}
{% endif -%}
