#!/bin/sh

# Copyright (C) 2013-2016 Maciej Delmanowski <drybjed@gmail.com>
# Copyright (C) 2015-2017 Robin Schneider <ypid@riseup.net>
# Copyright (C) 2014-2017 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-only

# {{ ansible_managed }}

# Lookup SSH public key in SSSD

if [ -x "/usr/bin/sss_ssh_authorizedkeys" ] ; then
    /usr/bin/sss_ssh_authorizedkeys "${1}"
fi
