{# Copyright (C) 2016 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2016 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
## {{ ansible_managed }}

KERNEL=="fuse", GROUP="{{ fuse_group }}", MODE="{{ fuse_permissions }}"
