#!/usr/bin/python{{ '2' if (ansible_python_version is version_compare('3.5', '<')) else '3' }}

# {{ ansible_managed }}

from __future__ import print_function
from json import dumps
import lxc
import os


def cmd_exists(cmd):
    return any(
        os.access(os.path.join(path, cmd), os.X_OK)
        for path in os.environ["PATH"].split(os.pathsep)
    )


output = {'installed': cmd_exists('/usr/bin/lxc-create'),
          'containers': list(lxc.list_containers())}

print(dumps(output, sort_keys=True, indent=2))
