{# Copyright (C) 2019 Innobyte Bechea Leonardo <https://www.innobyte.com/>
 # Copyright (C) 2019 Innobyte Alin Alexandru <https://www.innobyte.com/>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}
#
# This is the configuration file for the Grafana daemon, a open source
# analytics & monitoring solution for every database
#
# Commented options show their default value.
{% for element in grafana__combined_configuration | parse_kv_config %}
{%   if element.state|d('present') not in [ 'absent', 'ignore' ] %}
{%     if not loop.first %}

{%     endif %}
{%   if element.name == "" %}
{{ element.name }}
{%   else %}
[{{ element.name }}]
{%   endif %}
{%     if element.options is defined %}
{%       for item in element.options %}
{%         set item_prefix = (';' if item.state|d('present') == 'comment' else '') %}
{%         if item.name|d() and item.state|d('present') not in [ 'absent', 'ignore' ] %}
{%           if not loop.first %}

{%           endif %}
{%           if item.comment|d() != '' %}{{ '# {}'.format(item.comment) }}{% endif %}
{{           '{}{} = {}'.format(item_prefix, item.name, item.value) }}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endfor %}
