#!{{ ansible_python['executable'] }}
# -*- coding: utf-8 -*-

# Copyright (C) 2017 Maciej Delmanowski <drybjed@gmail.com>
# Copyright (C) 2017 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-only

# {{ ansible_managed }}

from __future__ import print_function
from json import dumps, loads
from sys import exit

output = loads("""{{ {'installed': (True
                                    if (postconf__deploy_state == "present")
                                    else False)}
                     | to_nice_json }}""")

print(dumps(output, sort_keys=True, indent=4))
