# {{ ansible_managed }}

description "docker-gen daemon"

start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [!2345]
limit nofile 524288 1048576
limit nproc 524288 1048576

respawn

kill timeout 20

script
	# modify these in /etc/default/$UPSTART_JOB (/etc/default/docker-gen)
	DOCKER_GEN=/usr/bin/$UPSTART_JOB
	DOCKER_GEN_CONFIG=/etc/docker-gen.conf
	DOCKER_GEN_OPTIONS=
	if [ -f /etc/default/$UPSTART_JOB ]; then
		. /etc/default/$UPSTART_JOB
	fi
	exec "$DOCKER_GEN" $DOCKER_GEN_OPTIONS -config=$DOCKER_GEN_CONFIG
end script

