# {{ ansible_managed }}

RaidFileConf = /etc/boxbackup/raidfile.conf
AccountDatabase = /etc/boxbackup/bbstored/accounts.txt

# More verbose logging
ExtendedLogging = {{ boxbackup_verbose | default('no') }}

# scan all accounts for files which need deleting every {{ boxbackup_housekeeping | default(15) }} minutes.
TimeBetweenHousekeeping = {{ (boxbackup_housekeeping | default(15) * 60|int)|round|int|string }}

Server
{
	User = bbstored
	PidFile = /var/run/bbstored.pid
	ListenAddresses = inet:{{ boxbackup_listenAddresses | default('0.0.0.0') }}
	CertificateFile = /etc/boxbackup/bbstored/{{ ansible_fqdn }}-cert.pem
	PrivateKeyFile = /etc/boxbackup/bbstored/{{ ansible_fqdn }}-key.pem
	TrustedCAsFile = /etc/boxbackup/bbstored/clientCA.pem
}


