{% set consul__tpl_config = {} %}
{% for element in consul__combined_configuration | parse_kv_config %}
{%   if element.name|d() and element.state|d('present') not in [ 'absent', 'init', 'ignore' ] and element.config|d() %}
{%     set combined_config = consul__tpl_config | combine(element.config, recursive=True) %}
{%     set _ = consul__tpl_config.update(combined_config) %}
{%   endif %}
{% endfor %}
{{ consul__tpl_config | to_nice_json }}
