# This file is managed by Ansible, all changes will be lost
{#	# Jinja2-formatted template of postgresql.conf for PostgreSQL 9.3. I tried to
	# preserve comments from the original file, which made formatting awkward in some
	# places, but template produces correctly formatted configuration file.
	#
	# Some configuration options require full restart of the database, I removed the
	# notices about that to make template more readable. Consult original
	# configuration file to see what options need full restart of the database. #}

#------------------------------------------------------------------------------
# PostgreSQL {{ item.version | default(postgresql_version) }} ({{ item.name }}) configuration file
#------------------------------------------------------------------------------

{#	# This file consists of lines of the form:
	#
	#   name = value
	#
	# (The "=" is optional.)  Whitespace may be used.  Comments are introduced with
	# "#" anywhere on a line.  The complete list of parameter names and allowed
	# values can be found in the PostgreSQL documentation.
	#
	# The commented-out settings shown in this file represent the default values.
	# Re-commenting a setting is NOT sufficient to revert it to the default value;
	# you need to reload the server.
	#
	# This file is read on server startup and when the server receives a SIGHUP
	# signal.  If you edit the file on a running system, you have to SIGHUP the
	# server for the changes to take effect, or use "pg_ctl reload".  Some
	# parameters, which are marked below, require a server shutdown and restart to
	# take effect.
	#
	# Any parameter can also be given as a command-line option to the server, e.g.,
	# "postgres -c log_connections=on".  Some parameters can be changed at run time
	# with the "SET" SQL command.
	#
	# Memory units:  kB = kilobytes        Time units:  ms  = milliseconds
	#                MB = megabytes                     s   = seconds
	#                GB = gigabytes                     min = minutes
	#                TB = terabytes                     h   = hours
	#                                                   d   = days #}

#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------
{#	# The default values of these variables are driven from the -D command-line
	# option or PGDATA environment variable, represented here as ConfigDir. #}

data_directory = '{{ item.data_directory | default("/var/lib/postgresql/" + item.version | default(postgresql_version) + "/" + item.name) }}'

hba_file = '{{ item.hba_file | default("/etc/postgresql/" + item.version | default(postgresql_version) + "/" + item.name + "/pg_hba.conf") }}'

ident_file = '{{ item.ident_file | default("/etc/postgresql/" + item.version | default(postgresql_version) + "/" + item.name + "/pg_ident.conf") }}'

external_pid_file = '{{ item.external_pid_file | default("/var/run/postgresql/" + item.version | default(postgresql_version) + "-" + item.name + ".pid") }}'


#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

# - Connection Settings -

# - Connection Settings -
listen_addresses = '{{ item.listen_addresses | default("localhost") }}'{#		# what IP address(es) to listen on; comma-separated list of addresses;
											# defaults to 'localhost', '*' = all #}

port = {{ item.port }}
max_connections = {{ item.max_connections | default(postgresql_default_max_connections) }}
{#											# Note:  Increasing max_connections costs ~400 bytes of shared memory per
											# connection slot, plus lock space (see max_locks_per_transaction). #}

superuser_reserved_connections = {{ item.superuser_reserved_connections | default('3') }}
unix_socket_directories = '{{ item.unix_socket_directories | default("/var/run/postgresql") }}'
unix_socket_group = '{{ item.unix_socket_group | default("") }}'
unix_socket_permissions = {{ item.unix_socnet_permissions | default('0777') }}{#	# begin with 0 to use octal notation #}

bonjour = {{ item.bonjour | default('off') }}{#						# advertise server via Bonjour #}

bonjour_name = '{{ item.bonjour_name | default("") }}'{#				# defaults to the computer name #}

# - Security and Authentication -

authentication_timeout = {{ item.authentication_timeout | default('1min') }}{#		# 1s-600s #}

ssl = {{ item.ssl | default('true') }}

ssl_ciphers = '{{ item.ssl_ciphers | default(postgresql_default_ssl_ciphers) }}'{#	# allowed SSL ciphers #}

ssl_prefer_server_ciphers = {{ item.ssl_prefer_server_ciphers | default('on') }}

ssl_ecdh_curve = {{ item.ssl_ecdh_curve | default('prime256v1') }}

ssl_renegotiation_limit = {{ item.ssl_renegotiation_limit | default('512MB') }}{#	# amount of data between renegotiations #}

ssl_cert_file = '{{ postgresql_pki_path + "/" + (item.pki_realm | default(postgresql_pki_realm)) + "/" + (item.ssl_cert_file | default(postgresql_pki_crt)) }}'
ssl_key_file = '{{ postgresql_pki_path + "/" + (item.pki_realm | default(postgresql_pki_realm)) + "/" + (item.ssl_key_file | default(postgresql_pki_key)) }}'
ssl_ca_file = '{{ postgresql_pki_path + "/" + (item.pki_realm | default(postgresql_pki_realm)) + "/" + (item.ssl_ca_file | default(postgresql_pki_ca)) }}'
#ssl_crl_file = ''

password_encryption = {{ item.password_encryption | default('on') }}
db_user_namespace = {{ item.db_user_namespace | default('off') }}

# Kerberos and GSSAPI
krb_server_keyfile = '{{ item.krb_server_keyfile | default("") }}'
# does not seem to work correctly, comment it out in the ansible template
#krb_srvname = '{{ item.krb_srvname | default(item.name) }}'{#				# (Kerberos only) #}

krb_caseins_users = {{ item.krb_caseins_users | default('off') }}

# - TCP Keepalives -
{# # see "man 7 tcp" for details #}
tcp_keepalives_idle = {{ item.tcp_keepalives_idle | default('0') }}{#			# TCP_KEEPIDLE, in seconds; 0 selects the system default #}

tcp_keepalives_interval = {{ item.tcp_keepalives_interval | default('0') }}{#		# TCP_KEEPINTVL, in seconds; 0 selects the system default #}

tcp_keepalives_count = {{ item.tcp_keepalives_count | default('0') }}{#			# TCP_KEEPCNT; 0 selects the system default #}

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

# - Memory -
{% if postgresql_sysctl_shm_multiplier is defined and postgresql_sysctl_shm_multiplier %}
shared_buffers = {{ item.shared_buffers | default (((ansible_memtotal_mb * 0.4)/postgresql_cluster_count|int)|round|int|string + 'MB') }}{# # min 128kB #}
{% else %}
{% if item.max_connections is defined and item.max_connections %}
{% set postgresql_tpl_max_connections = item.max_connections|int %}
{% else %}
{% set postgresql_tpl_max_connections = postgresql_default_max_connections|int %}
{% endif %}
shared_buffers = {{ item.shared_buffers | default ((((postgresql_sysctl_shmmax.stdout|int - (8 * 1024 * 1024) - (16384 * postgresql_tpl_max_connections)) / 1024))|round|int|string + 'kB') }}{# # min 128kB #}
{% endif %}

temp_buffers = {{ item.temp_buffers | default('8MB') }}{#				# min 800kB #}

max_prepared_transactions = {{ item.max_prepared_transactions | default('0') }}{#	# zero disables the feature
											# Note:  Increasing max_prepared_transactions costs ~600 bytes of shared memory
											# per transaction slot, plus lock space (see max_locks_per_transaction).
											# It is not advisable to set max_prepared_transactions nonzero unless you
											# actively intend to use prepared transactions. #}

work_mem = {{ item.work_mem | default('1MB') }}{#					# min 64kB #}

maintenance_work_mem = {{ item.maintenance_work_mem | default('16MB') }}{#		# min 1MB #}

max_stack_depth = {{ item.max_stack_depth | default('2MB') }}{#				# min 100kB #}

#huge_pages = try	{# # on, off, or try #}
#autovacuum_work_mem = -1	{#	# min 1MB, or -1 to use maintenance_work_mem #}
#max_stack_depth = 2MB	{#	# min 100kB #}

dynamic_shared_memory_type = {{ item.dynamic_shared_memory_type | default('posix') }}

# - Disk -
temp_file_limit = {{ item.temp_file_limit | default('-1') }}{#				# limits per-session temp file space, in KB, or -1 for no limit

# - Kernel Resource Usage -
max_files_per_process = {{ item.max_files_per_process | default('1000') }}{#		# min 25 #}

shared_preload_libraries = '{{ item.shared_preload_libraries | default("") }}'

# - Cost-Based Vacuum Delay -
vacuum_cost_delay = {{ item.vacuum_cost_delay | default('0ms') }}{#			# 0-100 milliseconds #}

vacuum_cost_page_hit = {{ item.vacuum_cost_page_hit | default('1') }}{#			# 0-10000 credits #}

vacuum_cost_page_miss = {{ item.vcuum_cost_page_miss | default('10') }}{#		# 0-10000 credits #}

vacuum_cost_page_dirty = {{ item.vacuum_cost_page_dirty | default('20') }}{#		# 0-10000 credits #}

vacuum_cost_limit = {{ item.vacuum_cost_limit | default('200') }}{#			# 1-10000 credits #}

# - Background Writer -
bgwriter_delay = {{ item.bgwriter_delay | default('200ms') }}{#				# 10-10000ms between rounds #}

bgwriter_lru_maxpages = {{ item.bgwriter_lru_maxpages | default('100') }}{#		# 0-1000 max buffers written/round #}

bgwriter_lru_multiplier = {{ item.bgwriter_lru_multiplier | default('2.0') }}{#		# 0-10.0 multipler on buffers scanned/round #}


# - Asynchronous Behavior -
effective_io_concurrency = {{ item.effective_io_concurrency | default('1') }}{#		# 1-1000. 0 disables prefetching #}

#max_worker_processes = 8


#------------------------------------------------------------------------------
# WRITE AHEAD LOG
#------------------------------------------------------------------------------

# - Settings -
wal_level = {{ item.wal_level | default(postgresql_default_wal_level) }}{#		# minimal, archive, or hot_standby #}

fsync = {{ item.fsync | default('on') }}{#						# turns forced synchronization on or off #}

synchronous_commit = {{ item.synchronous_commit | default('on') }}{#			# synchronization level; on, off, or local #}

wal_sync_method = {{ item.wal_sync_method | default('fsync') }}{#			# the default is the first option supported by the operating system:
											#   open_datasync
											#   fdatasync (default on Linux)
											#   fsync
											#   fsync_writethrough
											#   open_sync #}

full_page_writes = {{ item.full_page_writes | default('on') }}{#			# recover from partial page writes #}

wal_buffers = {{ item.wal_buffers | default('-1') }}{#					# min 32kB, -1 sets based on shared_buffers #}

wal_writer_delay = {{ item.wal_writer_delay | default('200ms') }}{#			# 1-10000 milliseconds #}

wal_log_hints = {{ item.wal_log_hints | default('off') }}{#	# also do full page writes of non-critical updates #}

commit_delay = {{ item.commit_delay | default('0') }}{#					# range 0-100000, in microseconds #}

commit_siblings = {{ item.commit_siblings | default('5') }}{#				# range 1-1000 #}

# - Checkpoints -
checkpoint_segments = {{ item.checkpoint_segments | default('3') }}{#			# in logfile segments, min 1, 16MB each #}

checkpoint_timeout = {{ item.checkpoint_timeout | default('5min') }}{#			# range 30s-1h #}

checkpoint_completion_target = {{ item.checkpoint_completion_target | default('0.5') }}{# # checkpoint target duration, 0.0 - 1.0 #}

checkpoint_warning = {{ item.checkpoint_warning | default('30s') }}{#			# 0 disables #}

# - Archiving -
{% if item.archive_mode is defined and item.archive_mode %}
archive_mode = {{ item.archive_mode }}{#						# allows archiving to be done #}

{% elif item.wal_level is defined and item.wal_level == 'archive' %}
archive_mode = on
{% elif postgresql_default_wal_level is defined and postgresql_default_wal_level == 'archive' %}
archive_mode = on
{% else %}
archive_mode = off
{% endif %}
archive_command = '{{ item.archive_command | default(postgresql_default_archive_command) }}'{#				# command to use to archive a logfile segment #}

archive_timeout = {{ item.archive_timeout | default('0') }}{#				# force a logfile segment switch after this number of seconds; 0 disables #}


#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

# - Sending Server(s) -
# Set these on the master and on any standby that will send replication data
max_wal_senders = {{ item.max_wal_senders | default('0') }}{#				# max number of walsender processes #}

wal_keep_segments = {{ item.wal_keep_segments | default('0') }}{#			# in logfile segments, 16MB each; 0 disables #}

wal_sender_timeout = {{ item.wal_sender_timeout | default('60s') }}{#			# in milliseconds; 0 disables #}

max_replication_slots = {{ item.max_replication_slots | default('0') }} {#	# max number of replication slots #}

# - Master Server -
# These settings are ignored on a standby server
synchronous_standby_names = '{{ item.synchronous_standby_names | default("") }}'{#	# standby servers that provide sync rep
											# comma-separated list of application_name
											# from standby(s); '*' = all #}

vacuum_defer_cleanup_age = {{ item.vacuum_defer_cleanup_age | default('0') }}{#		# number of xacts by which cleanup is delayed #}


# - Standby Servers -
# These settings are ignored on a master server
hot_standby = {{ item.hot_standby | default('off') }}{#					# "on" allows queries during recovery #}

max_standby_archive_delay = {{ item.max_standby_archive_delay | default('30s') }}{#	# max delay before canceling queries
											# when reading WAL from archive;
											# -1 allows indefinite delay #}

max_standby_streaming_delay = {{ item.max_standby_streaming_delay | default('30s') }}{#	# max delay before canceling queries
											# when reading streaming WAL;
											# -1 allows indefinite delay #}

wal_receiver_status_interval = {{ item.wal_receiver_status_interval | default('10s') }}{# # send replies at least this often, 0 disables #}

hot_standby_feedback = {{ item.hot_standby_feedback | default('off') }}{#		# send info from standby to prevent query conflicts #}

wal_receiver_timeout = {{ item.wal_receiver_timeout | default('60s') }}{#		# time that receiver waits for communication
											# from master in miliseconds; 0 disables #}

#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------

# - Planner Method Configuration -
enable_bitmapscan = {{ item.enable_bitmapscan | default('on') }}
enable_hashagg = {{ item.enable_hashagg | default('on') }}
enable_hashjoin = {{ item.enable_hashjoin | default('on') }}
enable_indexscan = {{ item.enable_indexscan | default('on') }}
enable_indexonlyscan = {{ item.enable_indexonlyscan | default('on') }}
enable_material = {{ item.enable_material | default('on') }}
enable_mergejoin = {{ item.enable_mergejoin | default('on') }}
enable_nestloop = {{ item.enable_nestloop | default('on') }}
enable_seqscan = {{ item.enable_seqscan | default('on') }}
enable_sort = {{ item.enable_sort | default('on') }}
enable_tidscan = {{ item.enable_tidscan | default('on') }}

# - Planner Cost Constants -
seq_page_cost = {{ item.seq_page_cost | default('1.0') }}{#				# measured on an arbitrary scale #}

random_page_cost = {{ item.random_page_cost | default('4.0') }}{#			# same scale as above #}

cpu_tuple_cost = {{ item.cpu_tuple_cost | default('0.01') }}{#				# same scale as above #}

cpu_index_tuple_cost = {{ item.cpu_index_tuple_cost | default('0.005') }}{#		# same scale as above #}

cpu_operator_cost = {{ item.cpu_operator_cost | default('0.0025') }}{#			# same scale as above #}

effective_cache_size = {{ item.effective_cache_size | default('128MB') }}

# - Genetic Query Optimizer -
geqo = {{ item.geqo | default('on') }}
geqo_threshold = {{ item.geqo_threshold | default('12') }}
geqo_effort = {{ item.geqo_effort | default('5') }}{#					# range 1-10 #}

geqo_pool_size = {{ item.geqo_pool_size | default('0') }}{#				# selects default based on effort #}

geqo_generations = {{ item.geqo_generations | default('0') }}{#				# selects default based on effort #}

geqo_selection_bias = {{ item.geqo_selection_bias | default('2.0') }}{#			# range 1.5-2.0 #}

geqo_seed = {{ item.geqo_seed | default('0.0') }}{#					# range 0.0-1.0 #}

# - Other Planner Options -
default_statistics_target = {{ item.default_statistics_target | default('100') }}{#	# range 1-10000 #}

constraint_exclusion = {{ item.constraint_exclusion | default('partition') }}{#		# on, off, or partition #}

cursor_tuple_fraction = {{ item.cursor_tuple_fraction | default('0.1') }}{#		# range 0.0-1.0 #}

from_collapse_limit = {{ item.from_collapse_limit | default('8') }}
join_collapse_limit = {{ item.join_collapse_limit | default('8') }}{#			# 1 disables collapsing of explicit JOIN clauses #}



#------------------------------------------------------------------------------
# ERROR REPORTING AND LOGGING
#------------------------------------------------------------------------------

# - Where to Log -
log_destination = '{{ item.log_destination | default(postgresql_default_log_destination) }}'
{#											# Valid values are combinations of
											# stderr, csvlog, syslog, and eventlog,
											# depending on platform.  csvlog
											# requires logging_collector to be on. #}

# This is used when logging to stderr:
logging_collector = {{ item.logging_collector | default('off') }}{#			# Enable capturing of stderr and csvlog
											# into log files. Required to be on for
											# csvlogs. #}


# These are only used if logging_collector is on:
log_directory = '{{ item.log_directory | default("pg_log") }}'{#			# directory where log files are written,
											# can be absolute or relative to PGDATA #}

log_filename = '{{ item.log_filename | default("postgresql-%Y-%m-%d_%H%M%S.log") }}'{#	# log file name pattern,
											# can include strftime() escapes #}

log_file_mode = {{ item.log_file_mode | default('0600') }}{#				# creation mode for log files, begin with 0 to use octal notation #}

log_truncate_on_rotation = {{ item.log_truncate_on_rotation | default('off') }}{#	# If on, an existing log file with the
											# same name as the new log file will be
											# truncated rather than appended to.
											# But such truncation only occurs on
											# time-driven rotation, not on restarts
											# or size-driven rotation.  Default is
											# off, meaning append to existing files
											# in all cases. #}

log_rotation_age = {{ item.log_rotation_age | default('1d') }}{#			# Automatic rotation of logfiles will
											# happen after that time.  0 disables. #}

log_rotation_size = {{ item.log_rotation_size | default('10MB') }}{#			# Automatic rotation of logfiles will
											# happen after that much log output.
											# 0 disables. #}


# These are relevant when logging to syslog:
syslog_facility = '{{ item.syslog_facility | default("LOCAL0") }}'
syslog_ident = '{{ item.syslog_ident | default("postgres-" + item.name) }}'

# - When to Log -
client_min_messages = {{ item.client_min_messages | default('notice') }}{#		# values in order of decreasing detail:
											#   debug5
											#   debug4
											#   debug3
											#   debug2
											#   debug1
											#   log
											#   notice
											#   warning
											#   error #}

log_min_messages = {{ item.log_min_messages | default('warning') }}{#			# values in order of decreasing detail:
											#   debug5
											#   debug4
											#   debug3
											#   debug2
											#   debug1
											#   info
											#   notice
											#   warning
											#   error
											#   log
											#   fatal
											#   panic #}

log_min_error_statement = {{ item.log_min_error_statement | default('error') }}{#	# values in order of decreasing detail:
											#   debug5
											#   debug4
											#   debug3
											#   debug2
											#   debug1
											#   info
											#   notice
											#   warning
											#   error
											#   log
											#   fatal
											#   panic (effectively off) #}

log_min_duration_statement = {{ item.log_min_duration_statement | default('-1') }}{#	# -1 is disabled, 0 logs all statements
											# and their durations, > 0 logs only
											# statements running at least this number
											# of milliseconds #}


# - What to Log -
debug_print_parse = {{ item.debug_print_parse | default('off') }}
debug_print_rewritten = {{ item.debug_print_rewritten | default('off') }}
debug_print_plan = {{ item.debug_print_plan | default('off') }}
debug_pretty_print = {{ item.debug_pretty_print | default('on') }}
log_checkpoints = {{ item.log_checkpoints | default('off') }}
log_connections = {{ item.log_connections | default('off') }}
log_disconnections = {{ item.log_disconnections | default('off') }}
log_duration = {{ item.log_duration | default('off') }}
log_error_verbosity = {{ item.log_error_verbosity | default('default') }}{#		# terse, default, or verbose messages #}

log_hostname = {{ item.log_hostname | default('off') }}
log_line_prefix = '{{ item.log_line_prefix | default("%t [%p-%l] %q%u@%d ") }}'{#			# special values:
											#   %a = application name
											#   %u = user name
											#   %d = database name
											#   %r = remote host and port
											#   %h = remote host
											#   %p = process ID
											#   %t = timestamp without milliseconds
											#   %m = timestamp with milliseconds
											#   %i = command tag
											#   %e = SQL state
											#   %c = session ID
											#   %l = session line number
											#   %s = session start timestamp
											#   %v = virtual transaction ID
											#   %x = transaction ID (0 if none)
											#   %q = stop here in non-session
											#        processes
											#   %% = '%'
											# e.g. '<%u%%%d> ' #}

log_lock_waits = {{ item.log_lock_waits | default('off') }}{#				# log lock waits >= deadlock_timeout #}

log_statement = '{{ item.log_statement | default("none") }}'{#				# none, ddl, mod, all #}

log_temp_files = {{ item.log_temp_files | default('-1') }}{#				# log temporary files equal or larger
											# than the specified size in kilobytes;
											# -1 disables, 0 logs all temp files #}

log_timezone = '{{ item.log_timezone | default("localtime") }}'

#------------------------------------------------------------------------------
# RUNTIME STATISTICS
#------------------------------------------------------------------------------

# - Query/Index Statistics Collector -
track_activities = {{ item.track_activities | default('on') }}
track_counts = {{ item.track_counts | default('on') }}
track_io_timing = {{ item.track_io_timing | default('off') }}
track_functions = {{ item.track_functions | default('none') }}{#			# none, pl, all #}

track_activity_query_size = {{ item.track_activity_query_size | default('1024') }}
update_process_title = {{ item.update_process_title | default('on') }}
stats_temp_directory = '{{ item.stats_temp_directory | default("pg_stat_tmp") }}'

# - Statistics Monitoring -
log_parser_stats = {{ item.log_parser_stats | default('off') }}
log_planner_stats = {{ item.log_planner_stats | default('off') }}
log_executor_stats = {{ item.log_executor_stats | default('off') }}
log_statement_stats = {{ item.log_statement_stats | default('off') }}

#------------------------------------------------------------------------------
# AUTOVACUUM PARAMETERS
#------------------------------------------------------------------------------
autovacuum = {{ item.autovacuum | default('on') }}{#					# Enable autovacuum subprocess?  'on'
											# requires track_counts to also be on. #}

log_autovacuum_min_duration = {{ item.log_autovacuum_min_duration | default('-1') }}{#	# -1 disables, 0 logs all actions and
											# their durations, > 0 logs only
											# actions running at least this number
											# of milliseconds. #}

autovacuum_max_workers = {{ item.autovacuum_max_workers | default('3') }}{#		# max number of autovacuum subprocesses #}

autovacuum_naptime = {{ item.autovacuum_naptime | default('1min') }}{#			# time between autovacuum runs #}

autovacuum_vacuum_threshold = {{ item.autovacuum_vacuum_threshold | default('50') }}{#	# min number of row updates before vacuum #}

autovacuum_analyze_threshold = {{ item.autovacuum_analyze_threshold | default('50') }}{# # min number of row updates before analyze #}

autovacuum_vacuum_scale_factor = {{ item.autovacuum_vacuum_scale_factor | default('0.2') }}{# # fraction of table size before vacuum #}

autovacuum_analyze_scale_factor = {{ item.autovacuum_analyze_scale_factor | default('0.1') }}{# # fraction of table size before analyze #}

autovacuum_freeze_max_age = {{ item.autovacuum_freeze_max_age | default('200000000') }}{# # maximum XID age before forced vacuum #}

autovacuum_multixact_freeze_max_age = {{ item.autovacuum_multixact_freeze_max_age | default('400000000') }}{# # maximum multixact age before forced vacuum #}

autovacuum_vacuum_cost_delay = {{ item.autovacuum_vacuum_cost_delay | default('20ms') }}
{#											# default vacuum cost delay for
											# autovacuum, in milliseconds;
											# -1 means use vacuum_cost_delay #}
autovacuum_vacuum_cost_limit = {{ item.autovacuum_vacuum_cost_limit | default('-1') }}
{#											# default vacuum cost limit for
											# autovacuum, -1 means use
											# vacuum_cost_limit #}
#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

# - Statement Behavior -
search_path = '{{ item.search_path | default("\"$user\",public") }}'{#			# schema names #}

default_tablespace = '{{ item.default_tablespace | default("") }}'{#			# a tablespace name, '' uses the default #}

temp_tablespaces = '{{ item.temp_tablespaces | default("") }}'{#			# a list of tablespace names, '' uses only default tablespace #}

check_function_bodies = {{ item.check_function_bodies | default('on') }}
default_transaction_isolation = '{{ item.default_transaction_isolation | default("read committed") }}'
default_transaction_read_only = {{ item.default_transaction_read_only | default('off') }}
default_transaction_deferrable = {{ item.default_transaction_deferrable | default('off') }}
session_replication_role = '{{ item.session_replication_role | default("origin") }}'
statement_timeout = {{ item.statement_timeout | default('0') }}{#			# in milliseconds, 0 is disabled #}

lock_timeout = {{ item.lock_timeout | default('0') }}{#					# in miliseconds, 0 is disabled #}

vacuum_freeze_min_age = {{ item.vacuum_freeze_min_age | default('50000000') }}
vacuum_freeze_table_age = {{ item.vacuum_freeze_table_age | default('150000000') }}
vacuum_multixact_freeze_min_age = {{ item.vacuum_multixact_freeze_min_age | default('5000000') }}
vacuum_multixact_freeze_table_age = {{ item.vacuum_multixact_freeze_table_age | default('150000000') }}

bytea_output = '{{ item.bytea_output | default("hex") }}'{#				# hex, escape #}

xmlbinary = '{{ item.xmlbinary | default("base64") }}'
xmloption = '{{ item.xmloption | default("content") }}'

# - Locale and Formatting -
datestyle = '{{ item.datestyle | default("iso, dmy") }}'
intervalstyle = '{{ item.intervalstyle | default("postgres") }}'
timezone = '{{ item.timezone | default("localtime") }}'
timezone_abbreviations = '{{ item.timezone_abbreviations | default("Default") }}'{#	# Select the set of available time zone
											# abbreviations.  Currently, there are
											#   Default
											#   Australia
											#   India
											# You can create your own file in
											# share/timezonesets/. #}

extra_float_digits = {{ item.extra_float_digits | default('0') }}{#			# min -15, max 3 #}

client_encoding = {{ item.client_encoding | default('sql_ascii') }}{#			# actually, defaults to database encoding #}

# These settings are initialized by initdb, but they can be changed.
lc_messages = '{{ item.locale_messages | default(postgresql_default_locale_messages) }}'{#		# locale for system error message strings #}

lc_monetary = '{{ item.locale | default(postgresql_default_locale) }}'{#		# locale for monetary formatting #}

lc_numeric = '{{ item.locale | default(postgresql_default_locale) }}'{#			# locale for number formatting #}

lc_time = '{{ item.locale | default(postgresql_default_locale) }}'{#			# locale for time formatting #}


# default configuration for text search
default_text_search_config = '{{ item.default_text_search_config | default("pg_catalog.simple") }}'

# - Other Defaults -
dynamic_library_path = '{{ item.dynamic_library_path | default("$libdir") }}'
local_preload_libraries = '{{ item.local_preload_libraries | default("") }}'
session_preload_libraries = '{{ item.session_preload_libraries | default("") }}'


#------------------------------------------------------------------------------
# LOCK MANAGEMENT
#------------------------------------------------------------------------------
deadlock_timeout = {{ item.deadlock_timeout | default('1s') }}
max_locks_per_transaction = {{ item.max_locks_per_transaction | default('64') }}{#	# min 10 #}
{#	# Note:  Each lock table slot uses ~270 bytes of shared memory, and there are
	# max_locks_per_transaction * (max_connections + max_prepared_transactions)
	# lock table slots. #}

max_pred_locks_per_transaction = {{ item.max_pred_locks_per_transaction | default('64') }}{# # min 10 #}

#------------------------------------------------------------------------------
# VERSION/PLATFORM COMPATIBILITY
#------------------------------------------------------------------------------

# - Previous PostgreSQL Versions -
array_nulls = {{ item.array_nulls | default('on') }}
backslash_quote = {{ item.backslash_quote | default('safe_encoding') }}{#		# on, off, or safe_encoding #}

default_with_oids = {{ item.default_with_oids | default('off') }}
escape_string_warning = {{ item.escape_string_warning | default('on') }}
lo_compat_privileges = {{ item.lo_compat_privileges | default('off') }}
quote_all_identifiers = {{ item.quote_all_identifiers | default('off') }}
sql_inheritance = {{ item.sql_inheritance | default('on') }}
standard_conforming_strings = {{ item.standard_conforming_strings | default('on') }}
synchronize_seqscans = {{ item.synchronize_seqscans | default('on') }}

# - Other Platforms and Clients -
transform_null_equals = {{ item.transform_null_equals | default('off') }}

#------------------------------------------------------------------------------
# ERROR HANDLING
#------------------------------------------------------------------------------
exit_on_error = {{ item.exit_on_error | default('off') }}{#				# terminate session on any error? #}

restart_after_crash = {{ item.restart_after_crash | default('on') }}{#			# reinitialize after backend crash? #}



#------------------------------------------------------------------------------
# CONFIG FILE INCLUDES
#------------------------------------------------------------------------------
# These options allow settings to be loaded from files other than the
# default postgresql.conf.

#include_dir = 'conf.d'                 # include files ending in '.conf' from
                                        # directory 'conf.d'
#include_if_exists = 'exists.conf'      # include file only if it exists
#include = 'special.conf'               # include file

#------------------------------------------------------------------------------
# CUSTOMIZED OPTIONS
#------------------------------------------------------------------------------

# Add settings for extensions here
