# {{ ansible_managed }}

{% if reprepro_distributions is defined and reprepro_distributions %}
{% for section in reprepro_distributions %}
{% for key, value in section.iteritems() %}
{{ key | capitalize }}: {{ value }}
{% endfor %}
{% endfor %}

{% endif %}


