# ReadTheDocs external requirements
# Copyright (C) 2021 Maciej Delmanowski <drybjed@gmail.com>
# Copyright (C) 2021 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-or-later

# Fix for https://github.com/readthedocs/readthedocs.org/issues/8616
docutils<0.18

sphinx_rtd_theme
