# {{ ansible_managed }}

# Override the default ExecStart= option that comes with the upstream Docker
# systemd unit. The socket configuration is specified in the 'daemon.json'
# configuration file.
[Service]
ExecStart=
ExecStart=/usr/bin/dockerd
