{# Copyright (C) 2023 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2023 David Härdeman <david@hardeman.nu>
 # Copyright (C) 2023 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# See networkd.conf(5) for details.
{% from 'macros.j2' import print_ini_section %}
{% for section in networkd__combined_configuration | debops.debops.parse_kv_items() %}
{{   print_ini_section(section) -}}
{% endfor %}
