{# Copyright (C) 2017 Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# `.pkla` files should now be considered deprecated, and will only continue to work if the polkitd-pkla package is installed.
# Ref: https://www.debian.org/releases/bookworm/amd64/release-notes/ch-information.en.html#changes-to-polkit-configuration
[Actions for kodi user]
Identity=unix-user:{{ kodi__user }}
Action={{ kodi__polkit_action }}
ResultAny=yes
ResultInactive=yes
ResultActive=yes
