
  [1;37m    /\\[0m       [1;36m\n.\O[0m
  [1;37m   /  \\[0m      [0;33m{{ machine__organization }}[0m
  [1;31m  Deb[1;36mOps[0m
  [1;37m   \\  /[0m      [1;33m\l [1;30m/ [1;32m\U[0m
  [1;37m    \\/[0m       [1;35m\s \r[0m

