{# Copyright (C) 2026 Patryk Sciborek <patryk@sciborek.com>
 # Copyright (C) 2026 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}
{{ exporter.config | to_nice_yaml(indent=2, width=120) }}
