# {{ ansible_managed }}
{#
#
#    ==== Default template for debops.rsyslog role ====
#
# List of parameters supported by this template:
#
#   - item.enabled: True/False
#       /etc/rsyslog.d/ directory.
#
#   - item.name: ''
#
#       First element is used to create name of the rsyslog configuration
#       file and must be a normal name.
#
#       List can also be empty (but needs to be defined) in which case the
#       configuration its included in will be named as '50_default'.
#
#
#   - item.backup: no/yes
#       Backup files. Default no.
#
#
#   - item.options: |
#       Optional. Add custom options to this server configuration using text
#       block (semicolons at the end of each line are required).
#
#}
{% if item.options is defined and item.options %}
{{ item.options }}

{% endif %}
