{# Copyright (C) 2026 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
{
"installed": {{ (zabbix_server__deploy_state == "present") | to_json }},
"version": {{ zabbix_server__version | to_json }},
"database": {{ zabbix_server__database | to_json }},
"api_url": {{ zabbix_server__api_url | to_json }},
"fqdn": {{ zabbix_server__fqdn | to_json }},
"trapper_port": {{ zabbix_server__trapper_port | to_json }}
}
