# {{ ansible_managed }}

{% set tinc__tpl_seen_keys = [ 'name', 'tinc-up', 'tinc-down', 'host-up', 'host-down', 'subnet-up', 'subnet-down' ] %}
{% if item.tinc_options|d() %}
{%   if item.hostname|d() %}
Name = {{ item.hostname | replace("-","_") }}
{%   elif item.tinc_options.Name|d() %}
Name = {{ item.tinc_options.Name | replace("-","_") }}
{%   else %}
Name = {{ tinc__hostname | replace("-","_") }}
{%   endif %}
{%   if item.port|d() %}
Port = {{ item.port }}
{%     set _ = tinc__tpl_seen_keys.append('port') %}
{%   endif %}
{%   if item.interface|d() %}
Interface = {{ item.interface }}
{%     set _ = tinc__tpl_seen_keys.append('interface') %}
{%   endif %}
{%   for key, value in item.tinc_options.iteritems() %}
{%     if key | lower not in tinc__tpl_seen_keys %}
{%       if value is string %}
{%         if key | lower in [ 'connectto' ] %}
{{ key }} = {{ value.split(".") | first | replace("-","_") }}
{%         else %}
{{ key }} = {{ value }}
{%         endif %}
{%       else %}
{%         for element in value %}
{%           if key | lower in [ 'connectto' ] %}
{{ key }} = {{ element.split(".") | first | replace("-","_") }}
{%           else %}
{{ key }} = {{ element }}
{%           endif %}
{%         endfor %}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}

