# {{ ansible_managed }}

{% set tinc_tpl_daemon_keys_seen = [] %}
{% if tinc_hostname is defined and tinc_hostname %}
Name = {{ tinc_hostname }}
{% else %}
Name = $HOST
{% endif %}
{% for key, value in tinc_configuration.iteritems() %}
{% if key | lower not in [ 'name', 'tinc-up', 'tinc-down', 'host-up', 'host-down', 'subnet-up', 'subnet-down' ] %}
{% if key in tinc_daemon_configuration.keys() %}
{% if tinc_daemon_configuration[key] is string %}
{{ key }} = {{ tinc_daemon_configuration[key] }}
{% else %}
{% for element in tinc_daemon_configuration[key] %}
{{ key }} = {{ element }}
{% endfor %}
{% endif %}
{% set _ = tinc_tpl_daemon_keys_seen.append(key) %}
{% else %}
{% if value is string %}
{{ key }} = {{ value }}
{% else %}
{% for element in value %}
{{ key }} = {{ element }}
{% endfor %}
{% endif %}
{% set _ = tinc_tpl_daemon_keys_seen.append(key) %}
{% endif %}
{% endif %}
{% endfor %}
{% for key, value in tinc_daemon_configuration.iteritems() %}
{% if key | lower not in [ 'name', 'tinc-up', 'tinc-down', 'host-up', 'host-down', 'subnet-up', 'subnet-down' ] %}
{% if key not in tinc_tpl_daemon_keys_seen %}
{% if value is string %}
{{ key }} = {{ value }}
{% else %}
{% for element in value %}
{{ key }} = {{ element }}
{% endfor %}
{% endif %}
{% set _ = tinc_tpl_daemon_keys_seen.append(key) %}
{% endif %}
{% endif %}
{% endfor %}

