# {{ ansible_managed }}

{% set tinc__tpl_seen_keys = [ 'name', 'tinc-up', 'tinc-down', 'host-up', 'host-down', 'subnet-up', 'subnet-down' ] %}
{% if item.tinc_options|d() %}
Name = {{ item.hostname|d(item.tinc_options.Name|d(tinc__hostname )) | replace("-","_") }}
{%   if item.port|d() %}
Port = {{ item.port }}
{%     set _ = tinc__tpl_seen_keys.append('port') %}
{%   endif %}
{%   if item.interface|d() %}
Interface = {{ item.interface }}
{%     set _ = tinc__tpl_seen_keys.append('interface') %}
{%   endif %}
{%   for key, value in item.tinc_options.iteritems() %}
{%     if key | lower not in tinc__tpl_seen_keys %}
{%       if value is string %}
{%         if key | lower in [ 'connectto' ] %}
{{ key }} = {{ value.split(".") | first | replace("-","_") }}
{%         else %}
{{ key }} = {{ value }}
{%         endif %}
{%       else %}
{%         for element in value %}
{%           if key | lower in [ 'connectto' ] %}
{{ key }} = {{ element.split(".") | first | replace("-","_") }}
{%           else %}
{{ key }} = {{ element }}
{%           endif %}
{%         endfor %}
{%       endif %}
{%     endif %}
{%   endfor %}
{%   if not (item.node_reachable|d(True) | bool) and "BindToInterface"|lower not in tinc__tpl_seen_keys %}
## Disabled because with this experimental feature enabled Tinc failed to connect to the VPN with "Error looking up [peer]: Name or service not known" as of 1.0.24-2.1+b1.
# BindToInterface = lo
{%   endif %}
{% endif %}
