# {{ ansible_managed }}

# SNMP client configuration

defVersion         {{ librenms_snmp_version }}

defCommunity       {{ librenms_snmp_communities[0] }}

defSecurityLevel   {{ librenms_fact_snmp_v3_authlevel }}
defAuthType        {{ librenms_fact_snmp_v3_authalgo }}
defPrivType        {{ librenms_fact_snmp_v3_cryptoalgo }}

defSecurityName    {{ librenms_fact_snmp_v3_authname }}
defAuthPassphrase  {{ librenms_fact_snmp_v3_authpass }}
defPrivPassphrase  {{ librenms_fact_snmp_v3_cryptopass }}

