# Enable apt-cacher-ng proxy (-t filter -A INPUT)
# {{ ansible_managed }}

{% if apt_cache_host is defined and apt_cache_host %}
protocol tcp dport {{ apt_cache_port | default('3142') }} ACCEPT;
{% endif %}


