# Enable TFTP server (-t filter -A INPUT)
# {{ ansible_managed }}

{% if apt_cache_host is defined and apt_cache_host %}
{% if apt_cache_allow is defined and apt_cache_allow %}
protocol udp dport 69 {
{% for address in apt_cache_allow %}
	saddr {{ address }} ACCEPT;
{% endfor %}
{% if apt_cache_allow_custom is defined and apt_cache_allow_custom %}
{% for address in apt_cache_allow_custom %}
	saddr {{ address }} ACCEPT;
{% endfor %}
{% endif %}
}
{% endif %}
{% else %}
protocol udp dport 69 ACCEPT;
{% endif %}


