#!/bin/bash

# {{ ansible_managed }}

set -e

# If no project name is given, display help
if [ $# -eq 0 ] ; then
	cat <<-EOF
	Usage: drop <repository>

	Delete <repository>
	EOF
	exit 1
fi

# Sanitize repository name
repository=${1//[^a-zA-Z0-9\.\/\_-]/}
project=$(echo "${repository}" | sed -e 's/^\///i' -e 's/\.\././g' -e 's/^\.//i' -e 's/\.git$\|$/.git/i')

if [ -d ${project} ] ; then
	rm -rf "${HOME}/${project}"
else
	echo "Error: Repository ${repository} not found" && exit 1
fi


