# {{ ansible_managed }}

{% set tinc__tpl_host_keys_seen = [] %}
{% if item.tinc_host_options|d() %}
{%   for key, value in item.tinc_host_options.iteritems() %}
{%     if key | lower not in [ '{{ (item.hostname | d(tinc__hostname)) | replace("-","_") }}-up', '{{ (item.hostname | d(tinc__hostname)) | replace("-","_") }}-down', 'host-up', 'host-down' ] %}
{%       if key not in tinc__tpl_host_keys_seen %}
{%         if value is string %}
{{ key }} = {{ value }}
{%         else %}
{%           for element in value %}
{{ key }} = {{ element }}
{%           endfor %}
{%         endif %}
{%         set _ = tinc__tpl_host_keys_seen.append(key) %}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}
{% if (('Address' not in tinc__tpl_host_keys_seen) or ('address' not in tinc__tpl_host_keys_seen)) %}
{%   for address in (( [ item.tinc_addresses|d('') ] if (item.tinc_addresses|d() and item.tinc_addresses is string) else item.tinc_addresses|d([])) + ([ tinc__host_addresses ] if tinc__host_addresses is string else tinc__host_addresses)) %}
{%     if address and (address not in (( [ item.tinc_exclude_addresses|d('') ] if (item.tinc_exclude_addresses is string) else item.tinc_exclude_addresses|d([])) + ([ tinc__exclude_host_addresses ] if (tinc__exclude_host_addresses is string) else tinc__exclude_host_addresses))) %}
Address = {{ address }} {{ item.tinc_options.Port if item.tinc_options.Port|d() else item.port }}
{%     endif %}
{%   endfor %}
{% endif %}
