# {{ ansible_managed }}

# etherpad-lite logrotate settings

{{ etherpad_log_dir }}/etherpad-lite.log {
    weekly
    missingok
    rotate 4
    compress
    notifempty
    create 644 {{ etherpad_user }} {{ etherpad_group }}
}

