# {{ ansible_managed }}

/var/log/php5-fpm.log /var/log/php5-fpm/*.log {
	rotate 12
	weekly
	missingok
	notifempty
	compress
	delaycompress
	postrotate
{% if php5_register_reopenlogs.stat.exists %}
		/usr/lib/php5/php5-fpm-reopenlogs
{% else %}
		invoke-rc.d php5-fpm reopen-logs > /dev/null
{% endif %}
	endscript
}
