{# Copyright (C) 2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
  - 'opendkim/domainkeys'
  - 'opendkim/lib'
