# {{ ansible_managed }}

# Configuration for phpipam-hosts

# Database configuration
[mysql]
user		= {{ phpipam_scripts_database_user }}
host		= {{ phpipam_scripts_database_host }}
database	= {{ phpipam_scripts_database_name }}
password	= {{ phpipam_scripts_database_password }}

{% if phpipam_scripts_config_groups is defined and phpipam_scripts_config_groups %}
{%   for group, config in phpipam_scripts_config_groups.items() %}
[{{ group }}]
{%     for key, value in config.items() %}
{%       if value is defined and value %}
{%         if value is string %}
{{ "%-20s = %s" | format(key | replace("_","-"), value) }}
{%         else %}
{{ "%-20s = %s" | format(key | replace("_","-"), value | join(" ")) }}
{%         endif %}
{%       endif %}
{%     endfor %}

{%   endfor %}
{% endif %}
