{# Copyright (C) 2020 CipherMail B.V. <https://www.ciphermail.com/>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

# What servers should the DHCP relay forward requests to?
SERVERS="{{ dhcrelay__servers|join(" ") }}"

# On what interfaces should the DHCP relay (dhrelay) serve DHCP requests?
INTERFACES="{{ dhcrelay__interfaces|join(" ") }}"

# Additional options that are passed to the DHCP relay daemon?
OPTIONS="{{ dhcrelay__options }}"
