{# Copyright (C) 2015-2019 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2019      Imre Jonk <mail@imrejonk.nl>
 # Copyright (C) 2015-2019 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# Override the default ExecStart= option that comes with the upstream Docker
# systemd unit. The socket configuration is specified in the 'daemon.json'
# configuration file.
[Service]
ExecStart=
ExecStart={{ ansible_local.docker_server.dockerd_binary|d("/usr/sbin/dockerd") }}
