{# Copyright (C) 2015-2019 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2019      Imre Jonk <mail@imrejonk.nl>
 # Copyright (C) 2015-2019 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

{% if docker_server__env_http_proxy|d() or docker_server__env_https_proxy|d() %}
[Service]
Environment={% if docker_server__env_http_proxy|d() %}"HTTP_PROXY={{ docker_server__env_http_proxy }}" {% endif %}{% if docker_server__env_https_proxy|d() %}"HTTPS_PROXY={{ docker_server__env_https_proxy }}"{% endif %} {% if docker_server__env_no_proxy|d() %}"NO_PROXY={{ docker_server__env_no_proxy }}"{% endif %}
{% endif %}
