# {{ ansible_managed }}

{% if dnsmasq_nameservers|d() and dnsmasq_nameservers is iterable %}
{% for nameserver in dnsmasq_nameservers %}
nameserver {{ nameserver }}
{% endfor %}
{% elif dnsmasq_nameservers|d() and dnsmasq_nameservers is string %}
nameserver {{ dnsmasq_nameservers }}
{% endif %}
