# Copyright (C) 2021 Pedro Luis Lopez <pedroluis.lopezsanchez@gmail.com>
# Copyright (C) 2021 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-or-later

# {{ ansible_managed }}

{% set ghostunnel__tpl_args = [] %}
{% set _ = ghostunnel__tpl_args.append('--{} {}'.format('shutdown-timeout', item.shutdown_timeout|d(ghostunnel__shutdown_timeout))) %}
{% set _ = ghostunnel__tpl_args.append('--{} {}'.format('connect-timeout', item.connect_timeout|d(ghostunnel__connect_timeout))) %}
{% if item.status|d(False) %}
{%   set _ = ghostunnel__tpl_args.append('--{} {}'.format('status', item.status)) %}
{% endif %}
{% for quiet in item.quiet|d(ghostunnel__quiet) %}
{%   set _ = ghostunnel__tpl_args.append('--{} {}'.format('quiet', quiet)) %}
{% endfor %}
{% set _ = ghostunnel__tpl_args.append('--{} {}'.format('listen', item.listen)) %}
{% set _ = ghostunnel__tpl_args.append('--{} {}'.format('target', item.target)) %}
{% if item.unsafe_listen|d(False) %}
{%   set _ = ghostunnel__tpl_args.append('--{}'.format('unsafe-listen')) %}
{% endif %}
{% if item.override_server_name|d(False) %}
{%   set _ = ghostunnel__tpl_args.append('--{} {}'.format('override-server-name', item.override_server_name)) %}
{% endif %}
{% if item.connect_proxy|d(False) %}
{%   set _ = ghostunnel__tpl_args.append('--{} {}'.format('connect-proxy', item.connect_proxy)) %}
{% endif %}
{% for verify_cn in item.verify_cn|d([]) %}
{%   set _ = ghostunnel__tpl_args.append('--{} {}'.format('verify-cn', verify_cn)) %}
{% endfor %}
{% for verify_ou in item.verify_ou|d([]) %}
{%   set _ = ghostunnel__tpl_args.append('--{} {}'.format('verify-ou', verify_ou)) %}
{% endfor %}
{% for verify_dns in item.verify_dns|d([]) %}
{%   set _ = ghostunnel__tpl_args.append('--{} {}'.format('verify-dns', verify_dns)) %}
{% endfor %}
{% for verify_uri in item.verify_uri|d([]) %}
{%   set _ = ghostunnel__tpl_args.append('--{} {}'.format('verify-uri', verify_uri)) %}
{% endfor %}
{% if item.disable_authentication|d(False) %}
{%   set _ = ghostunnel__tpl_args.append('--{}'.format('disable-authentication')) %}
{% endif %}
ARGS="{{ ghostunnel__tpl_args | join(' ') }}"
CERT_PATH="{{ ghostunnel__pki_path + "/" + ghostunnel__pki_realm + "/" + ghostunnel__pki_crt }}"
KEY_PATH="{{ ghostunnel__pki_path + "/" + ghostunnel__pki_realm + "/" + ghostunnel__pki_key }}"
CACERT_PATH="{{ ghostunnel__pki_path + "/" + ghostunnel__pki_realm + "/" + ghostunnel__pki_ca }}"
