# {{ ansible_managed }}
{#

This file follows the upstream default configuration except for the parts
that are configurable via DebOps variables. If you need a more customized
setup, you can provide your own template via lookup mechanism.

#}
{% import 'dovecot_macros.j2' as macros with context %}

{% if 'imap' in dovecot_protocols %}
{%   if dovecot_imap_config_map is defined and dovecot_imap_config_map %}
{%     if 'login-service' in dovecot_imap_config_map %}
{%       set dovecot_tpl_imap_login_map = dovecot_imap_config_map['login-service'] %}
{%     endif %}
{%     if 'service' in dovecot_imap_config_map %}
{%       set dovecot_tpl_imap_svc_map = dovecot_imap_config_map['service'] %}
{%     endif %}
{%   endif %}
{{ macros.dovecot_login_service('imap', dovecot_imap_listeners|default([]), dovecot_tpl_imap_login_map|default({})) }}
{% endif %}
{% if 'pop3' in dovecot_protocols %}
{%   if dovecot_pop3_config_map is defined and dovecot_pop3_config_map %}
{%     if 'login-service' in dovecot_pop3_config_map %}
{%       set dovecot_tpl_pop3_login_map = dovecot_pop3_config_map['login-service'] %}
{%     endif %}
{%     if 'service' in dovecot_pop3_config_map %}
{%       set dovecot_tpl_pop3_svc_map = dovecot_pop3_config_map['service'] %}
{%     endif %}
{%   endif %}
{{ macros.dovecot_login_service('pop3', dovecot_pop3_listeners|default([]), dovecot_tpl_pop3_login_map|default({})) }}
{% endif %}
{% if 'imap' in dovecot_protocols %}
{{ macros.dovecot_service('imap', dovecot_tpl_imap_svc_map|default({})) }}
{% endif %}
{% if 'pop3' in dovecot_protocols %}
{{ macros.dovecot_service('pop3', dovecot_tpl_pop3_svc_map|default({})) }}
{% endif %}
service auth {
  unix_listener auth-userdb {
  }
}

service auth-worker {
}

service dict {
  unix_listener dict {
  }
}
