# {{ ansible_managed }}
{#

This file follows the upstream default configuration except for the parts
that are configurable via DebOps variables. If you need a more customized
setup, you can provide your own template via lookup mechanism.

#}
{% import 'dovecot_macros.j2' as macros with context %}

##
## ManageSieve specific settings
##
{% if dovecot_protocols | intersect(dovecot_managesieve_listeners|default([])) %}

# Service definitions

{% if dovecot_managesieve_config_map is defined and dovecot_managesieve_config_map %}
{% if 'login-service' in dovecot_managesieve_config_map %}
{% set dovecot_tpl_sieve_login_map = dovecot_managesieve_config_map['login-service'] %}
{% endif %}
{% if 'service' in dovecot_managesieve_config_map %}
{% set dovecot_tpl_sieve_svc_map = dovecot_managesieve_config_map['service'] %}
{% endif %}
{% if 'protocol' in dovecot_managesieve_config_map %}
{% set dovecot_tpl_managesieve_proto_map = dovecot_managesieve_config_map['protocol'] %}
{% endif %}
{% endif %}
{{ macros.dovecot_login_service('managesieve', dovecot_managesieve_listeners, dovecot_tpl_sieve_login_map|default({})) }}
{{ macros.dovecot_service('managesieve', dovecot_tpl_sieve_svc_map|default({})) }}

# Service configuration

{{ macros.dovecot_protocol('sieve', dovecot_tpl_managesieve_proto_map|default({})) }}
{% endif %}
