{# Copyright (C) 2014-2017 Maciej Delmanowski <drybjed@gmail.com>
 # Copyright (C) 2015      Hartmut Goebel <h.goebel@crazy-compilers.com>
 # Copyright (C) 2015      Robin Schneider <ypid@riseup.net>
 # Copyright (C) 2014-2017 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# etherpad-lite system configuration

# Installation directory
EPLITE_DIR="{{ etherpad_home + '/' + etherpad_repository }}"

# System user
USER="{{ etherpad_user }}"

# System group
GROUP="{{ etherpad_group }}"

