## {{ ansible_managed }}

{% for module in kernel_module__combined_list %}
{% if module.params is defined and
    module.state|d('present') == 'present' and
    (module.persistent|d(True) | bool) and
    not (module.blacklist|d(False))
    %}
options {{ module.name }} {{ module.params if (module.params is string) else (module.params|join(' ')) }}
{%   endif %}
{% endfor %}
